---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    form:
      include_deleted:
      - "false"
      name:
      - Ubuntu
      order_by:
      - created_at_asc
      project_id:
      - 19a4819b-24bf-4d44-969f-935ef0061b71
    headers:
    url: https://api.scaleway.com/block/v1/zones/fr-par-1/volumes?include_deleted=false&name=Ubuntu&order_by=created_at_asc&project_id=19a4819b-24bf-4d44-969f-935ef0061b71
    method: GET
  response:
    body: "{\"volumes\":[{\"id\":\"226c3fe7-664e-432d-a1f6-bbc8182e0259\", \"name\":\"Ubuntu 22.04 Jammy Jellyfish_sbs_volume_0\", \"type\":\"sbs_5k\", \"size\":10000000000, \"project_id\":\"19a4819b-24bf-4d44-969f-935ef0061b71\", \"created_at\":\"2025-11-27T16:13:54.407466Z\", \"updated_at\":\"2025-11-27T16:15:22.497401Z\", \"references\":[], \"parent_snapshot_id\":\"36b4ce54-c67a-4f68-ab74-839515834352\", \"status\":\"available\", \"tags\":[], \"specs\":{\"perf_iops\":5000, \"class\":\"sbs\"}, \"last_detached_at\":\"2025-11-27T16:15:22.497401Z\", \"zone\":\"fr-par-1\"}], \"total_count\":1}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 127.576582ms
- id: 1
  request:
    host: api.scaleway.com
    form:
      include_deleted:
      - "false"
      name:
      - volume-with-name
      order_by:
      - created_at_asc
      project_id:
      - 19a4819b-24bf-4d44-969f-935ef0061b71
    headers:
    url: https://api.scaleway.com/block/v1/zones/fr-par-1/volumes?include_deleted=false&name=volume-with-name&order_by=created_at_asc&project_id=19a4819b-24bf-4d44-969f-935ef0061b71
    method: GET
  response:
    body: "{\"volumes\":[{\"id\":\"c210b53e-fde7-4969-a4ef-6a8f8cf43107\", \"name\":\"volume-with-name\", \"type\":\"sbs_5k\", \"size\":20000000000, \"project_id\":\"19a4819b-24bf-4d44-969f-935ef0061b71\", \"created_at\":\"2025-11-27T16:13:54.117519Z\", \"updated_at\":\"2025-11-27T16:15:22.588165Z\", \"references\":[], \"parent_snapshot_id\":null, \"status\":\"available\", \"tags\":[], \"specs\":{\"perf_iops\":5000, \"class\":\"sbs\"}, \"last_detached_at\":\"2025-11-27T16:15:22.588165Z\", \"zone\":\"fr-par-1\"}], \"total_count\":1}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 42.417891ms
- id: 2
  request:
    host: api.scaleway.com
    form:
      name:
      - packer-e2e-block
      page:
      - "1"
      project:
      - 19a4819b-24bf-4d44-969f-935ef0061b71
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images?name=packer-e2e-block&page=1&project=19a4819b-24bf-4d44-969f-935ef0061b71
    method: GET
  response:
    body: "{\"images\": [{\"id\": \"92eb9383-8f33-40f0-a7f0-11aaf79235e8\", \"name\": \"packer-e2e-block\", \"organization\": \"fa1e3217-dc80-42ac-85c3-3f034b78b552\", \"project\": \"19a4819b-24bf-4d44-969f-935ef0061b71\", \"root_volume\": {\"volume_type\": \"sbs_snapshot\", \"id\": \"e48109b8-1c0d-4757-aafb-eebb1a56c788\", \"size\": 0, \"name\": \"\"}, \"extra_volumes\": {\"1\": {\"volume_type\": \"sbs_snapshot\", \"id\": \"2d82ae3e-5cea-4e81-9563-4b7dad10a73d\", \"size\": 0, \"name\": \"\"}}, \"public\": false, \"arch\": \"x86_64\", \"creation_date\": \"2025-11-27T16:15:21.203705+00:00\", \"modification_date\": \"2025-11-27T16:15:21.203705+00:00\", \"default_bootscript\": null, \"from_server\": \"\", \"state\": \"available\", \"tags\": [], \"zone\": \"fr-par-1\"}]}"
    headers:
      Content-Type:
      - application/json
      Link:
      - </images?page=1&per_page=50&name=packer-e2e-block&project=19a4819b-24bf-4d44-969f-935ef0061b71>; rel="last"
      X-Total-Count:
      - "1"
    status: 200 OK
    code: 200
    duration: 195.029122ms
- id: 3
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots/e48109b8-1c0d-4757-aafb-eebb1a56c788
    method: GET
  response:
    body: "{\"id\":\"e48109b8-1c0d-4757-aafb-eebb1a56c788\", \"name\":\"snp-happy-easley\", \"parent_volume\":{\"id\":\"226c3fe7-664e-432d-a1f6-bbc8182e0259\", \"name\":\"Ubuntu 22.04 Jammy Jellyfish_sbs_volume_0\", \"type\":\"sbs_5k\", \"status\":\"available\"}, \"size\":10000000000, \"project_id\":\"19a4819b-24bf-4d44-969f-935ef0061b71\", \"created_at\":\"2025-11-27T16:15:07.748975Z\", \"updated_at\":\"2025-11-27T16:15:21.252700Z\", \"references\":[{\"id\":\"87996c10-f151-42a9-950c-0714ed453538\", \"product_resource_type\":\"instance_image\", \"product_resource_id\":\"92eb9383-8f33-40f0-a7f0-11aaf79235e8\", \"created_at\":\"2025-11-27T16:15:21.252700Z\", \"type\":\"link\", \"status\":\"attached\"}], \"status\":\"in_use\", \"tags\":[], \"class\":\"sbs\", \"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 291.399753ms
[...]
- id: 5
  request:
    host: api.scaleway.com
    form:
      include_deleted:
      - "false"
      name:
      - snp-
      order_by:
      - created_at_asc
      project_id:
      - 19a4819b-24bf-4d44-969f-935ef0061b71
    headers:
    url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots?include_deleted=false&name=snp-&order_by=created_at_asc&project_id=19a4819b-24bf-4d44-969f-935ef0061b71
    method: GET
  response:
    body: "{\"snapshots\":[{\"id\":\"e48109b8-1c0d-4757-aafb-eebb1a56c788\", \"name\":\"snp-happy-easley\", \"parent_volume\":{\"id\":\"226c3fe7-664e-432d-a1f6-bbc8182e0259\", \"name\":\"Ubuntu 22.04 Jammy Jellyfish_sbs_volume_0\", \"type\":\"sbs_5k\", \"status\":\"available\"}, \"size\":10000000000, \"project_id\":\"19a4819b-24bf-4d44-969f-935ef0061b71\", \"created_at\":\"2025-11-27T16:15:07.748975Z\", \"updated_at\":\"2025-11-27T16:15:21.252700Z\", \"references\":[], \"status\":\"in_use\", \"tags\":[], \"class\":\"sbs\", \"zone\":\"fr-par-1\"}], \"total_count\":1}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 44.257875ms
- id: 6
  request:
    host: api.scaleway.com
    form:
      include_deleted:
      - "false"
      name:
      - packer-
      order_by:
      - created_at_asc
      project_id:
      - 19a4819b-24bf-4d44-969f-935ef0061b71
    headers:
    url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots?include_deleted=false&name=packer-&order_by=created_at_asc&project_id=19a4819b-24bf-4d44-969f-935ef0061b71
    method: GET
  response:
    body: "{\"snapshots\":[{\"id\":\"2d82ae3e-5cea-4e81-9563-4b7dad10a73d\", \"name\":\"packer-1764260033\", \"parent_volume\":{\"id\":\"c210b53e-fde7-4969-a4ef-6a8f8cf43107\", \"name\":\"volume-with-name\", \"type\":\"sbs_5k\", \"status\":\"available\"}, \"size\":20000000000, \"project_id\":\"19a4819b-24bf-4d44-969f-935ef0061b71\", \"created_at\":\"2025-11-27T16:15:14.760950Z\", \"updated_at\":\"2025-11-27T16:15:21.625627Z\", \"references\":[], \"status\":\"in_use\", \"tags\":[], \"class\":\"sbs\", \"zone\":\"fr-par-1\"}], \"total_count\":1}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 45.581999ms
[...]
- id: 8
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images/92eb9383-8f33-40f0-a7f0-11aaf79235e8
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: 482.660045ms
- id: 9
  request:
    host: api.scaleway.com
    form:
      include_deleted:
      - "false"
      name:
      - snp-
      order_by:
      - created_at_asc
      page:
      - "1"
      project_id:
      - 19a4819b-24bf-4d44-969f-935ef0061b71
    headers:
    url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots?include_deleted=false&name=snp-&order_by=created_at_asc&page=1&project_id=19a4819b-24bf-4d44-969f-935ef0061b71
    method: GET
  response:
    body: "{\"snapshots\":[{\"id\":\"e48109b8-1c0d-4757-aafb-eebb1a56c788\", \"name\":\"snp-happy-easley\", \"parent_volume\":{\"id\":\"226c3fe7-664e-432d-a1f6-bbc8182e0259\", \"name\":\"Ubuntu 22.04 Jammy Jellyfish_sbs_volume_0\", \"type\":\"sbs_5k\", \"status\":\"available\"}, \"size\":10000000000, \"project_id\":\"19a4819b-24bf-4d44-969f-935ef0061b71\", \"created_at\":\"2025-11-27T16:15:07.748975Z\", \"updated_at\":\"2025-11-27T16:15:21.252700Z\", \"references\":[], \"status\":\"in_use\", \"tags\":[], \"class\":\"sbs\", \"zone\":\"fr-par-1\"}], \"total_count\":1}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 36.1243ms
[...]
- id: 11
  request:
    host: api.scaleway.com
    form:
      include_deleted:
      - "false"
      name:
      - Ubuntu
      order_by:
      - created_at_asc
      page:
      - "1"
      project_id:
      - 19a4819b-24bf-4d44-969f-935ef0061b71
    headers:
    url: https://api.scaleway.com/block/v1/zones/fr-par-1/volumes?include_deleted=false&name=Ubuntu&order_by=created_at_asc&page=1&project_id=19a4819b-24bf-4d44-969f-935ef0061b71
    method: GET
  response:
    body: "{\"volumes\":[{\"id\":\"226c3fe7-664e-432d-a1f6-bbc8182e0259\", \"name\":\"Ubuntu 22.04 Jammy Jellyfish_sbs_volume_0\", \"type\":\"sbs_5k\", \"size\":10000000000, \"project_id\":\"19a4819b-24bf-4d44-969f-935ef0061b71\", \"created_at\":\"2025-11-27T16:13:54.407466Z\", \"updated_at\":\"2025-11-27T16:15:22.497401Z\", \"references\":[], \"parent_snapshot_id\":\"36b4ce54-c67a-4f68-ab74-839515834352\", \"status\":\"available\", \"tags\":[], \"specs\":{\"perf_iops\":5000, \"class\":\"sbs\"}, \"last_detached_at\":\"2025-11-27T16:15:22.497401Z\", \"zone\":\"fr-par-1\"}], \"total_count\":1}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 44.001412ms
- id: 12
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/block/v1/zones/fr-par-1/volumes/226c3fe7-664e-432d-a1f6-bbc8182e0259
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: 64.410391ms
- id: 13
  request:
    host: api.scaleway.com
    form:
      include_deleted:
      - "false"
      name:
      - packer-
      order_by:
      - created_at_asc
      page:
      - "1"
      project_id:
      - 19a4819b-24bf-4d44-969f-935ef0061b71
    headers:
    url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots?include_deleted=false&name=packer-&order_by=created_at_asc&page=1&project_id=19a4819b-24bf-4d44-969f-935ef0061b71
    method: GET
  response:
    body: "{\"snapshots\":[{\"id\":\"2d82ae3e-5cea-4e81-9563-4b7dad10a73d\", \"name\":\"packer-1764260033\", \"parent_volume\":{\"id\":\"c210b53e-fde7-4969-a4ef-6a8f8cf43107\", \"name\":\"volume-with-name\", \"type\":\"sbs_5k\", \"status\":\"available\"}, \"size\":20000000000, \"project_id\":\"19a4819b-24bf-4d44-969f-935ef0061b71\", \"created_at\":\"2025-11-27T16:15:14.760950Z\", \"updated_at\":\"2025-11-27T16:15:24.652766Z\", \"references\":[], \"status\":\"available\", \"tags\":[], \"class\":\"sbs\", \"zone\":\"fr-par-1\"}], \"total_count\":1}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 40.478529ms
[...]
- id: 15
  request:
    host: api.scaleway.com
    form:
      include_deleted:
      - "false"
      name:
      - volume-with-name
      order_by:
      - created_at_asc
      page:
      - "1"
      project_id:
      - 19a4819b-24bf-4d44-969f-935ef0061b71
    headers:
    url: https://api.scaleway.com/block/v1/zones/fr-par-1/volumes?include_deleted=false&name=volume-with-name&order_by=created_at_asc&page=1&project_id=19a4819b-24bf-4d44-969f-935ef0061b71
    method: GET
  response:
    body: "{\"volumes\":[{\"id\":\"c210b53e-fde7-4969-a4ef-6a8f8cf43107\", \"name\":\"volume-with-name\", \"type\":\"sbs_5k\", \"size\":20000000000, \"project_id\":\"19a4819b-24bf-4d44-969f-935ef0061b71\", \"created_at\":\"2025-11-27T16:13:54.117519Z\", \"updated_at\":\"2025-11-27T16:15:22.588165Z\", \"references\":[], \"parent_snapshot_id\":null, \"status\":\"available\", \"tags\":[], \"specs\":{\"perf_iops\":5000, \"class\":\"sbs\"}, \"last_detached_at\":\"2025-11-27T16:15:22.588165Z\", \"zone\":\"fr-par-1\"}], \"total_count\":1}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 42.555019ms
[...]
