---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    form:
      name:
      - packer-e2e-complete
      page:
      - "1"
      project:
      - 19a4819b-24bf-4d44-969f-935ef0061b71
    headers:
    url: https://api.scaleway.com/instance/v1/zones/nl-ams-1/images?name=packer-e2e-complete&page=1&project=19a4819b-24bf-4d44-969f-935ef0061b71
    method: GET
  response:
    body: "{\"images\": [{\"id\": \"a95e8d1e-df18-49d6-8e8a-947d9364a4b7\", \"name\": \"packer-e2e-complete\", \"organization\": \"fa1e3217-dc80-42ac-85c3-3f034b78b552\", \"project\": \"19a4819b-24bf-4d44-969f-935ef0061b71\", \"root_volume\": {\"id\": \"3b322a6a-b4bb-4f19-8000-6244b2cf3d74\", \"name\": \"named-snap-root-volume-0\", \"volume_type\": \"l_ssd\", \"size\": 12000000000}, \"extra_volumes\": {\"1\": {\"volume_type\": \"sbs_snapshot\", \"id\": \"fe1b6786-288a-4c30-8d23-924e852bde05\", \"size\": 0, \"name\": \"\"}, \"2\": {\"volume_type\": \"sbs_snapshot\", \"id\": \"1b1ca77e-50ce-459b-abc5-aebcd669b46f\", \"size\": 0, \"name\": \"\"}, \"3\": {\"volume_type\": \"sbs_snapshot\", \"id\": \"eb14605f-bc17-4a4e-a3c4-d7329d5035c5\", \"size\": 0, \"name\": \"\"}}, \"public\": false, \"arch\": \"x86_64\", \"creation_date\": \"2025-11-27T16:07:49.121728+00:00\", \"modification_date\": \"2025-11-27T16:07:49.121728+00:00\", \"default_bootscript\": null, \"from_server\": \"\", \"state\": \"available\", \"tags\": [\"test\", \"packer\", \"complete\"], \"zone\": \"nl-ams-1\"}]}"
    headers:
      Content-Type:
      - application/json
      Link:
      - </images?page=1&per_page=50&name=packer-e2e-complete&project=19a4819b-24bf-4d44-969f-935ef0061b71>; rel="last"
      X-Total-Count:
      - "1"
    status: 200 OK
    code: 200
    duration: 207.658752ms
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/block/v1/zones/nl-ams-1/snapshots/fe1b6786-288a-4c30-8d23-924e852bde05
    method: GET
  response:
    body: "{\"id\":\"fe1b6786-288a-4c30-8d23-924e852bde05\", \"name\":\"packer-1764259602\", \"parent_volume\":{\"id\":\"d2dd4414-175e-4466-bdb1-7b92587b6869\", \"name\":\"named-extra-volume-1\", \"type\":\"sbs_5k\", \"status\":\"available\"}, \"size\":10000000000, \"project_id\":\"19a4819b-24bf-4d44-969f-935ef0061b71\", \"created_at\":\"2025-11-27T16:07:43.757313Z\", \"updated_at\":\"2025-11-27T16:07:49.191514Z\", \"references\":[{\"id\":\"8efe9d7b-f9be-4708-b6fe-03c141c25b8d\", \"product_resource_type\":\"instance_image\", \"product_resource_id\":\"a95e8d1e-df18-49d6-8e8a-947d9364a4b7\", \"created_at\":\"2025-11-27T16:07:49.191514Z\", \"type\":\"link\", \"status\":\"attached\"}], \"status\":\"in_use\", \"tags\":[\"test\", \"packer\", \"complete\"], \"class\":\"sbs\", \"zone\":\"nl-ams-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 100.580582ms
[...]
- id: 4
  request:
    host: api.scaleway.com
    form:
      name:
      - named-snap-root
      project:
      - 19a4819b-24bf-4d44-969f-935ef0061b71
    headers:
    url: https://api.scaleway.com/instance/v1/zones/nl-ams-1/snapshots?name=named-snap-root&project=19a4819b-24bf-4d44-969f-935ef0061b71
    method: GET
  response:
    body: "{\"snapshots\": [{\"id\": \"3b322a6a-b4bb-4f19-8000-6244b2cf3d74\", \"name\": \"named-snap-root-volume-0\", \"volume_type\": \"l_ssd\", \"creation_date\": \"2025-11-27T16:07:43.422702+00:00\", \"modification_date\": \"2025-11-27T16:07:43.422702+00:00\", \"organization\": \"fa1e3217-dc80-42ac-85c3-3f034b78b552\", \"project\": \"19a4819b-24bf-4d44-969f-935ef0061b71\", \"size\": 12000000000, \"state\": \"available\", \"base_volume\": {\"id\": \"5c249e0d-93c1-4305-842b-40c55872d9f5\", \"name\": \"Ubuntu 22.04 Jammy Jellyfish\"}, \"tags\": [\"test\", \"packer\", \"complete\"], \"zone\": \"nl-ams-1\", \"error_details\": null}]}"
    headers:
      Content-Type:
      - application/json
      Link:
      - </snapshots?page=1&per_page=50&name=named-snap-root&project=19a4819b-24bf-4d44-969f-935ef0061b71>; rel="last"
      X-Total-Count:
      - "1"
    status: 200 OK
    code: 200
    duration: 127.822248ms
- id: 5
  request:
    host: api.scaleway.com
    form:
      include_deleted:
      - "false"
      name:
      - packer-
      order_by:
      - created_at_asc
      project_id:
      - 19a4819b-24bf-4d44-969f-935ef0061b71
    headers:
    url: https://api.scaleway.com/block/v1/zones/nl-ams-1/snapshots?include_deleted=false&name=packer-&order_by=created_at_asc&project_id=19a4819b-24bf-4d44-969f-935ef0061b71
    method: GET
  response:
    body: "{\"snapshots\":[{\"id\":\"1b1ca77e-50ce-459b-abc5-aebcd669b46f\", \"name\":\"packer-1764259602\", \"parent_volume\":{\"id\":\"90dce4f4-b9f8-4210-befe-3dfcc4f9074b\", \"name\":\"packer-69287712-b0a6-8e3a-8256-2a4d45a9b9a7\", \"type\":\"sbs_15k\", \"status\":\"available\"}, \"size\":10000000000, \"project_id\":\"19a4819b-24bf-4d44-969f-935ef0061b71\", \"created_at\":\"2025-11-27T16:07:32.732801Z\", \"updated_at\":\"2025-11-27T16:07:49.291249Z\", \"references\":[], \"status\":\"in_use\", \"tags\":[\"test\", \"packer\", \"complete\"], \"class\":\"sbs\", \"zone\":\"nl-ams-1\"}, {\"id\":\"fe1b6786-288a-4c30-8d23-924e852bde05\", \"name\":\"packer-1764259602\", \"parent_volume\":{\"id\":\"d2dd4414-175e-4466-bdb1-7b92587b6869\", \"name\":\"named-extra-volume-1\", \"type\":\"sbs_5k\", \"status\":\"available\"}, \"size\":10000000000, \"project_id\":\"19a4819b-24bf-4d44-969f-935ef0061b71\", \"created_at\":\"2025-11-27T16:07:43.757313Z\", \"updated_at\":\"2025-11-27T16:07:49.191514Z\", \"references\":[], \"status\":\"in_use\", \"tags\":[\"test\", \"packer\", \"complete\"], \"class\":\"sbs\", \"zone\":\"nl-ams-1\"}], \"total_count\":2}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 64.2146ms
- id: 6
  request:
    host: api.scaleway.com
    form:
      include_deleted:
      - "false"
      name:
      - named-snap-extra
      order_by:
      - created_at_asc
      project_id:
      - 19a4819b-24bf-4d44-969f-935ef0061b71
    headers:
    url: https://api.scaleway.com/block/v1/zones/nl-ams-1/snapshots?include_deleted=false&name=named-snap-extra&order_by=created_at_asc&project_id=19a4819b-24bf-4d44-969f-935ef0061b71
    method: GET
  response:
    body: "{\"snapshots\":[{\"id\":\"eb14605f-bc17-4a4e-a3c4-d7329d5035c5\", \"name\":\"named-snap-extra-volume-3\", \"parent_volume\":{\"id\":\"cb4ade4d-abd8-4b3a-a55f-e93acf4c0fc5\", \"name\":\"packer-69287712-9006-f9cb-3572-0819796b24fb\", \"type\":\"sbs_5k\", \"status\":\"available\"}, \"size\":10000000000, \"project_id\":\"19a4819b-24bf-4d44-969f-935ef0061b71\", \"created_at\":\"2025-11-27T16:07:38.121420Z\", \"updated_at\":\"2025-11-27T16:07:49.381577Z\", \"references\":[], \"status\":\"in_use\", \"tags\":[\"test\", \"packer\", \"complete\"], \"class\":\"sbs\", \"zone\":\"nl-ams-1\"}], \"total_count\":1}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 50.260725ms
[...]
- id: 8
  request:
    host: api.scaleway.com
    form:
      name:
      - Ubuntu
      project:
      - 19a4819b-24bf-4d44-969f-935ef0061b71
    headers:
    url: https://api.scaleway.com/instance/v1/zones/nl-ams-1/volumes?name=Ubuntu&project=19a4819b-24bf-4d44-969f-935ef0061b71
    method: GET
  response:
    body: "{\"volumes\": [{\"id\": \"5c249e0d-93c1-4305-842b-40c55872d9f5\", \"name\": \"Ubuntu 22.04 Jammy Jellyfish\", \"volume_type\": \"l_ssd\", \"organization\": \"fa1e3217-dc80-42ac-85c3-3f034b78b552\", \"project\": \"19a4819b-24bf-4d44-969f-935ef0061b71\", \"server\": null, \"size\": 12000000000, \"state\": \"available\", \"creation_date\": \"2025-11-27T16:06:43.725423+00:00\", \"modification_date\": \"2025-11-27T16:07:50.664673+00:00\", \"tags\": [\"test\", \"packer\", \"complete\"], \"zone\": \"nl-ams-1\"}]}"
    headers:
      Content-Type:
      - application/json
      Link:
      - </volumes?page=1&per_page=100&name=Ubuntu&project=19a4819b-24bf-4d44-969f-935ef0061b71>; rel="last"
      X-Total-Count:
      - "1"
    status: 200 OK
    code: 200
    duration: 92.420816ms
- id: 9
  request:
    host: api.scaleway.com
    form:
      include_deleted:
      - "false"
      name:
      - named-extra-volume
      order_by:
      - created_at_asc
      project_id:
      - 19a4819b-24bf-4d44-969f-935ef0061b71
    headers:
    url: https://api.scaleway.com/block/v1/zones/nl-ams-1/volumes?include_deleted=false&name=named-extra-volume&order_by=created_at_asc&project_id=19a4819b-24bf-4d44-969f-935ef0061b71
    method: GET
  response:
    body: "{\"volumes\":[{\"id\":\"d2dd4414-175e-4466-bdb1-7b92587b6869\", \"name\":\"named-extra-volume-1\", \"type\":\"sbs_5k\", \"size\":10000000000, \"project_id\":\"19a4819b-24bf-4d44-969f-935ef0061b71\", \"created_at\":\"2025-11-27T16:06:43.249497Z\", \"updated_at\":\"2025-11-27T16:07:50.936669Z\", \"references\":[], \"parent_snapshot_id\":null, \"status\":\"available\", \"tags\":[\"test\", \"packer\", \"complete\"], \"specs\":{\"perf_iops\":5000, \"class\":\"sbs\"}, \"last_detached_at\":\"2025-11-27T16:07:50.936669Z\", \"zone\":\"nl-ams-1\"}], \"total_count\":1}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 66.081593ms
- id: 10
  request:
    host: api.scaleway.com
    form:
      include_deleted:
      - "false"
      name:
      - packer-
      order_by:
      - created_at_asc
      project_id:
      - 19a4819b-24bf-4d44-969f-935ef0061b71
    headers:
    url: https://api.scaleway.com/block/v1/zones/nl-ams-1/volumes?include_deleted=false&name=packer-&order_by=created_at_asc&project_id=19a4819b-24bf-4d44-969f-935ef0061b71
    method: GET
  response:
    body: "{\"volumes\":[{\"id\":\"90dce4f4-b9f8-4210-befe-3[...]
[...]
- id: 13
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/instance/v1/zones/nl-ams-1/images/a95e8d1e-df18-49d6-8e8a-947d9364a4b7
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: 544.97199ms
- id: 14
  request:
    host: api.scaleway.com
    form:
      name:
      - named
      page:
      - "1"
      project:
      - 19a4819b-24bf-4d44-969f-935ef0061b71
    headers:
    url: https://api.scaleway.com/instance/v1/zones/nl-ams-1/snapshots?name=named&page=1&project=19a4819b-24bf-4d44-969f-935ef0061b71
    method: GET
  response:
    body: "{\"snapshots\": [{\"id\": \"3b322a6a-b4bb-4f19-8000-6244b2cf3d74\", \"name\": \"named-snap-root-volume-0\", \"volume_type\": \"l_ssd\", \"creation_date\": \"2025-11-27T16:07:43.422702+00:00\", \"modification_date\": \"2025-11-27T16:07:43.422702+00:00\", \"organization\": \"fa1e3217-dc80-42ac-85c3-3f034b78b552\", \"project\": \"19a4819b-24bf-4d44-969f-935ef0061b71\", \"size\": 12000000000, \"state\": \"available\", \"base_volume\": {\"id\": \"5c249e0d-93c1-4305-842b-40c55872d9f5\", \"name\": \"Ubuntu 22.04 Jammy Jellyfish\"}, \"tags\": [\"test\", \"packer\", \"complete\"], \"zone\": \"nl-ams-1\", \"error_details\": null}]}"
    headers:
      Content-Type:
      - application/json
      Link:
      - </snapshots?page=1&per_page=50&name=named&project=19a4819b-24bf-4d44-969f-935ef0061b71>; rel="last"
      X-Total-Count:
      - "1"
    status: 200 OK
    code: 200
    duration: 127.585508ms
- id: 15
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/instance/v1/zones/nl-ams-1/snapshots/3b322a6a-b4bb-4f19-8000-6244b2cf3d74
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: 120.286527ms
- id: 16
  request:
    host: api.scaleway.com
    form:
      name:
      - Ubuntu
      page:
      - "1"
      project:
      - 19a4819b-24bf-4d44-969f-935ef0061b71
    headers:
    url: https://api.scaleway.com/instance/v1/zones/nl-ams-1/volumes?name=Ubuntu&page=1&project=19a4819b-24bf-4d44-969f-935ef0061b71
    method: GET
  response:
    body: "{\"volumes\": [{\"id\": \"5c249e0d-93c1-4305-842b-40c55872d9f5\", \"name\": \"Ubuntu 22.04 Jammy Jellyfish\", \"volume_type\": \"l_ssd\", \"organization\": \"fa1e3217-dc80-42ac-85c3-3f034b78b552\", \"project\": \"19a4819b-24bf-4d44-969f-935ef0061b71\", \"server\": null, \"size\": 12000000000, \"state\": \"available\", \"creation_date\": \"2025-11-27T16:06:43.725423+00:00\", \"modification_date\": \"2025-11-27T16:07:50.664673+00:00\", \"tags\": [\"test\", \"packer\", \"complete\"], \"zone\": \"nl-ams-1\"}]}"
    headers:
      Content-Type:
      - application/json
      Link:
      - </volumes?page=1&per_page=100&name=Ubuntu&project=19a4819b-24bf-4d44-969f-935ef0061b71>; rel="last"
      X-Total-Count:
      - "1"
    status: 200 OK
    code: 200
    duration: 75.541248ms
- id: 17
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/instance/v1/zones/nl-ams-1/volumes/5c249e0d-93c1-4305-842b-40c55872d9f5
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: 138.423735ms
- id: 18
  request:
    host: api.scaleway.com
    form:
      include_deleted:
      - "false"
      name:
      - packer-
      order_by:
      - created_at_asc
      page:
      - "1"
      project_id:
      - 19a4819b-24bf-4d44-969f-935ef0061b71
    headers:
    url: https://api.scaleway.com/block/v1/zones/nl-ams-1/snapshots?include_deleted=false&name=packer-&order_by=created_at_asc&page=1&project_id=19a4819b-24bf-4d44-969f-935ef0061b71
    method: GET
  response:
    body: "{\"snapshots\":[[...]
[...]
- id: 21
  request:
    host: api.scaleway.com
    form:
      include_deleted:
      - "false"
      name:
      - packer-
      order_by:
      - created_at_asc
      page:
      - "1"
      project_id:
      - 19a4819b-24bf-4d44-969f-935ef0061b71
    headers:
    url: https://api.scaleway.com/block/v1/zones/nl-ams-1/volumes?include_deleted=false&name=packer-&order_by=created_at_asc&page=1&project_id=19a4819b-24bf-4d44-969f-935ef0061b71
    method: GET
  response:
    body: "{\"volumes\":[{\"i[...]
- id: 22
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/block/v1/zones/nl-ams-1/volumes/90dce4f4-b9f8-4210-befe-3dfcc4f9074b
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: 88.447217ms
[...]
- id: 24
  request:
    host: api.scaleway.com
    form:
      include_deleted:
      - "false"
      name:
      - named
      order_by:
      - created_at_asc
      page:
      - "1"
      project_id:
      - 19a4819b-24bf-4d44-969f-935ef0061b71
    headers:
    url: https://api.scaleway.com/block/v1/zones/nl-ams-1/snapshots?include_deleted=false&name=named&order_by=created_at_asc&page=1&project_id=19a4819b-24bf-4d44-969f-935ef0061b71
    method: GET
  response:
    body: "{\"snapshots\":[{\"id\":\"eb14605f-bc17-4a4e-a3c4-d7329d5035c5\", \"name\":\"named-snap-extra-volume-3\", \"parent_volume\":null, \"size\":10000000000, \"project_id\":\"19a4819b-24bf-4d44-969f-935ef0061b71\", \"created_at\":\"2025-11-27T16:07:38.121420Z\", \"updated_at\":\"2025-11-27T16:07:53.146257Z\", \"references\":[], \"status\":\"available\", \"tags\":[\"test\", \"packer\", \"complete\"], \"class\":\"sbs\", \"zone\":\"nl-ams-1\"}], \"total_count\":1}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 61.0986ms
[...]
- id: 26
  request:
    host: api.scaleway.com
    form:
      include_deleted:
      - "false"
      name:
      - named
      order_by:
      - created_at_asc
      page:
      - "1"
      project_id:
      - 19a4819b-24bf-4d44-969f-935ef0061b71
    headers:
    url: https://api.scaleway.com/block/v1/zones/nl-ams-1/volumes?include_deleted=false&name=named&order_by=created_at_asc&page=1&project_id=19a4819b-24bf-4d44-969f-935ef0061b71
    method: GET
  response:
    body: "{\"volumes\":[{\"id\":\"d2dd4414-175e-4466-bdb1-7b92587b6869\", \"name\":\"named-extra-volume-1\", \"type\":\"sbs_5k\", \"size\":10000000000, \"project_id\":\"19a4819b-24bf-4d44-969f-935ef0061b71\", \"created_at\":\"2025-11-27T16:06:43.249497Z\", \"updated_at\":\"2025-11-27T16:07:50.936669Z\", \"references\":[], \"parent_snapshot_id\":null, \"status\":\"available\", \"tags\":[\"test\", \"packer\", \"complete\"], \"specs\":{\"perf_iops\":5000, \"class\":\"sbs\"}, \"last_detached_at\":\"2025-11-27T16:07:50.936669Z\", \"zone\":\"nl-ams-1\"}], \"total_count\":1}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 49.968702ms
[...]
