---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    form:
      name:
      - Ubuntu
      project:
      - 19a4819b-24bf-4d44-969f-935ef0061b71
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes?name=Ubuntu&project=19a4819b-24bf-4d44-969f-935ef0061b71
    method: GET
  response:
    body: "{\"volumes\": [{\"id\": \"aae23107-da2f-464f-b9f8-8c602d5c9b5d\", \"name\": \"Ubuntu 22.04 Jammy Jellyfish\", \"volume_type\": \"l_ssd\", \"organization\": \"fa1e3217-dc80-42ac-85c3-3f034b78b552\", \"project\": \"19a4819b-24bf-4d44-969f-935ef0061b71\", \"server\": null, \"size\": 20000000000, \"state\": \"available\", \"creation_date\": \"2025-11-27T16:11:52.138916+00:00\", \"modification_date\": \"2025-11-27T16:13:23.108092+00:00\", \"tags\": [], \"zone\": \"fr-par-1\"}]}"
    headers:
      Content-Type:
      - application/json
      Link:
      - </volumes?page=1&per_page=100&name=Ubuntu&project=19a4819b-24bf-4d44-969f-935ef0061b71>; rel="last"
      X-Total-Count:
      - "1"
    status: 200 OK
    code: 200
    duration: 121.635227ms
- id: 1
  request:
    host: api.scaleway.com
    form:
      include_deleted:
      - "false"
      name:
      - packer-
      order_by:
      - created_at_asc
      project_id:
      - 19a4819b-24bf-4d44-969f-935ef0061b71
    headers:
    url: https://api.scaleway.com/block/v1/zones/fr-par-1/volumes?include_deleted=false&name=packer-&order_by=created_at_asc&project_id=19a4819b-24bf-4d44-969f-935ef0061b71
    method: GET
  response:
    body: "{\"volumes\":[{\"id\":\"b185301d-2578-49aa-ac7e-50beb1fde07d\", \"name\":\"packer-69287847-a2f0-d385-dad9-b7375d78f352\", \"type\":\"sbs_15k\", \"size\":50000000000, \"project_id\":\"19a4819b-24bf-4d44-969f-935ef0061b71\", \"created_at\":\"2025-11-27T16:11:51.949269Z\", \"updated_at\":\"2025-11-27T16:13:23.337703Z\", \"references\":[], \"parent_snapshot_id\":null, \"status\":\"available\", \"tags\":[], \"specs\":{\"perf_iops\":15000, \"class\":\"sbs\"}, \"last_detached_at\":\"2025-11-27T16:13:23.337703Z\", \"zone\":\"fr-par-1\"}], \"total_count\":1}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 67.855356ms
- id: 2
  request:
    host: api.scaleway.com
    form:
      name:
      - packer-e2e-mixed-volumes
      page:
      - "1"
      project:
      - 19a4819b-24bf-4d44-969f-935ef0061b71
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images?name=packer-e2e-mixed-volumes&page=1&project=19a4819b-24bf-4d44-969f-935ef0061b71
    method: GET
  response:
    body: "{\"images\": [{\"id\": \"5e7e23cc-555f-4042-b6d7-c4cd35249f3e\", \"name\": \"packer-e2e-mixed-volumes\", \"organization\": \"fa1e3217-dc80-42ac-85c3-3f034b78b552\", \"project\": \"19a4819b-24bf-4d44-969f-935ef0061b71\", \"root_volume\": {\"id\": \"46368f00-7fbf-4be0-83d9-0c0930c92850\", \"name\": \"packer-1764259911\", \"volume_type\": \"l_ssd\", \"size\": 20000000000}, \"extra_volumes\": {\"1\": {\"volume_type\": \"sbs_snapshot\", \"id\": \"50516c7b-a8d4-4eca-8457-2c686e9742c8\", \"size\": 0, \"name\": \"\"}}, \"public\": false, \"arch\": \"x86_64\", \"creation_date\": \"2025-11-27T16:13:22.540794+00:00\", \"modification_date\": \"2025-11-27T16:13:22.540794+00:00\", \"default_bootscript\": null, \"from_server\": \"\", \"state\": \"available\", \"tags\": [], \"zone\": \"fr-par-1\"}]}"
    headers:
      Content-Type:
      - application/json
      Link:
      - </images?page=1&per_page=50&name=packer-e2e-mixed-volumes&project=19a4819b-24bf-4d44-969f-935ef0061b71>; rel="last"
      X-Total-Count:
      - "1"
    status: 200 OK
    code: 200
    duration: 238.807519ms
- id: 3
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots/50516c7b-a8d4-4eca-8457-2c686e9742c8
    method: GET
  response:
    body: "{\"id\":\"50516c7b-a8d4-4eca-8457-2c686e9742c8\", \"name\":\"packer-1764259911\", \"parent_volume\":{\"id\":\"b185301d-2578-49aa-ac7e-50beb1fde07d\", \"name\":\"packer-69287847-a2f0-d385-dad9-b7375d78f352\", \"type\":\"sbs_15k\", \"status\":\"available\"}, \"size\":50000000000, \"project_id\":\"19a4819b-24bf-4d44-969f-935ef0061b71\", \"created_at\":\"2025-11-27T16:13:16.246278Z\", \"updated_at\":\"2025-11-27T16:13:22.618773Z\", \"references\":[{\"id\":\"e7652769-fa46-49f2-bc57-ea2dacb3ff3f\", \"product_resource_type\":\"instance_image\", \"product_resource_id\":\"5e7e23cc-555f-4042-b6d7-c4cd35249f3e\", \"created_at\":\"2025-11-27T16:13:22.618773Z\", \"type\":\"link\", \"status\":\"attached\"}], \"status\":\"in_use\", \"tags\":[], \"class\":\"sbs\", \"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 573.072313ms
- id: 4
  request:
    host: api.scaleway.com
    form:
      name:
      - packer-
      project:
      - 19a4819b-24bf-4d44-969f-935ef0061b71
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/snapshots?name=packer-&project=19a4819b-24bf-4d44-969f-935ef0061b71
    method: GET
  response:
    body: "{\"snapshots\": [{\"id\": \"46368f00-7fbf-4be0-83d9-0c0930c92850\", \"name\": \"packer-1764259911\", \"volume_type\": \"l_ssd\", \"creation_date\": \"2025-11-27T16:13:15.918745+00:00\", \"modification_date\": \"2025-11-27T16:13:15.918745+00:00\", \"organization\": \"fa1e3217-dc80-42ac-85c3-3f034b78b552\", \"project\": \"19a4819b-24bf-4d44-969f-935ef0061b71\", \"size\": 20000000000, \"state\": \"available\", \"base_volume\": {\"id\": \"aae23107-da2f-464f-b9f8-8c602d5c9b5d\", \"name\": \"Ubuntu 22.04 Jammy Jellyfish\"}, \"tags\": [], \"zone\": \"fr-par-1\", \"error_details\": null}]}"
    headers:
      Content-Type:
      - application/json
      Link:
      - </snapshots?page=1&per_page=50&name=packer-&project=19a4819b-24bf-4d44-969f-935ef0061b71>; rel="last"
      X-Total-Count:
      - "1"
    status: 200 OK
    code: 200
    duration: 153.349736ms
- id: 5
  request:
    host: api.scaleway.com
    form:
      include_deleted:
      - "false"
      name:
      - packer-
      order_by:
      - created_at_asc
      project_id:
      - 19a4819b-24bf-4d44-969f-935ef0061b71
    headers:
    url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots?include_deleted=false&name=packer-&order_by=created_at_asc&project_id=19a4819b-24bf-4d44-969f-935ef0061b71
    method: GET
  response:
    body: "{\"snapshots\":[{\"id\":\"50516c7b-a8d4-4eca-8457-2c686e9742c8\", \"name\":\"packer-1764259911\", \"parent_volume\":{\"id\":\"b185301d-2578-49aa-ac7e-50beb1fde07d\", \"name\":\"packer-69287847-a2f0-d385-dad9-b7375d78f352\", \"type\":\"sbs_15k\", \"status\":\"available\"}, \"size\":50000000000, \"project_id\":\"19a4819b-24bf-4d44-969f-935ef0061b71\", \"created_at\":\"2025-11-27T16:13:16.246278Z\", \"updated_at\":\"2025-11-27T16:13:22.618773Z\", \"references\":[], \"status\":\"in_use\", \"tags\":[], \"class\":\"sbs\", \"zone\":\"fr-par-1\"}], \"total_count\":1}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 38.076312ms
[...]
- id: 7
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images/5e7e23cc-555f-4042-b6d7-c4cd35249f3e
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: 397.115971ms
- id: 8
  request:
    host: api.scaleway.com
    form:
      name:
      - packer-
      page:
      - "1"
      project:
      - 19a4819b-24bf-4d44-969f-935ef0061b71
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/snapshots?name=packer-&page=1&project=19a4819b-24bf-4d44-969f-935ef0061b71
    method: GET
  response:
    body: "{\"snapshots\": [{\"id\": \"46368f00-7fbf-4be0-83d9-0c0930c92850\", \"name\": \"packer-1764259911\", \"volume_type\": \"l_ssd\", \"creation_date\": \"2025-11-27T16:13:15.918745+00:00\", \"modification_date\": \"2025-11-27T16:13:15.918745+00:00\", \"organization\": \"fa1e3217-dc80-42ac-85c3-3f034b78b552\", \"project\": \"19a4819b-24bf-4d44-969f-935ef0061b71\", \"size\": 20000000000, \"state\": \"available\", \"base_volume\": {\"id\": \"aae23107-da2f-464f-b9f8-8c602d5c9b5d\", \"name\": \"Ubuntu 22.04 Jammy Jellyfish\"}, \"tags\": [], \"zone\": \"fr-par-1\", \"error_details\": null}]}"
    headers:
      Content-Type:
      - application/json
      Link:
      - </snapshots?page=1&per_page=50&name=packer-&project=19a4819b-24bf-4d44-969f-935ef0061b71>; rel="last"
      X-Total-Count:
      - "1"
    status: 200 OK
    code: 200
    duration: 125.886374ms
- id: 9
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/snapshots/46368f00-7fbf-4be0-83d9-0c0930c92850
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: 108.092637ms
- id: 10
  request:
    host: api.scaleway.com
    form:
      name:
      - Ubuntu
      page:
      - "1"
      project:
      - 19a4819b-24bf-4d44-969f-935ef0061b71
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes?name=Ubuntu&page=1&project=19a4819b-24bf-4d44-969f-935ef0061b71
    method: GET
  response:
    body: "{\"volumes\": [{\"id\": \"aae23107-da2f-464f-b9f8-8c602d5c9b5d\", \"name\": \"Ubuntu 22.04 Jammy Jellyfish\", \"volume_type\": \"l_ssd\", \"organization\": \"fa1e3217-dc80-42ac-85c3-3f034b78b552\", \"project\": \"19a4819b-24bf-4d44-969f-935ef0061b71\", \"server\": null, \"size\": 20000000000, \"state\": \"available\", \"creation_date\": \"2025-11-27T16:11:52.138916+00:00\", \"modification_date\": \"2025-11-27T16:13:23.108092+00:00\", \"tags\": [], \"zone\": \"fr-par-1\"}]}"
    headers:
      Content-Type:
      - application/json
      Link:
      - </volumes?page=1&per_page=100&name=Ubuntu&project=19a4819b-24bf-4d44-969f-935ef0061b71>; rel="last"
      X-Total-Count:
      - "1"
    status: 200 OK
    code: 200
    duration: 71.033451ms
- id: 11
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/aae23107-da2f-464f-b9f8-8c602d5c9b5d
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: 116.582639ms
- id: 12
  request:
    host: api.scaleway.com
    form:
      include_deleted:
      - "false"
      name:
      - packer-
      order_by:
      - created_at_asc
      page:
      - "1"
      project_id:
      - 19a4819b-24bf-4d44-969f-935ef0061b71
    headers:
    url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots?include_deleted=false&name=packer-&order_by=created_at_asc&page=1&project_id=19a4819b-24bf-4d44-969f-935ef0061b71
    method: GET
  response:
    body: "{\"snapshots\":[{\"id\":\"50516c7b-a8d4-4eca-8457-2c686e9742c8\", \"name\":\"packer-1764259911\", \"parent_volume\":{\"id\":\"b185301d-2578-49aa-ac7e-50beb1fde07d\", \"name\":\"packer-69287847-a2f0-d385-dad9-b7375d78f352\", \"type\":\"sbs_15k\", \"status\":\"available\"}, \"size\":50000000000, \"project_id\":\"19a4819b-24bf-4d44-969f-935ef0061b71\", \"created_at\":\"2025-11-27T16:13:16.246278Z\", \"updated_at\":\"2025-11-27T16:13:25.434779Z\", \"references\":[], \"status\":\"available\", \"tags\":[], \"class\":\"sbs\", \"zone\":\"fr-par-1\"}], \"total_count\":1}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 36.85466ms
[...]
- id: 14
  request:
    host: api.scaleway.com
    form:
      include_deleted:
      - "false"
      name:
      - packer-
      order_by:
      - created_at_asc
      page:
      - "1"
      project_id:
      - 19a4819b-24bf-4d44-969f-935ef0061b71
    headers:
    url: https://api.scaleway.com/block/v1/zones/fr-par-1/volumes?include_deleted=false&name=packer-&order_by=created_at_asc&page=1&project_id=19a4819b-24bf-4d44-969f-935ef0061b71
    method: GET
  response:
    body: "{\"volumes\":[{\"id\":\"b185301d-2578-49aa-ac7e-50beb1fde07d\", \"name\":\"packer-69287847-a2f0-d385-dad9-b7375d78f352\", \"type\":\"sbs_15k\", \"size\":50000000000, \"project_id\":\"19a4819b-24bf-4d44-969f-935ef0061b71\", \"created_at\":\"2025-11-27T16:11:51.949269Z\", \"updated_at\":\"2025-11-27T16:13:23.337703Z\", \"references\":[], \"parent_snapshot_id\":null, \"status\":\"available\", \"tags\":[], \"specs\":{\"perf_iops\":15000, \"class\":\"sbs\"}, \"last_detached_at\":\"2025-11-27T16:13:23.337703Z\", \"zone\":\"fr-par-1\"}], \"total_count\":1}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 43.687851ms
- id: 15
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/block/v1/zones/fr-par-1/volumes/b185301d-2578-49aa-ac7e-50beb1fde07d
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: 69.044434ms
