---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    form:
      name:
      - packer-e2e-complete
      page:
      - "1"
    headers:
    url: https://api.scaleway.com/instance/v1/zones/nl-ams-1/images?name=packer-e2e-complete&page=1
    method: GET
  response:
    body: "{\"images\": []}"
    headers:
      Content-Type:
      - application/json
      Link:
      - </images?page=0&per_page=50&name=packer-e2e-complete>; rel="last"
      X-Total-Count:
      - "0"
    status: 200 OK
    code: 200
    duration: 241.957673ms
- id: 1
  request:
    host: api.scaleway.com
    form:
      page:
      - "1"
    headers:
    url: https://api.scaleway.com/instance/v1/zones/nl-ams-1/snapshots?page=1
    method: GET
  response:
    body: "{\"snapshots\": []}"
    headers:
      Content-Type:
      - application/json
      Link:
      - </snapshots?page=0&per_page=50&>; rel="last"
      X-Total-Count:
      - "0"
    status: 200 OK
    code: 200
    duration: 126.334435ms
- id: 2
  request:
    host: api.scaleway.com
    form:
      include_deleted:
      - "false"
      order_by:
      - created_at_asc
      page:
      - "1"
    headers:
    url: https://api.scaleway.com/block/v1/zones/nl-ams-1/snapshots?include_deleted=false&order_by=created_at_asc&page=1
    method: GET
  response:
    body: "{\"snapshots\":[], \"total_count\":0}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 64.963864ms
- id: 3
  request:
    host: api.scaleway.com
    body: "{\"name\":\"named-extra-volume-1\",\"perf_iops\":5000,\"project_id\":\"19a4819b-24bf-4d44-969f-935ef0061b71\",\"from_empty\":{\"size\":10000000000},\"tags\":null}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/block/v1alpha1/zones/nl-ams-1/volumes
    method: POST
  response:
    body: "{\"id\":\"d2dd4414-175e-4466-bdb1-7b92587b6869\", \"name\":\"named-extra-volume-1\", \"type\":\"sbs_5k\", \"size\":10000000000, \"project_id\":\"19a4819b-24bf-4d44-969f-935ef0061b71\", \"created_at\":\"2025-11-27T16:06:43.249497Z\", \"updated_at\":\"2025-11-27T16:06:43.249497Z\", \"references\":[], \"parent_snapshot_id\":null, \"status\":\"creating\", \"tags\":[], \"specs\":{\"perf_iops\":5000, \"class\":\"sbs\"}, \"last_detached_at\":null, \"zone\":\"nl-ams-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 140.623494ms
[...]
- id: 6
  request:
    host: api.scaleway.com
    body: "{\"name\":\"packer-69287712-d677-a120-cfd1-bc321002a843\",\"commercial_type\":\"DEV1-M\",\"image\":\"ubuntu_jammy\",\"volumes\":{\"0\":{\"size\":12000000000,\"volume_type\":\"l_ssd\"},\"1\":{\"id\":\"d2dd4414-175e-4466-bdb1-7b92587b6869\",\"volume_type\":\"sbs_volume\"},\"2\":{\"id\":\"90dce4f4-b9f8-4210-befe-3dfcc4f9074b\",\"volume_type\":\"sbs_volume\"},\"3\":{\"id\":\"cb4ade4d-abd8-4b3a-a55f-e93acf4c0fc5\",\"volume_type\":\"sbs_volume\"}},\"boot_type\":\"local\",\"project\":\"19a4819b-24bf-4d44-969f-935ef0061b71\",\"tags\":[\"AUTHORIZED_KEY=ssh-rsa_AAAAB3NzaC1yc2EAAAADAQABAAACAQCwRioj4HW506qAjwIYhhkJqED/LK9bL7+UzIlXcLjrVHml3I2zHTattRlkDIpYFyjn39E188FRx5r8JfLGrCZ/7WdqSDAV+XP4HRB68qRo4cP2GGfpk6e/fWZV8WktBv1epn/4jfflAkp2YBdXV06QiPNR6u7Xh3Kq0vzI+nADZuQ8CX48uT2CFUtjXr8tX7W0mDQCHC8hsdwsrm7sBKMSKW6oiKmPB7nfqon7RthxjX261tzAcBkOvLNvNuV9LvuIewlrFLP3eOYYy78CRbRUaXdg+7g6Y8MDCSIwuuRTz/EkrQJ2LxNT1+jWy2PWPXk+a8BN9N92XwY1VvpKfeECau8dVdKliHmNyQTNXTmPA+qkyR+dPCANOUXcfNYyDkRIPftDzkndmZO8hmsnx+YLN906tnP2hHvfvQZE5+CnevagHRI5vqcBY9of6kNzbfox+smVVKMwK2MfoyvMgERMb0ZFKDzGBJERCp6cmcLyoeviCECAvQjQK3y38SwN1dS8YSWdToG+/FnSkFoMxOP3xRUszVbagCiZwWXD83/ixfYenXXNQUl3vQ19VNJOOTfs3SSrI8b2fpr64sWBXNIJF9+2W+JO6uvFwmWzfCpnCKBURfAm+7ab6gc8NSzg+3J26MTmqaL7CxD8EhFP3Ztnj+4clZRyQyks1ikHQLxCbQ==\"]}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/nl-ams-1/servers
    method: POST
  response:
    body: "{\"server\": {\"id\": \"4800c06d-4c56-4163-b57b-9307d18aea90\", \"name\": \"packer-69287712-d677-a120-cfd1-bc321002a843\", \"arch\": \"x86_64\", \"commercial_type\": \"DEV1-M\", \"boot_type\": \"local\", \"organization\": \"fa1e3217-dc80-42ac-85c3-3f034b78b552\", \"project\": \"19a4819b-24bf-4d44-969f-935ef0061b71\", \"hostname\": \"packer-69287712-d677-a120-cfd1-bc321002a843\", \"image\": {\"id\": \"f35eb2e8-a9cc-4b87-878c-68aec68e2cdf\", \"name\": \"Ubuntu 22.04 Jammy Jellyfish\", \"organization\": \"51b656e3-4865-41e8-adbc-0c45bdd780db\", \"project\": \"51b656e3-4865-41e8-adbc-0c45bdd780db\", \"root_volume\": {\"id\": \"bfa38aa1-d69a-4cf5-8461-f1c477249f86\", \"name\": \"Ubuntu 22.04 Jammy Jellyfish\", \"volume_type\": \"l_ssd\", \"size\": 10000000000}, \"extra_volumes\": {}, \"public\": true, \"arch\": \"x86_64\", \"creation_date\": \"2025-09-12T09:11:14.656914+00:00\", \"modification_date\": \"2025-09-12T09:11:14.656914+00:00\", \"default_bootscript\": null, \"from_server\": \"\", \"state\": \"available\", \"tags\": [], \"zone\": \"nl-ams-1\"}, \"volumes\": {\"0\": {\"boot\": false, \"id\": \"5c249e0d-93c1-4305-842b-40c55872d9f5\", \"name\": \"Ubuntu 22.04 Jammy Jellyfish\", \"volume_type\": \"l_ssd\", \"organization\": \"fa1e3217-dc80-42ac-85c3-3f034b78b552\", \"project\": \"19a4819b-24bf-4d44-969f-935ef0061b71\", \"server\": {\"id\": \"4800c06d-4c56-4163-b57b-9307d18aea90\", \"name\": \"packer-69287712-d677-a120-cfd1-bc321002a843\"}, \"size\": 12000000000, \"state\": \"available\", \"creation_date\": \"2025-11-27T16:06:43.725423+00:00\", \"modification_date\": \"2[...]
- id: 7
  request:
    host: api.scaleway.com
    body: "{\"action\":\"poweron\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/nl-ams-1/servers/4800c06d-4c56-4163-b57b-9307d18aea90/action
    method: POST
  response:
    body: "{\"task\": {\"id\": \"730a7da0-410d-4f04-abb4-f03996e10bee\", \"description\": \"server_batch_poweron\", \"status\": \"pending\", \"href_from\": \"/servers/4800c06d-4c56-4163-b57b-9307d18aea90/action\", \"href_result\": \"/servers/4800c06d-4c56-4163-b57b-9307d18aea90\", \"started_at\": \"2025-11-27T16:06:45.287946+00:00\", \"terminated_at\": null, \"progress\": 0, \"zone\": \"nl-ams-1\"}}"
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/nl-ams-1/tasks/730a7da0-410d-4f04-abb4-f03996e10bee
    status: 202 Accepted
    code: 202
    duration: 491.58342ms
- id: 8
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/instance/v1/zones/nl-ams-1/servers/4800c06d-4c56-4163-b57b-9307d18aea90
    method: GET
  response:
    body: "{\"server\": {\"id\": \"4800c06d-4c56-4163-b57b-9307d18aea90\", \"name\": \"packer-69287712-d677-a120-cfd1-bc321002a843\", \"arch\": \"x86_64\", \"commercial_type\": \"DEV1-M\", \"boot_type\": \"local\", \"organization\": \"fa1e3217-dc80-42ac-85c3-3f034b78b552\", \"project\": \"19a4819b-24bf-4d4[...]
[...]
- id: 21
  request:
    host: api.scaleway.com
    body: "{\"volume_id\":\"90dce4f4-b9f8-4210-befe-3dfcc4f9074b\",\"name\":\"packer-1764259602\",\"project_id\":\"19a4819b-24bf-4d44-969f-935ef0061b71\",\"tags\":[\"test\",\"packer\",\"complete\"]}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/block/v1/zones/nl-ams-1/snapshots
    method: POST
  response:
    body: "{\"id\":\"1b1ca77e-50ce-459b-abc5-aebcd669b46f\", \"name\":\"packer-1764259602\", \"parent_volume\":{\"id\":\"90dce4f4-b9f8-4210-befe-3dfcc4f9074b\", \"name\":\"packer-69287712-b0a6-8e3a-8256-2a4d45a9b9a7\", \"type\":\"sbs_15k\", \"status\":\"in_use\"}, \"size\":10000000000, \"project_id\":\"19a4819b-24bf-4d44-969f-935ef0061b71\", \"created_at\":\"2025-11-27T16:07:32.732801Z\", \"updated_at\":\"2025-11-27T16:07:32.732801Z\", \"references\":[], \"status\":\"creating\", \"tags\":[\"test\", \"packer\", \"complete\"], \"class\":\"sbs\", \"zone\":\"nl-ams-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 193.396099ms
- id: 22
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/block/v1/zones/nl-ams-1/snapshots/1b1ca77e-50ce-459b-abc5-aebcd669b46f
    method: GET
  response:
    body: "{\"id\":\"1b1ca77e-50ce-459b-abc5-aebcd669b46f\", \"name\":\"packer-1764259602\", \"parent_volume\":{\"id\":\"90dce4f4-b9f8-4210-befe-3dfcc4f9074b\", \"name\":\"packer-69287712-b0a6-8e3a-8256-2a4d45a9b9a7\", \"type\":\"sbs_15k\", \"status\":\"in_use\"}, \"size\":10000000000, \"project_id\":\"19a4819b-24bf-4d44-969f-935ef0061b71\", \"created_at\":\"2025-11-27T16:07:32.732801Z\", \"updated_at\":\"2025-11-27T16:07:32.732801Z\", \"references\":[{\"id\":\"1bcf5bf3-db3d-4814-83a3-af17547adc2f\", \"product_resource_type\":\"internal\", \"product_resource_id\":\"00000000-0000-0000-0000-000000000000\", \"created_at\":\"2025-11-27T16:07:32.818792Z\", \"type\":\"unknown_type\", \"status\":\"attached\"}], \"status\":\"creating\", \"tags\":[\"test\", \"packer\", \"complete\"], \"class\":\"sbs\", \"zone\":\"nl-ams-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 80.312401ms
[...]
- id: 27
  request:
    host: api.scaleway.com
    body: "{\"name\":\"named-snap-root-volume-0\",\"volume_id\":\"5c249e0d-93c1-4305-842b-40c55872d9f5\",\"tags\":[\"test\",\"packer\",\"complete\"],\"project\":\"19a4819b-24bf-4d44-969f-935ef0061b71\",\"volume_type\":\"l_ssd\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/nl-ams-1/snapshots
    method: POST
  response:
    body: "{\"snapshot\": {\"id\": \"3b322a6a-b4bb-4f19-8000-6244b2cf3d74\", \"name\": \"named-snap-root-volume-0\", \"volume_type\": \"l_ssd\", \"creation_date\": \"2025-11-27T16:07:43.422702+00:00\", \"modification_date\": \"2025-11-27T16:07:43.422702+00:00\", \"organization\": \"fa1e3217-dc80-42ac-85c3-3f034b78b552\", \"project\": \"19a4819b-24bf-4d44-969f-935ef0061b71\", \"size\": 12000000000, \"state\": \"available\", \"base_volume\": {\"id\": \"5c249e0d-93c1-4305-842b-40c55872d9f5\", \"name\": \"Ubuntu 22.04 Jammy Jellyfish\"}, \"tags\": [\"test\", \"packer\", \"complete\"], \"zone\": \"nl-ams-1\", \"error_details\": null}, \"task\": {\"id\": \"bb3a5fc7-c17a-4a0e-babf-7bf85efd7944\", \"description\": \"volume_snapshot\", \"status\": \"pending\", \"href_from\": \"/snapshots\", \"href_result\": \"snapshots/3b322a6a-b4bb-4f19-8000-6244b2cf3d74\", \"started_at\": \"2025-11-27T16:07:43.606087+00:00\", \"terminated_at\": null, \"progress\": 0, \"zone\": \"nl-ams-1\"}}"
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: 298.288137ms
[...]
- id: 31
  request:
    host: api.scaleway.com
    body: "{\"name\":\"packer-e2e-complete\",\"root_volume\":\"3b322a6a-b4bb-4f19-8000-6244b2cf3d74\",\"arch\":\"x86_64\",\"extra_volumes\":{\"1\":{\"id\":\"fe1b6786-288a-4c30-8d23-924e852bde05\"},\"2\":{\"id\":\"1b1ca77e-50ce-459b-abc5-aebcd669b46f\"},\"3\":{\"id\":\"eb14605f-bc17-4a4e-a3c4-d7329d5035c5\"}},\"project\":\"19a4819b-24bf-4d44-969f-935ef0061b71\",\"tags\":[\"test\",\"packer\",\"complete\"],\"public\":false}"
    headers:
      Content-[...]
- id: 32
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/instance/v1/zones/nl-ams-1/images/a95e8d1e-df18-49d6-8e8a-947d9364a4b7
    method: GET
  response:
    body: "{\"image\": {\"id\": \"a95e8d1e-df18-49d6-8e8a-947d9364a4b7\", \"name\": \"packer-e2e-complete\", \"organization\": \"fa1e3217-dc80-42ac-85c3-3f034b78b552\", \"project\": \"19a4819b-24bf-4d44-969f-935ef0061b71\", \"root_volume\": {\"id\": \"3b322a6a-b4bb-4f19-8000-6244b2cf3d74\", \"name\": \"named-snap-root-volume-0\", \"volume_type\": \"l_ssd\", \"size\": 12000000000}, \"extra_volumes\": {\"1\": {\"volume_type\": \"sbs_snapshot\", \"id\": \"fe1b6786-288a-4c30-8d23-924e852bde05\", \"size\": 0, \"name\": \"\"}, \"2\": {\"volume_type\": \"sbs_snapshot\", \"id\": \"1b1ca77e-50ce-459b-abc5-aebcd669b46f\", \"size\": 0, \"name\": \"\"}, \"3\": {\"volume_type\": \"sbs_snapshot\", \"id\": \"eb14605f-bc17-4a4e-a3c4-d7329d5035c5\", \"size\": 0, \"name\": \"\"}}, \"public\": false, \"arch\": \"x86_64\", \"creation_date\": \"2025-11-27T16:07:49.121728+00:00\", \"modification_date\": \"2025-11-27T16:07:49.121728+00:00\", \"default_bootscript\": null, \"from_server\": \"\", \"state\": \"available\", \"tags\": [\"test\", \"packer\", \"complete\"], \"zone\": \"nl-ams-1\"}}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 123.055026ms
- id: 33
  request:
    host: api.scaleway.com
    body: "{\"tags\":[\"test\",\"packer\",\"complete\"]}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/block/v1/zones/nl-ams-1/volumes/5c249e0d-93c1-4305-842b-40c55872d9f5
    method: PATCH
  response:
    body: "{\"message\":\"resource is not found\",\"resource\":\"volume\",\"resource_id\":\"5c249e0d-93c1-4305-842b-40c55872d9f5\",\"type\":\"not_found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 57.745738ms
- id: 34
  request:
    host: api.scaleway.com
    body: "{\"tags\":[\"test\",\"packer\",\"complete\"]}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/nl-ams-1/volumes/5c249e0d-93c1-4305-842b-40c55872d9f5
    method: PATCH
  response:
    body: "{\"volume\": {\"id\": \"5c249e0d-93c1-4305-842b-40c55872d9f5\", \"name\": \"Ubuntu 22.04 Jammy Jellyfish\", \"volume_type\": \"l_ssd\", \"organization\": \"fa1e3217-dc80-42ac-85c3-3f034b78b552\", \"project\": \"19a4819b-24bf-4d44-969f-935ef0061b71\", \"server\": {\"id\": \"4800c06d-4c56-4163-b57b-9307d18aea90\", \"name\": \"packer-69287712-d677-a120-cfd1-bc321002a843\"}, \"size\": 12000000000, \"state\": \"available\", \"creation_date\": \"2025-11-27T16:06:43.725423+00:00\", \"modification_date\": \"2025-11-27T16:07:49.802100+00:00\", \"tags\": [\"test\", \"packer\", \"complete\"], \"zone\": \"nl-ams-1\"}}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 122.881098ms
[...]
- id: 39
  request:
    host: api.scaleway.com
    body: "{\"tags\":[\"test\",\"packer\",\"complete\"]}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/nl-ams-1/snapshots/3b322a6a-b4bb-4f19-8000-6244b2cf3d74
    method: PATCH
  response:
    body: "{\"snapshot\": {\"id\": \"3b322a6a-b4bb-4f19-8000-6244b2cf3d74\", \"name\": \"named-snap-root-volume-0\", \"volume_type\": \"l_ssd\", \"creation_date\": \"2025-11-27T16:07:43.422702+00:00\", \"modification_date\": \"2025-11-27T16:07:43.422702+00:00\", \"organization\": \"fa1e3217-dc80-42ac-85c3-3f034b78b552\", \"project\": \"19a4819b-24bf-4d44-969f-935ef0061b71\", \"size\": 12000000000, \"state\": \"available\", \"base_volume\": {\"id\": \"5c249e0d-93c1-4305-842b-40c55872d9f5\", \"name\": \"Ubuntu 22.04 Jammy Jellyfish\"}, \"tags\": [\"test\", \"packer\", \"complete\"], \"zone\": \"nl-ams-1\", \"error_details\": null}}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 99.559647ms
[...]
