---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    form:
      name:
      - packer-e2e-mixed-volumes
      page:
      - "1"
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images?name=packer-e2e-mixed-volumes&page=1
    method: GET
  response:
    body: "{\"images\": []}"
    headers:
      Content-Type:
      - application/json
      Link:
      - </images?page=0&per_page=50&name=packer-e2e-mixed-volumes>; rel="last"
      X-Total-Count:
      - "0"
    status: 200 OK
    code: 200
    duration: 392.89464ms
- id: 1
  request:
    host: api.scaleway.com
    form:
      page:
      - "1"
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/snapshots?page=1
    method: GET
  response:
    body: "{\"snapshots\": [{\"id\": \"040de054-2855-426c-a8db-f224be7f2058\", \"name\": \"packer-e2e-root-volume-local_snap_0\", \"volume_type\": \"l_ssd\", \"creation_date\": \"2025-11-12T14:23:01.653225+00:00\", \"modification_date\": \"2025-11-12T14:32:10.634612+00:00\", \"organization\": \"fa1e3217-dc80-42ac-85c3-3f034b78b552\", \"project\": \"fa1e3217-dc80-42ac-85c3-3f034b78b552\", \"size\": 20000000000, \"state\": \"available\", \"base_volume\": null, \"tags\": [], \"zone\": \"fr-par-1\", \"error_details\": null}]}"
    headers:
      Content-Type:
      - application/json
      Link:
      - </snapshots?page=1&per_page=50&>; rel="last"
      X-Total-Count:
      - "1"
    status: 200 OK
    code: 200
    duration: 141.341259ms
- id: 2
  request:
    host: api.scaleway.com
    form:
      include_deleted:
      - "false"
      order_by:
      - created_at_asc
      page:
      - "1"
    headers:
    url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots?include_deleted=false&order_by=created_at_asc&page=1
    method: GET
  response:
    body: "{\"snapshots\":[{\"id\":\"394a7cc9-f236-4fdb-b04a-b7e40f44d4e0\", \"name\":\"snap-windows-configured\", \"parent_volume\":{\"id\":\"425394e3-34de-4afc-9fd2-461c3fc5b8a7\", \"name\":\"Windows Server 2022_sbs_volume_0\", \"type\":\"sbs_5k\", \"status\":\"in_use\"}, \"size\":25000000000, \"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\", \"created_at\":\"2025-10-21T16:49:55.784568Z\", \"updated_at\":\"2025-10-21T16:49:55.784568Z\", \"references\":[], \"status\":\"available\", \"tags\":[], \"class\":\"sbs\", \"zone\":\"fr-par-1\"}, {\"id\":\"27653438-1c9b-40b3-b734-985080000738\", \"name\":\"snap-windows-configured-larger\", \"parent_volume\":{\"id\":\"425394e3-34de-4afc-9fd2-461c3fc5b8a7\", \"name\":\"Windows Server 2022_sbs_volume_0\", \"type\":\"sbs_5k\", \"status\":\"in_use\"}, \"size\":40000000000, \"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\", \"created_at\":\"2025-11-10T15:53:12.265541Z\", \"updated_at\":\"2025-11-10T15:53:12.265541Z\", \"references\":[], \"status\":\"avail[...]
- id: 3
  request:
    host: api.scaleway.com
    body: "{\"name\":\"packer-69287847-a2f0-d385-dad9-b7375d78f352\",\"perf_iops\":15000,\"project_id\":\"19a4819b-24bf-4d44-969f-935ef0061b71\",\"from_empty\":{\"size\":50000000000},\"tags\":null}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/volumes
    method: POST
  response:
    body: "{\"id\":\"b185301d-2578-49aa-ac7e-50beb1fde07d\", \"name\":\"packer-69287847-a2f0-d385-dad9-b7375d78f352\", \"type\":\"sbs_15k\", \"size\":50000000000, \"project_id\":\"19a4819b-24bf-4d44-969f-935ef0061b71\", \"created_at\":\"2025-11-27T16:11:51.949269Z\", \"updated_at\":\"2025-11-27T16:11:51.949269Z\", \"references\":[], \"parent_snapshot_id\":null, \"status\":\"creating\", \"tags\":[], \"specs\":{\"perf_iops\":15000, \"class\":\"sbs\"}, \"last_detached_at\":null, \"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 155.067784ms
- id: 4
  request:
    host: api.scaleway.com
    body: "{\"name\":\"packer-69287847-c854-1bd1-2e0f-ff9c9c7aa401\",\"commercial_type\":\"GP1-S\",\"image\":\"ubuntu_jammy\",\"volumes\":{\"0\":{\"size\":20000000000,\"volume_type\":\"l_ssd\"},\"1\":{\"id\":\"b185301d-2578-49aa-ac7e-50beb1fde07d\",\"volume_type\":\"sbs_volume\"}},\"boot_type\":\"local\",\"project\":\"19a4819b-24bf-4d44-969f-935ef0061b71\",\"tags\":[\"AUTHORIZED_KEY=ssh-rsa_AAAAB3NzaC1yc2EAAAADAQABAAACAQDYuDdIVhMV2+6jB+pyZvsn/COCzOXcrDfUzTvyPC7x9iNf+wVe9qxZ1HhCshSGVC/BpJeo/Dgfle3y6r95YiBv6q6DfFkJGPmqTekAl2NYdh+XSYPheZ6kyehPr7zLgHa+babFl/+BUecRgWJjzIPmhM9y17jM+A0kieKJT+kPhvLemZ2lh+t6STIQ85A6CGLvNUcBcF2ZyOUEILEfrqu6fsT2TB3vj9HULshPmWgdPRx2c8EboWvwy/ik2VjTZTt7BORSvT5T9I7HP6e5yjxCC4lz3/cwxn0c+IL39IoOxY6PyzwtmvTHH7YlHgcTdhxZWRn9OyQZYQdZDBoR6ciaov/czwULoq1rtXcwc2eeIz/o7UcWzcPQT2EregysnkI/pP0IEswB/esx5+paHzdWmaQJrkdh3efnIq53EN/6W4eIUluqB9eJT8O0j1zXH9Gk0CjuDa2SofoxV/ydYp7EMBpqiUsyb7EAyYpTm1IfgPkx30Bay/vPLMFeXHk4FBkP7lwmtHo9ZrDwl267FvSfjSjSWlI/sKV8c9et7inkQLrDzmoDZZAPc1iqCg1oqpKaJim5eLMGkTPKiH7zkgHSPF5Wq9sqSCIxHyYFIZdrk1oTUMN8niqnxDMmpLK1WVTZ08QwW8+JjtySelqR4hWzXnJPcHzhv41A2Zva8ZfAhw==\"]}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers
    method: POST
  response:
    body: "{\"server\": {\"id\": \"d1bde0ea-73b7-454f-a115-e0d458cef5fd\", \"name\": \"packer-69287847-c854-1bd1-2e0f-ff9c9c7aa401\", \"arch\": \"x86_64\", \"commercial_type\": \"GP1-S\", \"boot_type\": \"local\", \"organization\": \"fa1e3217-dc80-42ac-85c3-3f034b78b552\", \"project\": \"19a4819b-24bf-4d44-969f-935ef0061b71\", \"hostname\": \"packer-69287847-c854-1bd1-2e0f-ff9c9c7aa401\", \"image\": {\"id\": \"ec31d73d-ca36-4536-adf4-0feb76d30379\", \"name\": \"Ubuntu 22.04 Jammy Jellyfish\", \"organization\": \"51b656e3-4865-41e8-adbc-0c45bdd780db\", \"project\": \"51b656e3-4865-41e8-adbc-0c45bdd780db\", \"root_volume\": {\"id\": \"1973043b-32c4-4d52-baf4-5c99b42b4e39\", \"name\": \"Ubuntu 22.04 Jammy Jellyfish\", \"volume_type\": \"l_ssd\", \"size\": 10000000000}, \"extra_volumes\": {}, \"public\": true, \"arch\": \"x86_64\", \"creation_date\": \"2025-09-12T09:11:46.109401+00:00\", \"modification_date\": \"2025-09-12T09:11:46.109401+00:00\", \"default_bootscript\": null, \"from_server\": \"\", \"state\": \"available\", \"tags\": [], \"zone\": \"fr-par-1\"}, \"volumes\": {\"0\": {\"boot\": false, \"id\": \"aae23107-da2f-464f-b9f8-8c602d5c9b5d\", \"name\": \"Ubuntu 22.04 Jammy Jellyfish\", \"volume_type\": \"l_ssd\", \"organization\": \"fa1e3217-dc80-42ac-85c3-3f034b78b552\", \"project\": \"19a4819b-24bf-4d44-969f-935ef0061b71\", \"server\": {\"id\": \"d1bde0ea-73b7-454f-a115-e0d458cef5fd\", \"name\": \"packer-69287847-c854-1bd1-2e0f-ff9c9c7aa401\"}, \"size\": 20000000000, \"state\": \"available\", \"creation_date\": \"2025-11-27T16:11:52.138916+00:00\", \"modification_date\": \"2[...]
- id: 5
  request:
    host: api.scaleway.com
    body: "{\"action\":\"poweron\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers/d1bde0ea-73b7-454f-a115-e0d458cef5fd/action
    method: POST
  response:
    body: "{\"task\": {\"id\": \"07e03345-bff3-4c40-bb3d-c484c4243e70\", \"description\": \"server_batch_poweron\", \"status\": \"pending\", \"href_from\": \"/servers/d1bde0ea-73b7-454f-a115-e0d458cef5fd/action\", \"href_result\": \"/servers/d1bde0ea-73b7-454f-a115-e0d458cef5fd\", \"started_at\": \"2025-11-27T16:11:52.934830+00:00\", \"terminated_at\": null, \"progress\": 0, \"zone\": \"fr-par-1\"}}"
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/fr-par-1/tasks/07e03345-bff3-4c40-bb3d-c484c4243e70
    status: 202 Accepted
    code: 202
    duration: 358.929798ms
- id: 6
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers/d1bde0ea-73b7-454f-a115-e0d458cef5fd
    method: GET
  response:
    body: "{\"server\": {\"id\": \"d1bde0ea-73b7-454f-a115-e0d458cef5fd\", \"name\": \"packer-69287847-c854-1bd1-2e0f-ff9c9c7aa401\", \"arch\": \"x86_64\", \"commercial_type\": \"GP1-S\", \"boot_type\": \"local\", \"organization\": \"fa1e3217-dc80-42ac-85c3-3f034b78b552\", \"project\": \"19a4819b-24bf-4d44[...]
[...]
- id: 26
  request:
    host: api.scaleway.com
    body: "{\"name\":\"packer-1764259911\",\"volume_id\":\"aae23107-da2f-464f-b9f8-8c602d5c9b5d\",\"project\":\"19a4819b-24bf-4d44-969f-935ef0061b71\",\"volume_type\":\"l_ssd\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/snapshots
    method: POST
  response:
    body: "{\"snapshot\": {\"id\": \"46368f00-7fbf-4be0-83d9-0c0930c92850\", \"name\": \"packer-1764259911\", \"volume_type\": \"l_ssd\", \"creation_date\": \"2025-11-27T16:13:15.918745+00:00\", \"modification_date\": \"2025-11-27T16:13:15.918745+00:00\", \"organization\": \"fa1e3217-dc80-42ac-85c3-3f034b78b552\", \"project\": \"19a4819b-24bf-4d44-969f-935ef0061b71\", \"size\": 20000000000, \"state\": \"available\", \"base_volume\": {\"id\": \"aae23107-da2f-464f-b9f8-8c602d5c9b5d\", \"name\": \"Ubuntu 22.04 Jammy Jellyfish\"}, \"tags\": [], \"zone\": \"fr-par-1\", \"error_details\": null}, \"task\": {\"id\": \"2f8a420f-032d-4a16-8954-c7f92c4c75b2\", \"description\": \"volume_snapshot\", \"status\": \"pending\", \"href_from\": \"/snapshots\", \"href_result\": \"snapshots/46368f00-7fbf-4be0-83d9-0c0930c92850\", \"started_at\": \"2025-11-27T16:13:16.128449+00:00\", \"terminated_at\": null, \"progress\": 0, \"zone\": \"fr-par-1\"}}"
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: 301.478041ms
- id: 27
  request:
    host: api.scaleway.com
    body: "{\"volume_id\":\"b185301d-2578-49aa-ac7e-50beb1fde07d\",\"name\":\"packer-1764259911\",\"project_id\":\"19a4819b-24bf-4d44-969f-935ef0061b71\",\"tags\":null}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots
    method: POST
  response:
    body: "{\"id\":\"50516c7b-a8d4-4eca-8457-2c686e9742c8\", \"name\":\"packer-1764259911\", \"parent_volume\":{\"id\":\"b185301d-2578-49aa-ac7e-50beb1fde07d\", \"name\":\"packer-69287847-a2f0-d385-dad9-b7375d78f352\", \"type\":\"sbs_15k\", \"status\":\"in_use\"}, \"size\":50000000000, \"project_id\":\"19a4819b-24bf-4d44-969f-935ef0061b71\", \"created_at\":\"2025-11-27T16:13:16.246278Z\", \"updated_at\":\"2025-11-27T16:13:16.246278Z\", \"references\":[], \"status\":\"creating\", \"tags\":[], \"class\":\"sbs\", \"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 542.640127ms
- id: 28
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots/50516c7b-a8d4-4eca-8457-2c686e9742c8
    method: GET
  response:
    body: "{\"id\":\"50516c7b-a8d4-4eca-8457-2c686e9742c8\", \"name\":\"packer-1764259911\", \"parent_volume\":{\"id\":\"b185301d-2578-49aa-ac7e-50beb1fde07d\", \"name\":\"packer-69287847-a2f0-d385-dad9-b7375d78f352\", \"type\":\"sbs_15k\", \"status\":\"in_use\"}, \"size\":50000000000, \"project_id\":\"19a4819b-24bf-4d44-969f-935ef0061b71\", \"created_at\":\"2025-11-27T16:13:16.246278Z\", \"updated_at\":\"2025-11-27T16:13:16.246278Z\", \"references\":[], \"status\":\"creating\", \"tags\":[], \"class\":\"sbs\", \"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 332.263791ms
[...]
- id: 30
  request:
    host: api.scaleway.com
    body: "{\"name\":\"packer-e2e-mixed-volumes\",\"root_volume\":\"46368f00-7fbf-4be0-83d9-0c0930c92850\",\"arch\":\"x86_64\",\"extra_volumes\":{\"1\":{\"id\":\"50516c7b-a8d4-4eca-8457-2c686e9742c8\"}},\"project\":\"19a4819b-24bf-4d44-969f-935ef0061b71\",\"public\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images
    method: POST
  response:
    body: "{\"image\": [...]
- id: 31
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images/5e7e23cc-555f-4042-b6d7-c4cd35249f3e
    method: GET
  response:
    body: "{\"image\": {\"id\": \"5e7e23cc-555f-4042-b6d7-c4cd35249f3e\", \"name\": \"packer-e2e-mixed-volumes\", \"organization\": \"fa1e3217-dc80-42ac-85c3-3f034b78b552\", \"project\": \"19a4819b-24bf-4d44-969f-935ef0061b71\", \"root_volume\": {\"id\": \"46368f00-7fbf-4be0-83d9-0c0930c92850\", \"name\": \"packer-1764259911\", \"volume_type\": \"l_ssd\", \"size\": 20000000000}, \"extra_volumes\": {\"1\": {\"volume_type\": \"sbs_snapshot\", \"id\": \"50516c7b-a8d4-4eca-8457-2c686e9742c8\", \"size\": 0, \"name\": \"\"}}, \"public\": false, \"arch\": \"x86_64\", \"creation_date\": \"2025-11-27T16:13:22.540794+00:00\", \"modification_date\": \"2025-11-27T16:13:22.540794+00:00\", \"default_bootscript\": null, \"from_server\": \"\", \"state\": \"available\", \"tags\": [], \"zone\": \"fr-par-1\"}}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 73.463389ms
[...]
