---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    form:
      name:
      - packer-e2e-snap-name-block
      page:
      - "1"
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-2/images?name=packer-e2e-snap-name-block&page=1
    method: GET
  response:
    body: "{\"images\": []}"
    headers:
      Content-Type:
      - application/json
      Link:
      - </images?page=0&per_page=50&name=packer-e2e-snap-name-block>; rel="last"
      X-Total-Count:
      - "0"
    status: 200 OK
    code: 200
    duration: 259.720187ms
- id: 1
  request:
    host: api.scaleway.com
    form:
      page:
      - "1"
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-2/snapshots?page=1
    method: GET
  response:
    body: "{\"snapshots\": []}"
    headers:
      Content-Type:
      - application/json
      Link:
      - </snapshots?page=0&per_page=50&>; rel="last"
      X-Total-Count:
      - "0"
    status: 200 OK
    code: 200
    duration: 96.396543ms
- id: 2
  request:
    host: api.scaleway.com
    form:
      include_deleted:
      - "false"
      order_by:
      - created_at_asc
      page:
      - "1"
    headers:
    url: https://api.scaleway.com/block/v1/zones/fr-par-2/snapshots?include_deleted=false&order_by=created_at_asc&page=1
    method: GET
  response:
    body: "{\"snapshots\":[], \"total_count\":0}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 44.244809ms
- id: 3
  request:
    host: api.scaleway.com
    body: "{\"name\":\"packer-69287763-3357-07a9-991a-12ed02c791d5\",\"commercial_type\":\"PLAY2-PICO\",\"image\":\"ubuntu_jammy\",\"volumes\":{\"0\":{\"volume_type\":\"sbs_volume\"}},\"boot_type\":\"local\",\"project\":\"19a4819b-24bf-4d44-969f-935ef0061b71\",\"tags\":[\"AUTHORIZED_KEY=ssh-rsa_AAAAB3NzaC1yc2EAAAADAQABAAACAQDLcxCLVTTNUaVmSjZesc60xE1eCqd+4Pf/bQtNg+VJchN0/6OXSIrxKb9MTjcjmiEDpZbhqhqBRsnYI6AecPGCVoSlQyDiHNkCOSAV+DyUewUZAkLCcQ9bVwn6QzG5pq7jiAv7kkaip8Y7nQeJAHEcEmsz6/axjw/yOnpHStNOnXFcTa+w92Qf+0bmcO6nUou4ERrPS2XyAa0DfEUq5/BtwHwFj00Skj7ZPH5FcywjnlQ8IY8gH0t/d0+krzDUqA3Ov6s1PJOJM9lZZXcJQbJByAu+grBpD6tGvWLmuCulQLlerrJbPi+dVeYuSoPzdPitNfNE648Sb90+3jj8J171PPbqfqCw9quThqqUVBVpHCdpK2AVBKF39UcUgiVT48X5tbGU4hm6WVjvBo/dLhNw2Qi7hwA+QG7DwjpvPUV/JXax5e7DXyXQqwEhBlLwy0aVYrBGlz/CjXInd6BliUuwrXpZQo32bJJ/XXIPKieLlser1bvivU1s/Z7yFlYkozCsfuA82Y205+sPYgtVmuqtCTiWyVS9IGdKDX1hwerpI0M2KcD7nCSQ7M7hZMSAyDrp/Peg3ceJS7W9wJOzuxF/nr1yiEol9+1EtVkDUVt0wRtfZno6Hr9na7Hue78zzvwka5+ZjL2V2gGWl1QDHP/kaCVAzELzpJvLjZ66dZqUSQ==\"]}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-2/servers
    method: POST
  response:
    body: "{\"server\": {\"id\": \"37f5ca1b-d2dd-47d5-930c-b3fcdcf26c28\", \"name\": \"packer-69287763-3357-07a9-991a-12ed02c791d5\", \"arch\": \"x86_64\", \"commercial_type\": \"PLAY2-PICO\", \"boot_type\": \"local\", \"organization\": \"fa1e3217-dc80-42ac-85c3-3f034b78b552\", \"project\": \"19a4819b-24bf-4d44-969f-935ef0061b71\", \"hostname\": \"packer-69287763-3357-07a9-991a-12ed02c791d5\", \"image\": {\"id\": \"31b12803-5f92-4a28-804d-a86abf4d52d1\", \"name\": \"Ubuntu 22.04 Jammy Jellyfish\", \"organization\": \"51b656e3-4865-41e8-adbc-0c45bdd780db\", \"project\": \"51b656e3-4865-41e8-adbc-0c45bdd780db\", \"root_volume\": {\"volume_type\": \"sbs_snapshot\", \"id\": \"baff3d88-f99e-4343-8753-cbd9d30b1c86\", \"size\": 0, \"name\": \"\"}, \"extra_volumes\": {}, \"public\": true, \"arch\": \"x86_64\", \"creation_date\": \"2025-09-12T09:11:36.622039+00:00\", \"modification_date\": \"2025-09-12T09:11:36.622039+00:00\", \"default_bootscript\": null, \"from_server\": \"\", \"state\": \"available\", \"tags\": [], \"zone\": \"fr-par-2\"}, \"volumes\": {\"0\": {\"boot\": false, \"volume_type\": \"sbs_volume\", \"id\": \"5fbf9e6b-0e65-40af-9d00-61fe22f4d7be\", \"state\": \"available\", \"zone\": \"fr-par-2\"}}, \"tags\": [\"AUTHORIZED_KEY=ssh-rsa_AAAAB3NzaC1yc2EAAAADAQABAAACAQDLcxCLVTTNUaVmSjZesc60xE1eCqd+4Pf/bQtNg+VJchN0/6OXSIrxKb9MTjcjmiEDpZbhqhqBRsnYI6AecPGCVoSlQyDiHNkCOSAV+DyUewUZAkLCcQ9bVwn6QzG5pq7jiAv7kkaip8Y7nQeJAHEcEmsz6/axjw/yOnpHStNOnXFcTa+w92Qf+0bmcO6nUou4ERrPS2XyAa0DfEUq5/BtwHwFj00Skj7ZPH5FcywjnlQ8IY8gH0t/d0+krzDUqA3Ov6s1PJOJM9lZZXcJQbJByAu+grBpD6tGvWLmuCulQLlerrJbPi+dVeYuSoPzdPitNfNE648Sb90+3jj8J171PPbqfqCw9quThqqUVBVpHCdpK2AVBKF39UcUgiVT48X5tbGU4hm6WVjvBo/dLhNw2Qi7hwA+QG7DwjpvPUV/JXax5e7DXyXQqwEhBlLwy0aVYrBGlz/CjXInd6BliUuwrXpZQo32bJJ/XXIPKieLlser1bvivU1s/Z7yFlYkozCsfuA82Y205+sPYgtVmuqtCTiWyVS9IGdKDX1hwerpI0M2KcD7nCSQ7M7hZMSAyDrp/Peg3ceJS7W9wJOzuxF/nr1yiEol9+1EtVkDUVt0wRtfZno6Hr9na7Hue78zzvwka5+ZjL2V2gGWl1QDHP/kaCVAzELzpJvLjZ66dZqUSQ==\"], \"state\": \"stopped\", \"protected\": false, \"state_detail\": \"\", \"public_ip\": null, \"public_ips\": [], \"mac_address\": \"de:00:00:94:18:05\", \"routed_ip_enabled\": true, \"ipv6\": null, \"extra_networks\": [], \"dynamic_ip_required\": true, \"enable_ipv6\": false, \"private_ip\": null, \"creation_date\": \"2025-11-27T16:08:04.379735+00:00\", \"modification_date\": \"2025-11-27T16:08:04.379735+00:00\", \"bootscript\": null, \"security_group\": {\"id\": \"570c2ce0-3e5f-45e4-850b-7f0e0498e6fd\", \"name\": \"Default security group\"}, \"location\": null, \"maintenances\": [], \"allowed_actions\": [\"poweron\", \"backup\"], \"placement_group\": null, \"private_nics\": [], \"zone\": \"fr-par-2\", \"filesystems\": [], \"end_of_service\": false}}"
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/fr-par-2/servers/37f5ca1b-d2dd-47d5-930c-b3fcdcf26c28
    status: 201 Created
    code: 201
    duration: 512.28658ms
- id: 4
  request:
    host: api.scaleway.com
    body: "{\"action\":\"poweron\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-2/servers/37f5ca1b-d2dd-47d5-930c-b3fcdcf26c28/action
    method: POST
  response:
    body: "{\"task\": {\"id\": \"20710e5c-cec3-4a8f-af12-af72b16f91ed\", \"description\": \"server_batch_poweron\", \"status\": \"pending\", \"href_from\": \"/servers/37f5ca1b-d2dd-47d5-930c-b3fcdcf26c28/action\", \"href_result\": \"/servers/37f5ca1b-d2dd-47d5-930c-b3fcdcf26c28\", \"started_at\": \"2025-11-27T16:08:05.120064+00:00\", \"terminated_at\": null, \"progress\": 0, \"zone\": \"fr-par-2\"}}"
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/fr-par-2/tasks/20710e5c-cec3-4a8f-af12-af72b16f91ed
    status: 202 Accepted
    code: 202
    duration: 362.959893ms
- id: 5
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-2/servers/37f5ca1b-d2dd-47d5-930c-b3fcdcf26c28
    method: GET
  response:
    body: "{\"server\": {\"id\": \"37f5ca1b-d2dd-47d5-930c-b3fcdcf26c28\", \"name\": \"packer-69287763-3357-07a9-991a-12ed02c791d5\", \"arch\": \"x86_64\", \"commercial_type\": \"PLAY2-PICO\", \"boot_type\": \"local\", \"organization\": \"fa1e3217-dc80-42ac-85c3-3f034b78b552\", \"project\": \"19a4819b-24bf[...]
[...]
- id: 20
  request:
    host: api.scaleway.com
    body: "{\"volume_id\":\"5fbf9e6b-0e65-40af-9d00-61fe22f4d7be\",\"name\":\"named-block-snapshot\",\"project_id\":\"19a4819b-24bf-4d44-969f-935ef0061b71\",\"tags\":[\"test\",\"snapshot-name\",\"block\"]}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/block/v1/zones/fr-par-2/snapshots
    method: POST
  response:
    body: "{\"id\":\"cd9a6095-d203-44a5-a324-e345f5290f20\", \"name\":\"named-block-snapshot\", \"parent_volume\":{\"id\":\"5fbf9e6b-0e65-40af-9d00-61fe22f4d7be\", \"name\":\"Ubuntu 22.04 Jammy Jellyfish_sbs_volume_0\", \"type\":\"sbs_5k\", \"status\":\"in_use\"}, \"size\":10000000000, \"project_id\":\"19a4819b-24bf-4d44-969f-935ef0061b71\", \"created_at\":\"2025-11-27T16:09:01.827143Z\", \"updated_at\":\"2025-11-27T16:09:01.827143Z\", \"references\":[], \"status\":\"creating\", \"tags\":[\"test\", \"snapshot-name\", \"block\"], \"class\":\"sbs\", \"zone\":\"fr-par-2\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 173.872768ms
- id: 21
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/block/v1/zones/fr-par-2/snapshots/cd9a6095-d203-44a5-a324-e345f5290f20
    method: GET
  response:
    body: "{\"id\":\"cd9a6095-d203-44a5-a324-e345f5290f20\", \"name\":\"named-block-snapshot\", \"parent_volume\":{\"id\":\"5fbf9e6b-0e65-40af-9d00-61fe22f4d7be\", \"name\":\"Ubuntu 22.04 Jammy Jellyfish_sbs_volume_0\", \"type\":\"sbs_5k\", \"status\":\"in_use\"}, \"size\":10000000000, \"project_id\":\"19a4819b-24bf-4d44-969f-935ef0061b71\", \"created_at\":\"2025-11-27T16:09:01.827143Z\", \"updated_at\":\"2025-11-27T16:09:01.827143Z\", \"references\":[], \"status\":\"creating\", \"tags\":[\"test\", \"snapshot-name\", \"block\"], \"class\":\"sbs\", \"zone\":\"fr-par-2\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 76.445094ms
[...]
- id: 23
  request:
    host: api.scaleway.com
    body: "{\"name\":\"packer-e2e-snap-name-block\",\"root_volume\":\"cd9a6095-d203-44a5-a324-e345f5290f20\",\"arch\":\"x86_64\",\"project\":\"19a4819b-24bf-4d44-969f-935ef0061b71\",\"tags\":[\"test\",\"snapshot-name\",\"block\"],\"public\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-2/images
    method: POST
  response:
    body: "{\"image\": {\"id\": \"f1dadfa4-b36a-4533-a40a-9cd9ddfd30d9\", \"name\": \"packer-e2e-snap-name-block\", \"organization\": \"fa1e3217-dc80-42ac-85c3-3f034b78b552\", \"project\": \"19a4819b-24bf-4d44-969f-935ef0061b71\", \"root_volume\": {\"volume_type\": \"sbs_snapshot\", \"id\": \"cd9a6095-d203-44a5-a324-e345f5290f20\", \"size\": 0, \"name\": \"\"}, \"extra_volumes\": {}, \"public\": false, \"arch\": \"x86_64\", \"creation_date\": \"2025-11-27T16:09:07.210890+00:00\", \"modification_date\": \"2025-11-27T16:09:07.210890+00:00\", \"default_bootscript\": null, \"from_server\": \"\", \"state\": \"available\", \"tags\": [\"test\", \"snapshot-name\", \"block\"], \"zone\": \"fr-par-2\"}}"
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/fr-par-2/images/f1dadfa4-b36a-4533-a40a-9cd9ddfd30d9
    status: 201 Created
    code: 201
    duration: 358.305478ms
- id: 24
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-2/images/f1dadfa4-b36a-4533-a40a-9cd9ddfd30d9
    method: GET
  response:
    body: "{\"image\": {\"id\": \"f1dadfa4-b36a-4533-a40a-9cd9ddfd30d9\", \"name\": \"packer-e2e-snap-name-block\", \"organization\": \"fa1e3217-dc80-42ac-85c3-3f034b78b552\", \"project\": \"19a4819b-24bf-4d44-969f-935ef0061b71\", \"root_volume\": {\"volume_type\": \"sbs_snapshot\", \"id\": \"cd9a6095-d203-44a5-a324-e345f5290f20\", \"size\": 0, \"name\": \"\"}, \"extra_volumes\": {}, \"public\": false, \"arch\": \"x86_64\", \"creation_date\": \"2025-11-27T16:09:07.210890+00:00\", \"modification_date\": \"2025-11-27T16:09:07.210890+00:00\", \"default_bootscript\": null, \"from_server\": \"\", \"state\": \"available\", \"tags\": [\"test\", \"snapshot-name\", \"block\"], \"zone\": \"fr-par-2\"}}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 67.949298ms
- id: 25
  request:
    host: api.scaleway.com
    body: "{\"tags\":[\"test\",\"snapshot-name\",\"block\"]}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/block/v1/zones/fr-par-2/volumes/5fbf9e6b-0e65-40af-9d00-61fe22f4d7be
    method: PATCH
  response:
    body: "{\"id\":\"5fbf9e6b-0e65-40af-9d00-61fe22f4d7be\", \"name\":\"Ubuntu 22.04 Jammy Jellyfish_sbs_volume_0\", \"type\":\"sbs_5k\", \"size\":10000000000, \"project_id\":\"19a4819b-24bf-4d44-969f-935ef0061b71\", \"created_at\":\"2025-11-27T16:08:04.497284Z\", \"updated_at\":\"2025-11-27T16:08:04.497284Z\", \"references\":[{\"id\":\"35f6f00e-de91-46ea-be1e-9fd910b731da\", \"product_resource_type\":\"instance_server\", \"product_resource_id\":\"37f5ca1b-d2dd-47d5-930c-b3fcdcf26c28\", \"created_at\":\"2025-11-27T16:08:04.497284Z\", \"type\":\"exclusive\", \"status\":\"attached\"}], \"parent_snapshot_id\":\"baff3d88-f99e-4343-8753-cbd9d30b1c86\", \"status\":\"in_use\", \"tags\":[\"test\", \"snapshot-name\", \"block\"], \"specs\":{\"perf_iops\":5000, \"class\":\"sbs\"}, \"last_detached_at\":null, \"zone\":\"fr-par-2\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 79.361469ms
[...]
