---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    form:
      name:
      - packer-e2e-root-volume-sbs
      page:
      - "1"
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images?name=packer-e2e-root-volume-sbs&page=1
    method: GET
  response:
    body: "{\"images\": []}"
    headers:
      Content-Type:
      - application/json
      Link:
      - </images?page=0&per_page=50&name=packer-e2e-root-volume-sbs>; rel="last"
      X-Total-Count:
      - "0"
    status: 200 OK
    code: 200
    duration: 390.990473ms
- id: 1
  request:
    host: api.scaleway.com
    form:
      page:
      - "1"
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/snapshots?page=1
    method: GET
  response:
    body: "{\"snapshots\": [{\"id\": \"040de054-2855-426c-a8db-f224be7f2058\", \"name\": \"packer-e2e-root-volume-local_snap_0\", \"volume_type\": \"l_ssd\", \"creation_date\": \"2025-11-12T14:23:01.653225+00:00\", \"modification_date\": \"2025-11-12T14:32:10.634612+00:00\", \"organization\": \"fa1e3217-dc80-42ac-85c3-3f034b78b552\", \"project\": \"fa1e3217-dc80-42ac-85c3-3f034b78b552\", \"size\": 20000000000, \"state\": \"available\", \"base_volume\": null, \"tags\": [], \"zone\": \"fr-par-1\", \"error_details\": null}]}"
    headers:
      Content-Type:
      - application/json
      Link:
      - </snapshots?page=1&per_page=50&>; rel="last"
      X-Total-Count:
      - "1"
    status: 200 OK
    code: 200
    duration: 131.510678ms
- id: 2
  request:
    host: api.scaleway.com
    form:
      include_deleted:
      - "false"
      order_by:
      - created_at_asc
      page:
      - "1"
    headers:
    url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots?include_deleted=false&order_by=created_at_asc&page=1
    method: GET
  response:
    body: "{\"snapshots\":[{\"id\":\"394a7cc9-f236-4fdb-b04a-b7e40f44d4e0\", \"name\":\"snap-windows-configured\", \"parent_volume\":{\"id\":\"425394e3-34de-4afc-9fd2-461c3fc5b8a7\", \"name\":\"Windows Server 2022_sbs_volume_0\", \"type\":\"sbs_5k\", \"status\":\"in_use\"}, \"size\":25000000000, \"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\", \"created_at\":\"2025-10-21T16:49:55.784568Z\", \"updated_at\":\"2025-10-21T16:49:55.784568Z\", \"references\":[], \"status\":\"available\", \"tags\":[], \"class\":\"sbs\", \"zone\":\"fr-par-1\"}, {\"id\":\"27653438-1c9b-40b3-b734-985080000738\", \"name\":\"snap-windows-configured-larger\", \"parent_volume\":{\"id\":\"425394e3-34de-4afc-9fd2-461c3fc5b8a7\", \"name\":\"Windows Server 2022_sbs_volume_0\", \"type\":\"sbs_5k\", \"status\":\"in_use\"}, \"size\":40000000000, \"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\", \"created_at\":\"2025-11-10T15:53:12.265541Z\", \"updated_at\":\"2025-11-10T15:53:12.265541Z\", \"references\":[], \"status\":\"avail[...]
- id: 3
  request:
    host: api.scaleway.com
    body: "{\"name\":\"packer-692876b4-bd92-37f0-fc01-3eda24ede889\",\"commercial_type\":\"PLAY2-PICO\",\"image\":\"ubuntu_jammy\",\"volumes\":{\"0\":{\"size\":50000000000,\"volume_type\":\"sbs_volume\"}},\"boot_type\":\"local\",\"project\":\"19a4819b-24bf-4d44-969f-935ef0061b71\",\"tags\":[\"AUTHORIZED_KEY=ssh-rsa_AAAAB3NzaC1yc2EAAAADAQABAAACAQCl+h6ccNW+RFjiAQzoeeeGRusNWwVyPAgEWVh+SymMuCKmoHjGbdYjpPrUDrXVAm3yqC6Vf+vRoHpaNYyY67T4mAscisVKOombA5eel4VlYNpKnINq8uCrwqL6rkmmIhnXWcBFw38OfH0s+FdXbUFK+a81+JQkq4zlTsy9LpbmDV3uJo0xkUmmu2//UjZAeSul/ITqTSbLTa9xiBDhSAThlsUkL/4xsPvzMM5lLOTO6+uEs+95hXBcpmOKLMaTUwo1Bggj3hBBx8LbgLqlz0yRPqCZQMwUiCrfe22xjk1RTGiBZXNSc7ManFzpYfkN4HP6PYMdVngCS9R6JmGoUBoxYQ4vDIcU9qGKf7tfv4iA4fR1FLjxFdkSMiJbaWpOORapXZGRzS9IvTISlMXSzWqMGPyH4JWfy3NXqyn8mcV+LNksx1uklLN+7wnFrV1MjhH/Toxgo8fPfQf0ig8Ms4yoqZnPHX/MKtIu3OiQ9RAdJRgIiV7L5VNs27u/bzsE06KZyr/hlv42HhFu+bqsg6C7cH+1EGx0OKYCHhOT2pLAtvlsrh5wnqOsr8FhDF2OPwoEDjl4dVP5VEsWQURT4ZfTJlE0diOrqYDEqRZuzwLtN73JXGhsPcse0o3z9qwbwDCVUMjfF/v6JHe/Na1x/pesbROYCUZTaDj2DvCkPkZR5Q==\"]}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers
    method: POST
  response:
    body: "{\"server\": {\"id\": \"a00d66d7-d00a-4f6c-9d27-2edbaad29b8c\", \"name\": \"packer-692876b4-bd92-37f0-fc01-3eda24ede889\", \"arch\": \"x86_64\", \"commercial_type\": \"PLAY2-PICO\", \"boot_type\": \"local\", \"organization\": \"fa1e3217-dc80-42ac-85c3-3f034b78b552\", \"project\": \"19a4819b-24bf-4d44-969f-935ef0061b71\", \"hostname\": \"packer-692876b4-bd92-37f0-fc01-3eda24ede889\", \"image\": {\"id\": \"6d3c053e-c728-4294-b23a-560b62a4d592\", \"name\": \"Ubuntu 22.04 Jammy Jellyfish\", \"organization\": \"51b656e3-4865-41e8-adbc-0c45bdd780db\", \"project\": \"51b656e3-4865-41e8-adbc-0c45bdd780db\", \"root_volume\": {\"volume_type\": \"sbs_snapshot\", \"id\": \"36b4ce54-c67a-4f68-ab74-839515834352\", \"size\": 0, \"name\": \"\"}, \"extra_volumes\": {}, \"public\": true, \"arch\": \"x86_64\", \"creation_date\": \"2025-09-12T09:11:41.420846+00:00\", \"modification_date\": \"2025-09-12T09:11:41.420846+00:00\", \"default_bootscript\": null, \"from_server\": \"\", \"state\": \"available\", \"tags\": [], \"zone\": \"fr-par-1\"}, \"volumes\": {\"0\": {\"boot\": false, \"volume_type\": \"sbs_volume\", \"id\": \"12d28449-2789-4058-a371-fffba51c4215\", \"state\": \"available\", \"zone\": \"fr-par-1\"}}, \"tags\": [\"AUTHORIZED_KEY=ssh-rsa_AAAAB3NzaC1yc2EAAAADAQABAAACAQCl+h6ccNW+RFjiAQzoeeeGRusNWwVyPAgEWVh+SymMuCKmoHjGbdYjpPrUDrXVAm3yqC6Vf+vRoHpaNYyY67T4mAscisVKOombA5eel4VlYNpKnINq8uCrwqL6rkmmIhnXWcBFw38OfH0s+FdXbUFK+a81+JQkq4zlTsy9LpbmDV3uJo0xkUmmu2//UjZAeSul/ITqTSbLTa9xiBDhSAThlsUkL/4xsPvzMM5lLOTO6+uEs+95hXBcpmOKLMaTUwo1Bggj3hBBx8LbgLqlz0yRPqCZQMwUiCrfe22xjk1RTGiBZXNSc7ManFzpYfkN4HP6PYMdVngCS9R6JmGoUBoxYQ4vDIcU9qGKf7tfv4iA4fR1FLjxFdkSMiJbaWpOORapXZGRzS9IvTISlMXSzWqMGPyH4JWfy3NXqyn8mcV+LNksx1uklLN+7wnFrV1MjhH/Toxgo8fPfQf0ig8Ms4yoqZnPHX/MKtIu3OiQ9RAdJRgIiV7L5VNs27u/bzsE06KZyr/hlv42HhFu+bqsg6C7cH+1EGx0OKYCHhOT2pLAtvlsrh5wnqOsr8FhDF2OPwoEDjl4dVP5VEsWQURT4ZfTJlE0diOrqYDEqRZuzwLtN73JXGhsPcse0o3z9qwbwDCVUMjfF/v6JHe/Na1x/pesbROYCUZTaDj2DvCkPkZR5Q==\"], \"state\": \"stopped\", \"protected\": false, \"state_detail\": \"\", \"public_ip\": null, \"public_ips\": [], \"mac_address\": \"de:00:00:d6:d6:c1\", \"routed_ip_enabled\": true, \"ipv6\": null, \"extra_networks\": [], \"dynamic_ip_required\": true, \"enable_ipv6\": false, \"private_ip\": null, \"creation_date\": \"2025-11-27T16:05:09.053180+00:00\", \"modification_date\": \"2025-11-27T16:05:09.053180+00:00\", \"bootscript\": null, \"security_group\": {\"id\": \"96320557-68cb-45f1-9f9b-587a3c3f458c\", \"name\": \"Default security group\"}, \"location\": null, \"maintenances\": [], \"allowed_actions\": [\"poweron\", \"backup\"], \"placement_group\": null, \"private_nics\": [], \"zone\": \"fr-par-1\", \"filesystems\": [], \"end_of_service\": false}}"
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/fr-par-1/servers/a00d66d7-d00a-4f6c-9d27-2edbaad29b8c
    status: 201 Created
    code: 201
    duration: 616.550663ms
- id: 4
  request:
    host: api.scaleway.com
    body: "{\"perf_iops\":15000}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/volumes/12d28449-2789-4058-a371-fffba51c4215
    method: PATCH
  response:
    body: "{\"id\":\"12d28449-2789-4058-a371-fffba51c4215\", \"name\":\"Ubuntu 22.04 Jammy Jellyfish_sbs_volume_0\", \"type\":\"sbs_5k\", \"size\":50000000000, \"project_id\":\"19a4819b-24bf-4d44-969f-935ef0061b71\", \"created_at\":\"2025-11-27T16:05:09.212929Z\", \"updated_at\":\"2025-11-27T16:05:09.212929Z\", \"references\":[{\"id\":\"aa6dd03e-f3de-4c62-9382-8ecdf51be4c5\", \"product_resource_type\":\"instance_server\", \"product_resource_id\":\"a00d66d7-d00a-4f6c-9d27-2edbaad29b8c\", \"created_at\":\"2025-11-27T16:05:09.212929Z\", \"type\":\"exclusive\", \"status\":\"attached\"}], \"parent_snapshot_id\":\"36b4ce54-c67a-4f68-ab74-839515834352\", \"status\":\"updating\", \"tags\":[], \"specs\":{\"perf_iops\":5000, \"class\":\"sbs\"}, \"last_detached_at\":null, \"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 89.547236ms
- id: 5
  request:
    host: api.scaleway.com
    body: "{\"action\":\"poweron\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers/a00d66d7-d00a-4f6c-9d27-2edbaad29b8c/action
    method: POST
  response:
    body: "{\"task\": {\"id\": \"d90416f2-8eca-40b8-9f57-65245c19b298\", \"description\": \"server_batch_poweron\", \"status\": \"pending\", \"href_from\": \"/servers/a00d66d7-d00a-4f6c-9d27-2edbaad29b8c/action\", \"href_result\": \"/servers/a00d66d7-d00a-4f6c-9d27-2edbaad29b8c\", \"started_at\": \"2025-11-27T16:05:10.303489+00:00\", \"terminated_at\": null, \"progress\": 0, \"zone\": \"fr-par-1\"}}"
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/fr-par-1/tasks/d90416f2-8eca-40b8-9f57-65245c19b298
    status: 202 Accepted
    code: 202
    duration: 692.056286ms
- id: 6
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers/a00d66d7-d00a-4f6c-9d27-2edbaad29b8c
    method: GET
  response:
    body: "{\"server\": {\"id\": \"a00d66d7-d00a-4f6c-9d27-2edbaad29b8c\", \"name\": \"packer-692876b4-bd92-37f0-fc01-3eda24ede889\", \"arch\": \"x86_64\", \"commercial_type\": \"PLAY2-PICO\", \"boot_type\": \"local\", \"organization\": \"fa1e3217-dc80-42ac-85c3-3f034b78b552\", \"project\": \"19a4819b-24bf[...]
[...]
- id: 24
  request:
    host: api.scaleway.com
    body: "{\"volume_id\":\"12d28449-2789-4058-a371-fffba51c4215\",\"name\":\"packer-1764259508\",\"project_id\":\"19a4819b-24bf-4d44-969f-935ef0061b71\",\"tags\":null}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots
    method: POST
  response:
    body: "{\"id\":\"fb1bd29f-3c7a-4768-aca4-e53f52ae7463\", \"name\":\"packer-1764259508\", \"parent_volume\":{\"id\":\"12d28449-2789-4058-a371-fffba51c4215\", \"name\":\"Ubuntu 22.04 Jammy Jellyfish_sbs_volume_0\", \"type\":\"sbs_15k\", \"status\":\"in_use\"}, \"size\":50000000000, \"project_id\":\"19a4819b-24bf-4d44-969f-935ef0061b71\", \"created_at\":\"2025-11-27T16:06:22.456619Z\", \"updated_at\":\"2025-11-27T16:06:22.456619Z\", \"references\":[], \"status\":\"creating\", \"tags\":[], \"class\":\"sbs\", \"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 678.041447ms
- id: 25
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots/fb1bd29f-3c7a-4768-aca4-e53f52ae7463
    method: GET
  response:
    body: "{\"id\":\"fb1bd29f-3c7a-4768-aca4-e53f52ae7463\", \"name\":\"packer-1764259508\", \"parent_volume\":{\"id\":\"12d28449-2789-4058-a371-fffba51c4215\", \"name\":\"Ubuntu 22.04 Jammy Jellyfish_sbs_volume_0\", \"type\":\"sbs_15k\", \"status\":\"in_use\"}, \"size\":50000000000, \"project_id\":\"19a4819b-24bf-4d44-969f-935ef0061b71\", \"created_at\":\"2025-11-27T16:06:22.456619Z\", \"updated_at\":\"2025-11-27T16:06:22.456619Z\", \"references\":[], \"status\":\"creating\", \"tags\":[], \"class\":\"sbs\", \"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 350.128479ms
[...]
- id: 27
  request:
    host: api.scaleway.com
    body: "{\"name\":\"packer-e2e-root-volume-sbs\",\"root_volume\":\"fb1bd29f-3c7a-4768-aca4-e53f52ae7463\",\"arch\":\"x86_64\",\"project\":\"19a4819b-24bf-4d44-969f-935ef0061b71\",\"public\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images
    method: POST
  response:
    body: "{\"image\": {\"id\": \"c175a49a-65bc-468e-8cec-f09dcd6d963f\", \"name\": \"packer-e2e-root-volume-sbs\", \"organization\": \"fa1e3217-dc80-42ac-85c3-3f034b78b552\", \"project\": \"19a4819b-24bf-4d44-969f-935ef0061b71\", \"root_volume\": {\"volume_type\": \"sbs_snapshot\", \"id\": \"fb1bd29f-3c7a-4768-aca4-e53f52ae7463\", \"size\": 0, \"name\": \"\"}, \"extra_volumes\": {}, \"public\": false, \"arch\": \"x86_64\", \"creation_date\": \"2025-11-27T16:06:29.953285+00:00\", \"modification_date\": \"2025-11-27T16:06:29.953285+00:00\", \"default_bootscript\": null, \"from_server\": \"\", \"state\": \"available\", \"tags\": [], \"zone\": \"fr-par-1\"}}"
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/fr-par-1/images/c175a49a-65bc-468e-8cec-f09dcd6d963f
    status: 201 Created
    code: 201
    duration: 696.39644ms
- id: 28
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images/c175a49a-65bc-468e-8cec-f09dcd6d963f
    method: GET
  response:
    body: "{\"image\": {\"id\": \"c175a49a-65bc-468e-8cec-f09dcd6d963f\", \"name\": \"packer-e2e-root-volume-sbs\", \"organization\": \"fa1e3217-dc80-42ac-85c3-3f034b78b552\", \"project\": \"19a4819b-24bf-4d44-969f-935ef0061b71\", \"root_volume\": {\"volume_type\": \"sbs_snapshot\", \"id\": \"fb1bd29f-3c7a-4768-aca4-e53f52ae7463\", \"size\": 0, \"name\": \"\"}, \"extra_volumes\": {}, \"public\": false, \"arch\": \"x86_64\", \"creation_date\": \"2025-11-27T16:06:29.953285+00:00\", \"modification_date\": \"2025-11-27T16:06:29.953285+00:00\", \"default_bootscript\": null, \"from_server\": \"\", \"state\": \"available\", \"tags\": [], \"zone\": \"fr-par-1\"}}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 60.586852ms
[...]
- id: 30
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/12d28449-2789-4058-a371-fffba51c4215
    method: GET
  response:
    body: "{\"type\": \"not_found\", \"message\": \"resource is not found\", \"resource\": \"instance_volume\", \"resource_id\": \"12d28449-2789-4058-a371-fffba51c4215\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 30.303816ms
[...]
