---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    form:
      name:
      - packer-e2e-snap-name-local
      page:
      - "1"
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-2/images?name=packer-e2e-snap-name-local&page=1
    method: GET
  response:
    body: "{\"images\": []}"
    headers:
      Content-Type:
      - application/json
      Link:
      - </images?page=0&per_page=50&name=packer-e2e-snap-name-local>; rel="last"
      X-Total-Count:
      - "0"
    status: 200 OK
    code: 200
    duration: 257.507502ms
- id: 1
  request:
    host: api.scaleway.com
    form:
      page:
      - "1"
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-2/snapshots?page=1
    method: GET
  response:
    body: "{\"snapshots\": []}"
    headers:
      Content-Type:
      - application/json
      Link:
      - </snapshots?page=0&per_page=50&>; rel="last"
      X-Total-Count:
      - "0"
    status: 200 OK
    code: 200
    duration: 93.290266ms
- id: 2
  request:
    host: api.scaleway.com
    form:
      include_deleted:
      - "false"
      order_by:
      - created_at_asc
      page:
      - "1"
    headers:
    url: https://api.scaleway.com/block/v1/zones/fr-par-2/snapshots?include_deleted=false&order_by=created_at_asc&page=1
    method: GET
  response:
    body: "{\"snapshots\":[], \"total_count\":0}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 34.006317ms
- id: 3
  request:
    host: api.scaleway.com
    body: "{\"name\":\"packer-692877c2-b064-d1df-6972-6b3da5070e04\",\"commercial_type\":\"DEV1-S\",\"image\":\"ubuntu_jammy\",\"volumes\":{\"0\":{\"volume_type\":\"l_ssd\"}},\"boot_type\":\"local\",\"project\":\"19a4819b-24bf-4d44-969f-935ef0061b71\",\"tags\":[\"AUTHORIZED_KEY=ssh-rsa_AAAAB3NzaC1yc2EAAAADAQABAAACAQDEUy5dWS4uFQPx9LnrZ6bBq4GP4vGcSgiIrTV3c3hnnBLZbjAuXzBUbBeW8zpGnjKNIfhb0N8Vh3vQWu7WO2cNr/HyNAEzSNSqoWqSMilpx2If97FsL2bileM8rhuiog9KxOSlZ8RDeXWavfFJEiTwUJxBJSFEYClgleciSx0ERLBO69muOnPlyCg43a0ywduirFjN1NQ/swSNqk0P6oe/WH1zkPY7sFW3BoygdtKjD12VJjiTQLyXuCMOrcVyr9zU4zFcO6ene4K+jzWe7zf7Xc4f/G471ZePZ0mW6skdWD1/Z0gqOytHHQAuy/wCpeR6h2ApZ5fmuuG6jOQDc+Mqt1iPIvolXfxO0ovcjU9rZW4B480t/j8TtriZcdqH1zyUEGIw+ifwzcaotMs3tX4XJsRyQboZgswgAebb1/MsdK7mCd1FleUwZ1rJZ+Kj6jXfhOkphDe5GtoLfjJbgMBvXFu9LYMdXWoAhzjizsYN44KB41wqONH024uSuptkDPlCIfKtqU4vlqnUwUVXW6v6Vhk9Xp12ETjsXQNg+DnyfTMuyMM42d72+PsLiOU66dJgwScRp6BCz3SDHMrES0HZBSSAVl4YwpM0AgPEbKlutsv4P8guQ73AanyxpMsirTAiPgwrnxDOi427CCyluUQ+PQ80h7RIZdQoVFfqRutHPw==\"]}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-2/servers
    method: POST
  response:
    body: "{\"server\": {\"id\": \"bee7aa79-9b2e-4faf-ad14-27b4d16f7e7a\", \"name\": \"packer-692877c2-b064-d1df-6972-6b3da5070e04\", \"arch\": \"x86_64\", \"commercial_type\": \"DEV1-S\", \"boot_type\": \"local\", \"organization\": \"fa1e3217-dc80-42ac-85c3-3f034b78b552\", \"project\": \"19a4819b-24bf-4d44-969f-935ef0061b71\", \"hostname\": \"packer-692877c2-b064-d1df-6972-6b3da5070e04\", \"image\": {\"id\": \"807e3830-c5ab-4018-8571-326e55d96295\", \"name\": \"Ubuntu 22.04 Jammy Jellyfish\", \"organization\": \"51b656e3-4865-41e8-adbc-0c45bdd780db\", \"project\": \"51b656e3-4865-41e8-adbc-0c45bdd780db\", \"root_volume\": {\"id\": \"a31c0335-14ca-45b5-97d3-1a307eed3dd1\", \"name\": \"Ubuntu 22.04 Jammy Jellyfish\", \"volume_type\": \"l_ssd\", \"size\": 10000000000}, \"extra_volumes\": {}, \"public\": true, \"arch\": \"x86_64\", \"creation_date\": \"2025-09-12T09:11:37.132337+00:00\", \"modification_date\": \"2025-09-12T09:11:37.132337+00:00\", \"default_bootscript\": null, \"from_server\": \"\", \"state\": \"available\", \"tags\": [], \"zone\": \"fr-par-2\"}, \"volumes\": {\"0\": {\"boot\": false, \"id\": \"60811a7c-1671-4f0e-bc03-2dc7b794a2f3\", \"name\": \"Ubuntu 22.04 Jammy Jellyfish\", \"volume_type\": \"l_ssd\", \"organization\": \"fa1e3217-dc80-42ac-85c3-3f034b78b552\", \"project\": \"19a4819b-24bf-4d44-969f-935ef0061b71\", \"server\": {\"id\": \"bee7aa79-9b2e-4faf-ad14-27b4d16f7e7a\", \"name\": \"packer-692877c2-b064-d1df-6972-6b3da5070e04\"}, \"size\": 10000000000, \"state\": \"available\", \"creation_date\": \"2025-11-27T16:09:39.304652+00:00\", \"modification_date\": \"2025-11-27T16:09:39.304652+00:00\", \"tags\": [], \"zone\": \"fr-par-2\"}}, \"tags\": [\"AUTHORIZED_KEY=ssh-rsa_AAAAB3NzaC1yc2EAAAADAQABAAACAQDEUy5dWS4uFQPx9LnrZ6bBq4GP4vGcSgiIrTV3c3hnnBLZbjAuXzBUbBeW8zpGnjKNIfhb0N8Vh3vQWu7WO2cNr/HyNAEzSNSqoWqSMilpx2If97FsL2bileM8rhuiog9KxOSlZ8RDeXWavfFJEiTwUJxBJSFEYClgleciSx0ERLBO69muOnPlyCg43a0ywduirFjN1NQ/swSNqk0P6oe/WH1zkPY7sFW3BoygdtKjD12VJjiTQLyXuCMOrcVyr9zU4zFcO6ene4K+jzWe7zf7Xc4f/G471ZePZ0mW6skdWD1/Z0gqOytHHQAuy/wCpeR6h2ApZ5fmuuG6jOQDc+Mqt1iPIvolXfxO0ovcjU9rZW4B480t/j8TtriZcdqH1zyUEGIw+ifwzcaotMs3tX4XJsRyQboZgswgAebb1/MsdK7mCd1FleUwZ1rJZ+Kj6jXfhOkphDe5GtoLfjJbgMBvXFu9LYMdXWoAhzjizsYN44KB41wqONH024uSuptkDPlCIfKtqU4vlqnUwUVXW6v6Vhk9Xp12ETjsXQNg+DnyfTMuyMM42d72+PsLiOU66dJgwScRp6BCz3SDHMrES0HZBSSAVl4YwpM0AgPEbKlutsv4P8guQ73AanyxpMsirTAiPgwrnxDOi427CCyluUQ+PQ80h7RIZdQoVFfqRutHPw==\"], \"state\": \"stopped\", \"protected\": false, \"state_detail\": \"\", \"public_ip\": null, \"public_ips\": [], \"mac_address\": \"de:00:00:94:18:17\", \"routed_ip_enabled\": true, \"ipv6\": null, \"extra_networks\": [], \"dynamic_ip_required\": true, \"enable_ipv6\": false, \"private_ip\": null, \"creation_date\": \"2025-11-27T16:09:39.304652+00:00\", \"modification_date\": \"2025-11-27T16:09:39.304652+00:00\", \"bootscript\": null, \"security_group\": {\"id\": \"570c2ce0-3e5f-45e4-850b-7f0e0498e6fd\", \"name\": \"Default security group\"}, \"location\": null, \"maintenances\": [], \"allowed_actions\": [\"poweron\", \"backup\"], \"placement_group\": null, \"private_nics\": [], \"zone\": \"fr-par-2\", \"filesystems\": [], \"end_of_service\": false}}"
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/fr-par-2/servers/bee7aa79-9b2e-4faf-ad14-27b4d16f7e7a
    status: 201 Created
    code: 201
    duration: 491.422136ms
- id: 4
  request:
    host: api.scaleway.com
    body: "{\"action\":\"poweron\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-2/servers/bee7aa79-9b2e-4faf-ad14-27b4d16f7e7a/action
    method: POST
  response:
    body: "{\"task\": {\"id\": \"47c8dbc0-b720-4191-80fe-2e68dd508368\", \"description\": \"server_batch_poweron\", \"status\": \"pending\", \"href_from\": \"/servers/bee7aa79-9b2e-4faf-ad14-27b4d16f7e7a/action\", \"href_result\": \"/servers/bee7aa79-9b2e-4faf-ad14-27b4d16f7e7a\", \"started_at\": \"2025-11-27T16:09:40.090016+00:00\", \"terminated_at\": null, \"progress\": 0, \"zone\": \"fr-par-2\"}}"
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/fr-par-2/tasks/47c8dbc0-b720-4191-80fe-2e68dd508368
    status: 202 Accepted
    code: 202
    duration: 421.660572ms
- id: 5
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-2/servers/bee7aa79-9b2e-4faf-ad14-27b4d16f7e7a
    method: GET
  response:
    body: "{\"server\": {\"id\": \"bee7aa79-9b2e-4faf-ad14-27b4d16f7e7a\", \"name\": \"packer-692877c2-b064-d1df-6972-6b3da5070e04\", \"arch\": \"x86_64\", \"commercial_type\": \"DEV1-S\", \"boot_type\": \"local\", \"organization\": \"fa1e3217-dc80-42ac-85c3-3f034b78b552\", \"project\": \"19a4819b-24bf-4d4[...]
[...]
- id: 23
  request:
    host: api.scaleway.com
    body: "{\"name\":\"named-local-snapshot\",\"volume_id\":\"60811a7c-1671-4f0e-bc03-2dc7b794a2f3\",\"tags\":[\"test\",\"snapshot-name\",\"local\"],\"project\":\"19a4819b-24bf-4d44-969f-935ef0061b71\",\"volume_type\":\"l_ssd\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-2/snapshots
    method: POST
  response:
    body: "{\"snapshot\": {\"id\": \"4847426e-54df-49f3-b958-32e4906dc7f6\", \"name\": \"named-local-snapshot\", \"volume_type\": \"l_ssd\", \"creation_date\": \"2025-11-27T16:10:52.063331+00:00\", \"modification_date\": \"2025-11-27T16:10:52.063331+00:00\", \"organization\": \"fa1e3217-dc80-42ac-85c3-3f034b78b552\", \"project\": \"19a4819b-24bf-4d44-969f-935ef0061b71\", \"size\": 10000000000, \"state\": \"available\", \"base_volume\": {\"id\": \"60811a7c-1671-4f0e-bc03-2dc7b794a2f3\", \"name\": \"Ubuntu 22.04 Jammy Jellyfish\"}, \"tags\": [\"test\", \"snapshot-name\", \"local\"], \"zone\": \"fr-par-2\", \"error_details\": null}, \"task\": {\"id\": \"0dd5bed2-0d3c-4d1c-bf0f-122d3a6399c6\", \"description\": \"volume_snapshot\", \"status\": \"pending\", \"href_from\": \"/snapshots\", \"href_result\": \"snapshots/4847426e-54df-49f3-b958-32e4906dc7f6\", \"started_at\": \"2025-11-27T16:10:52.267249+00:00\", \"terminated_at\": null, \"progress\": 0, \"zone\": \"fr-par-2\"}}"
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: 295.140615ms
- id: 24
  request:
    host: api.scaleway.com
    body: "{\"name\":\"packer-e2e-snap-name-local\",\"root_volume\":\"4847426e-54df-49f3-b958-32e4906dc7f6\",\"arch\":\"x86_64\",\"project\":\"19a4819b-24bf-4d44-969f-935ef0061b71\",\"tags\":[\"test\",\"snapshot-name\",\"local\"],\"public\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-2/images
    method: POST
  response:
    body: "{\"image\": {\"id\": \"501cbc75-63ea-4e43-832c-6993f24c4729\", \"name\": \"packer-e2e-snap-name-local\", \"organization\": \"fa1e3217-dc80-42ac-85c3-3f034b78b552\", \"project\": \"19a4819b-24bf-4d44-969f-935ef0061b71\", \"root_volume\": {\"id\": \"4847426e-54df-49f3-b958-32e4906dc7f6\", \"name\": \"named-local-snapshot\", \"volume_type\": \"l_ssd\", \"size\": 10000000000}, \"extra_volumes\": {}, \"public\": false, \"arch\": \"x86_64\", \"creation_date\": \"2025-11-27T16:10:52.386806+00:00\", \"modification_date\": \"2025-11-27T16:10:52.386806+00:00\", \"default_bootscript\": null, \"from_server\": \"\", \"state\": \"available\", \"tags\": [\"test\", \"snapshot-name\", \"local\"], \"zone\": \"fr-par-2\"}}"
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/fr-par-2/images/501cbc75-63ea-4e43-832c-6993f24c4729
    status: 201 Created
    code: 201
    duration: 172.641993ms
- id: 25
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-2/images/501cbc75-63ea-4e43-832c-6993f24c4729
    method: GET
  response:
    body: "{\"image\": {\"id\": \"501cbc75-63ea-4e43-832c-6993f24c4729\", \"name\": \"packer-e2e-snap-name-local\", \"organization\": \"fa1e3217-dc80-42ac-85c3-3f034b78b552\", \"project\": \"19a4819b-24bf-4d44-969f-935ef0061b71\", \"root_volume\": {\"id\": \"4847426e-54df-49f3-b958-32e4906dc7f6\", \"name\": \"named-local-snapshot\", \"volume_type\": \"l_ssd\", \"size\": 10000000000}, \"extra_volumes\": {}, \"public\": false, \"arch\": \"x86_64\", \"creation_date\": \"2025-11-27T16:10:52.386806+00:00\", \"modification_date\": \"2025-11-27T16:10:52.386806+00:00\", \"default_bootscript\": null, \"from_server\": \"\", \"state\": \"available\", \"tags\": [\"test\", \"snapshot-name\", \"local\"], \"zone\": \"fr-par-2\"}}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 53.284449ms
- id: 26
  request:
    host: api.scaleway.com
    body: "{\"tags\":[\"test\",\"snapshot-name\",\"local\"]}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/block/v1/zones/fr-par-2/volumes/60811a7c-1671-4f0e-bc03-2dc7b794a2f3
    method: PATCH
  response:
    body: "{\"message\":\"resource is not found\",\"resource\":\"volume\",\"resource_id\":\"60811a7c-1671-4f0e-bc03-2dc7b794a2f3\",\"type\":\"not_found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 29.587326ms
- id: 27
  request:
    host: api.scaleway.com
    body: "{\"tags\":[\"test\",\"snapshot-name\",\"local\"]}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-2/volumes/60811a7c-1671-4f0e-bc03-2dc7b794a2f3
    method: PATCH
  response:
    body: "{\"volume\": {\"id\": \"60811a7c-1671-4f0e-bc03-2dc7b794a2f3\", \"name\": \"Ubuntu 22.04 Jammy Jellyfish\", \"volume_type\": \"l_ssd\", \"organization\": \"fa1e3217-dc80-42ac-85c3-3f034b78b552\", \"project\": \"19a4819b-24bf-4d44-969f-935ef0061b71\", \"server\": {\"id\": \"bee7aa79-9b2e-4faf-ad14-27b4d16f7e7a\", \"name\": \"packer-692877c2-b064-d1df-6972-6b3da5070e04\"}, \"size\": 10000000000, \"state\": \"available\", \"creation_date\": \"2025-11-27T16:09:39.304652+00:00\", \"modification_date\": \"2025-11-27T16:10:52.593864+00:00\", \"tags\": [\"test\", \"snapshot-name\", \"local\"], \"zone\": \"fr-par-2\"}}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 90.11672ms
- id: 28
  request:
    host: api.scaleway.com
    body: "{\"tags\":[\"test\",\"snapshot-name\",\"local\"]}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/block/v1/zones/fr-par-2/snapshots/4847426e-54df-49f3-b958-32e4906dc7f6
    method: PATCH
  response:
    body: "{\"message\":\"resource is not found\",\"resource\":\"snapshot_id\",\"resource_id\":\"4847426e-54df-49f3-b958-32e4906dc7f6\",\"type\":\"not_found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 26.552647ms
- id: 29
  request:
    host: api.scaleway.com
    body: "{\"tags\":[\"test\",\"snapshot-name\",\"local\"]}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-2/snapshots/4847426e-54df-49f3-b958-32e4906dc7f6
    method: PATCH
  response:
    body: "{\"snapshot\": {\"id\": \"4847426e-54df-49f3-b958-32e4906dc7f6\", \"name\": \"named-local-snapshot\", \"volume_type\": \"l_ssd\", \"creation_date\": \"2025-11-27T16:10:52.063331+00:00\", \"modification_date\": \"2025-11-27T16:10:52.063331+00:00\", \"organization\": \"fa1e3217-dc80-42ac-85c3-3f034b78b552\", \"project\": \"19a4819b-24bf-4d44-969f-935ef0061b71\", \"size\": 10000000000, \"state\": \"available\", \"base_volume\": {\"id\": \"60811a7c-1671-4f0e-bc03-2dc7b794a2f3\", \"name\": \"Ubuntu 22.04 Jammy Jellyfish\"}, \"tags\": [\"test\", \"snapshot-name\", \"local\"], \"zone\": \"fr-par-2\", \"error_details\": null}}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 88.128784ms
[...]
