---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    form:
      name:
      - packer-e2e-simple
      page:
      - "1"
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images?name=packer-e2e-simple&page=1
    method: GET
  response:
    body: "{\"images\": []}"
    headers:
      Content-Type:
      - application/json
      Link:
      - </images?page=0&per_page=50&name=packer-e2e-simple>; rel="last"
      X-Total-Count:
      - "0"
    status: 200 OK
    code: 200
    duration: 411.795719ms
- id: 1
  request:
    host: api.scaleway.com
    form:
      page:
      - "1"
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/snapshots?page=1
    method: GET
  response:
    body: "{\"snapshots\": [{\"id\": \"040de054-2855-426c-a8db-f224be7f2058\", \"name\": \"packer-e2e-root-volume-local_snap_0\", \"volume_type\": \"l_ssd\", \"creation_date\": \"2025-11-12T14:23:01.653225+00:00\", \"modification_date\": \"2025-11-12T14:32:10.634612+00:00\", \"organization\": \"fa1e3217-dc80-42ac-85c3-3f034b78b552\", \"project\": \"fa1e3217-dc80-42ac-85c3-3f034b78b552\", \"size\": 20000000000, \"state\": \"available\", \"base_volume\": null, \"tags\": [], \"zone\": \"fr-par-1\", \"error_details\": null}]}"
    headers:
      Content-Type:
      - application/json
      Link:
      - </snapshots?page=1&per_page=50&>; rel="last"
      X-Total-Count:
      - "1"
    status: 200 OK
    code: 200
    duration: 119.344764ms
- id: 2
  request:
    host: api.scaleway.com
    form:
      include_deleted:
      - "false"
      order_by:
      - created_at_asc
      page:
      - "1"
    headers:
    url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots?include_deleted=false&order_by=created_at_asc&page=1
    method: GET
  response:
    body: "{\"snapshots\":[{\"id\":\"394a7cc9-f236-4fdb-b04a-b7e40f44d4e0\", \"name\":\"snap-windows-configured\", \"parent_volume\":{\"id\":\"425394e3-34de-4afc-9fd2-461c3fc5b8a7\", \"name\":\"Windows Server 2022_sbs_volume_0\", \"type\":\"sbs_5k\", \"status\":\"in_use\"}, \"size\":25000000000, \"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\", \"created_at\":\"2025-10-21T16:49:55.784568Z\", \"updated_at\":\"2025-10-21T16:49:55.784568Z\", \"references\":[], \"status\":\"available\", \"tags\":[], \"class\":\"sbs\", \"zone\":\"fr-par-1\"}, {\"id\":\"27653438-1c9b-40b3-b734-985080000738\", \"name\":\"snap-windows-configured-larger\", \"parent_volume\":{\"id\":\"425394e3-34de-4afc-9fd2-461c3fc5b8a7\", \"name\":\"Windows Server 2022_sbs_volume_0\", \"type\":\"sbs_5k\", \"status\":\"in_use\"}, \"size\":40000000000, \"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\", \"created_at\":\"2025-11-10T15:53:12.265541Z\", \"updated_at\":\"2025-11-10T15:53:12.265541Z\", \"references\":[], \"status\":\"avail[...]
- id: 3
  request:
    host: api.scaleway.com
    body: "{\"name\":\"packer-692875a1-19ed-b33a-6101-8b399a9aa1c5\",\"commercial_type\":\"PRO2-XXS\",\"image\":\"ubuntu_jammy\",\"boot_type\":\"local\",\"project\":\"19a4819b-24bf-4d44-969f-935ef0061b71\",\"tags\":[\"AUTHORIZED_KEY=ssh-rsa_AAAAB3NzaC1yc2EAAAADAQABAAACAQDAhdejs3/W+r8EJm7PpFSjLj8XlAL/Fmwk5LliBiGlZ9vVQ+4WkUw4sxMdoG1ISNEVm0Q5uEq66P9Sf+XU4eKQpqGz4vSxU3MrZUyUKsO/L0ulgvP+HZZmDp+zRfAALiplkylEzl52gSCd/GXQgtgeJCImvK38kBiszxIZyXi779EgqbOGuqKeopa382HS/TfiUpyixqvjC+kKeH1nMMhvbEINPKHr0o0DSu64nWYHkvwn0NUxWJElm0D5RLUekHbJ5qyDj3CPIxGV/mXLqMrchNfmZl7I9VhXD7B/yXyyDGQGcyqf+8jEWWsHI/79mjMhMwRUoFccRfKQUHH4h5HYhyEvz8vKWX9wrAQQ92J2zadHRoWhGg7WZYVXmqUP7qVHFNIqFG4ktHD18vgo7LbWosVpz+j84hr/2MwETcF3yrGcaChd7IicOi3w9wrUHzbNV1b6cJgTik+9thM3+jAlT5XhdhZD/1Z0nisZ+yAUYqftw5L+J8CKODXXyuvHzC+JBmZ4zNmutR1M+Pu7a4dWv4Oe8tK/W7lMkkLFdMgxnytOePkJF1Cx5JP7hO8SaTc7ANpkWQFLMuim8JuIfIbz72w/H0DqsXJkE0MgvbtxJa9TaLK8bCcDC8pECfCTyyW5k4T/gJIoVQ1F5QXRJkrh94gF4B22l7/gRfY/WlhGhw==\"]}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers
    method: POST
  response:
    body: "{\"server\": {\"id\": \"8c6575d3-958f-445b-91b0-3d6cf1e6df65\", \"name\": \"packer-692875a1-19ed-b33a-6101-8b399a9aa1c5\", \"arch\": \"x86_64\", \"commercial_type\": \"PRO2-XXS\", \"boot_type\": \"local\", \"organization\": \"fa1e3217-dc80-42ac-85c3-3f034b78b552\", \"project\": \"19a4819b-24bf-4d44-969f-935ef0061b71\", \"hostname\": \"packer-692875a1-19ed-b33a-6101-8b399a9aa1c5\", \"image\": {\"id\": \"6d3c053e-c728-4294-b23a-560b62a4d592\", \"name\": \"Ubuntu 22.04 Jammy Jellyfish\", \"organization\": \"51b656e3-4865-41e8-adbc-0c45bdd780db\", \"project\": \"51b656e3-4865-41e8-adbc-0c45bdd780db\", \"root_volume\": {\"volume_type\": \"sbs_snapshot\", \"id\": \"36b4ce54-c67a-4f68-ab74-839515834352\", \"size\": 0, \"name\": \"\"}, \"extra_volumes\": {}, \"public\": true, \"arch\": \"x86_64\", \"creation_date\": \"2025-09-12T09:11:41.420846+00:00\", \"modification_date\": \"2025-09-12T09:11:41.420846+00:00\", \"default_bootscript\": null, \"from_server\": \"\", \"state\": \"available\", \"tags\": [], \"zone\": \"fr-par-1\"}, \"volumes\": {\"0\": {\"boot\": false, \"volume_type\": \"sbs_volume\", \"id\": \"d4a8494b-c861-44c7-831b-51d258a4c8e6\", \"state\": \"available\", \"zone\": \"fr-par-1\"}}, \"tags\": [\"AUTHORIZED_KEY=ssh-rsa_AAAAB3NzaC1yc2EAAAADAQABAAACAQDAhdejs3/W+r8EJm7PpFSjLj8XlAL/Fmwk5LliBiGlZ9vVQ+4WkUw4sxMdoG1ISNEVm0Q5uEq66P9Sf+XU4eKQpqGz4vSxU3MrZUyUKsO/L0ulgvP+HZZmDp+zRfAALiplkylEzl52gSCd/GXQgtgeJCImvK38kBiszxIZyXi779EgqbOGuqKeopa382HS/TfiUpyixqvjC+kKeH1nMMhvbEINPKHr0o0DSu64nWYHkvwn0NUxWJElm0D5RLUekHbJ5qyDj3CPIxGV/mXLqMrchNfmZl7I9VhXD7B/yXyyDGQGcyqf+8jEWWsHI/79mjMhMwRUoFccRfKQUHH4h5HYhyEvz8vKWX9wrAQQ92J2zadHRoWhGg7WZYVXmqUP7qVHFNIqFG4ktHD18vgo7LbWosVpz+j84hr/2MwETcF3yrGcaChd7IicOi3w9wrUHzbNV1b6cJgTik+9thM3+jAlT5XhdhZD/1Z0nisZ+yAUYqftw5L+J8CKODXXyuvHzC+JBmZ4zNmutR1M+Pu7a4dWv4Oe8tK/W7lMkkLFdMgxnytOePkJF1Cx5JP7hO8SaTc7ANpkWQFLMuim8JuIfIbz72w/H0DqsXJkE0MgvbtxJa9TaLK8bCcDC8pECfCTyyW5k4T/gJIoVQ1F5QXRJkrh94gF4B22l7/gRfY/WlhGhw==\"], \"state\": \"stopped\", \"protected\": false, \"state_detail\": \"\", \"public_ip\": null, \"public_ips\": [], \"mac_address\": \"de:00:00:d6:d6:79\", \"routed_ip_enabled\": true, \"ipv6\": null, \"extra_networks\": [], \"dynamic_ip_required\": true, \"enable_ipv6\": false, \"private_ip\": null, \"creation_date\": \"2025-11-27T16:00:34.090983+00:00\", \"modification_date\": \"2025-11-27T16:00:34.090983+00:00\", \"bootscript\": null, \"security_group\": {\"id\": \"96320557-68cb-45f1-9f9b-587a3c3f458c\", \"name\": \"Default security group\"}, \"location\": null, \"maintenances\": [], \"allowed_actions\": [\"poweron\", \"backup\"], \"placement_group\": null, \"private_nics\": [], \"zone\": \"fr-par-1\", \"filesystems\": [], \"end_of_service\": false}}"
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/fr-par-1/servers/8c6575d3-958f-445b-91b0-3d6cf1e6df65
    status: 201 Created
    code: 201
    duration: 638.190296ms
- id: 4
  request:
    host: api.scaleway.com
    body: "{\"action\":\"poweron\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers/8c6575d3-958f-445b-91b0-3d6cf1e6df65/action
    method: POST
  response:
    body: "{\"task\": {\"id\": \"d006d54d-c8ff-4570-bea5-834c8a1720c3\", \"description\": \"server_batch_poweron\", \"status\": \"pending\", \"href_from\": \"/servers/8c6575d3-958f-445b-91b0-3d6cf1e6df65/action\", \"href_result\": \"/servers/8c6575d3-958f-445b-91b0-3d6cf1e6df65\", \"started_at\": \"2025-11-27T16:00:34.946666+00:00\", \"terminated_at\": null, \"progress\": 0, \"zone\": \"fr-par-1\"}}"
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/fr-par-1/tasks/d006d54d-c8ff-4570-bea5-834c8a1720c3
    status: 202 Accepted
    code: 202
    duration: 370.284917ms
- id: 5
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers/8c6575d3-958f-445b-91b0-3d6cf1e6df65
    method: GET
  response:
    body: "{\"server\": {\"id\": \"8c6575d3-958f-445b-91b0-3d6cf1e6df65\", \"name\": \"packer-692875a1-19ed-b33a-6101-8b399a9aa1c5\", \"arch\": \"x86_64\", \"commercial_type\": \"PRO2-XXS\", \"boot_type\": \"local\", \"organization\": \"fa1e3217-dc80-42ac-85c3-3f034b78b552\", \"project\": \"19a4819b-24bf-4[...]
[...]
- id: 20
  request:
    host: api.scaleway.com
    body: "{\"volume_id\":\"d4a8494b-c861-44c7-831b-51d258a4c8e6\",\"name\":\"snp-relaxed-wu\",\"project_id\":\"19a4819b-24bf-4d44-969f-935ef0061b71\",\"tags\":[\"devtools\",\"provider\",\"packer\"]}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots
    method: POST
  response:
    body: "{\"id\":\"3527b561-5b37-4a8b-918e-e09edc6c3fc2\", \"name\":\"snp-relaxed-wu\", \"parent_volume\":{\"id\":\"d4a8494b-c861-44c7-831b-51d258a4c8e6\", \"name\":\"Ubuntu 22.04 Jammy Jellyfish_sbs_volume_0\", \"type\":\"sbs_5k\", \"status\":\"in_use\"}, \"size\":10000000000, \"project_id\":\"19a4819b-24bf-4d44-969f-935ef0061b71\", \"created_at\":\"2025-11-27T16:01:32.041255Z\", \"updated_at\":\"2025-11-27T16:01:32.041255Z\", \"references\":[], \"status\":\"creating\", \"tags\":[\"devtools\", \"provider\", \"packer\"], \"class\":\"sbs\", \"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 790.909989ms
- id: 21
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots/3527b561-5b37-4a8b-918e-e09edc6c3fc2
    method: GET
  response:
    body: "{\"id\":\"3527b561-5b37-4a8b-918e-e09edc6c3fc2\", \"name\":\"snp-relaxed-wu\", \"parent_volume\":{\"id\":\"d4a8494b-c861-44c7-831b-51d258a4c8e6\", \"name\":\"Ubuntu 22.04 Jammy Jellyfish_sbs_volume_0\", \"type\":\"sbs_5k\", \"status\":\"in_use\"}, \"size\":10000000000, \"project_id\":\"19a4819b-24bf-4d44-969f-935ef0061b71\", \"created_at\":\"2025-11-27T16:01:32.041255Z\", \"updated_at\":\"2025-11-27T16:01:32.041255Z\", \"references\":[], \"status\":\"creating\", \"tags\":[\"devtools\", \"provider\", \"packer\"], \"class\":\"sbs\", \"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 451.223809ms
[...]
- id: 23
  request:
    host: api.scaleway.com
    body: "{\"name\":\"packer-e2e-simple\",\"root_volume\":\"3527b561-5b37-4a8b-918e-e09edc6c3fc2\",\"arch\":\"x86_64\",\"project\":\"19a4819b-24bf-4d44-969f-935ef0061b71\",\"tags\":[\"devtools\",\"provider\",\"packer\"],\"public\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images
    method: POST
  response:
    body: "{\"image\": {\"id\": \"ebbe368b-455d-41be-a18a-02cbcaf4418b\", \"name\": \"packer-e2e-simple\", \"organization\": \"fa1e3217-dc80-42ac-85c3-3f034b78b552\", \"project\": \"19a4819b-24bf-4d44-969f-935ef0061b71\", \"root_volume\": {\"volume_type\": \"sbs_snapshot\", \"id\": \"3527b561-5b37-4a8b-918e-e09edc6c3fc2\", \"size\": 0, \"name\": \"\"}, \"extra_volumes\": {}, \"public\": false, \"arch\": \"x86_64\", \"creation_date\": \"2025-11-27T16:01:39.171361+00:00\", \"modification_date\": \"2025-11-27T16:01:39.171361+00:00\", \"default_bootscript\": null, \"from_server\": \"\", \"state\": \"available\", \"tags\": [\"devtools\", \"provider\", \"packer\"], \"zone\": \"fr-par-1\"}}"
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/fr-par-1/images/ebbe368b-455d-41be-a18a-02cbcaf4418b
    status: 201 Created
    code: 201
    duration: 981.512624ms
- id: 24
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images/ebbe368b-455d-41be-a18a-02cbcaf4418b
    method: GET
  response:
    body: "{\"image\": {\"id\": \"ebbe368b-455d-41be-a18a-02cbcaf4418b\", \"name\": \"packer-e2e-simple\", \"organization\": \"fa1e3217-dc80-42ac-85c3-3f034b78b552\", \"project\": \"19a4819b-24bf-4d44-969f-935ef0061b71\", \"root_volume\": {\"volume_type\": \"sbs_snapshot\", \"id\": \"3527b561-5b37-4a8b-918e-e09edc6c3fc2\", \"size\": 0, \"name\": \"\"}, \"extra_volumes\": {}, \"public\": false, \"arch\": \"x86_64\", \"creation_date\": \"2025-11-27T16:01:39.171361+00:00\", \"modification_date\": \"2025-11-27T16:01:39.171361+00:00\", \"default_bootscript\": null, \"from_server\": \"\", \"state\": \"available\", \"tags\": [\"devtools\", \"provider\", \"packer\"], \"zone\": \"fr-par-1\"}}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 72.741958ms
- id: 25
  request:
    host: api.scaleway.com
    body: "{\"tags\":[\"devtools\",\"provider\",\"packer\"]}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/block/v1/zones/fr-par-1/volumes/d4a8494b-c861-44c7-831b-51d258a4c8e6
    method: PATCH
  response:
    body: "{\"id\":\"d4a8494b-c861-44c7-831b-51d258a4c8e6\", \"name\":\"Ubuntu 22.04 Jammy Jellyfish_sbs_volume_0\", \"type\":\"sbs_5k\", \"size\":10000000000, \"project_id\":\"19a4819b-24bf-4d44-969f-935ef0061b71\", \"created_at\":\"2025-11-27T16:00:34.257251Z\", \"updated_at\":\"2025-11-27T16:00:34.257251Z\", \"references\":[{\"id\":\"4966fcd4-68ce-4060-9e1f-d0da0b7e8122\", \"product_resource_type\":\"instance_server\", \"product_resource_id\":\"8c6575d3-958f-445b-91b0-3d6cf1e6df65\", \"created_at\":\"2025-11-27T16:00:34.257251Z\", \"type\":\"exclusive\", \"status\":\"attached\"}], \"parent_snapshot_id\":\"36b4ce54-c67a-4f68-ab74-839515834352\", \"status\":\"in_use\", \"tags\":[\"devtools\", \"provider\", \"packer\"], \"specs\":{\"perf_iops\":5000, \"class\":\"sbs\"}, \"last_detached_at\":null, \"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 83.084581ms
[...]
- id: 28
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/d4a8494b-c861-44c7-831b-51d258a4c8e6
    method: GET
  response:
    body: "{\"type\": \"not_found\", \"message\": \"resource is not found\", \"resource\": \"instance_volume\", \"resource_id\": \"d4a8494b-c861-44c7-831b-51d258a4c8e6\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 28.070037ms
[...]
- id: 30
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/volumes/d4a8494b-c861-44c7-831b-51d258a4c8e6
    method: GET
  response:
    body: "{\"id\":\"d4a8494b-c861-44c7-831b-51d258a4c8e6\", \"name\":\"Ubuntu 22.04 Jammy Jellyfish_sbs_volume_0\", \"type\":\"sbs_5k\", \"size\":10000000000, \"project_id\":\"19a4819b-24bf-4d44-969f-935ef0061b71\", \"created_at\":\"2025-11-27T16:00:34.257251Z\", \"updated_at\":\"2025-11-27T16:01:40.754570Z\", \"references\":[], \"parent_snapshot_id\":\"36b4ce54-c67a-4f68-ab74-839515834352\", \"status\":\"available\", \"tags\":[\"devtools\", \"provider\", \"packer\"], \"specs\":{\"perf_iops\":5000, \"class\":\"sbs\"}, \"last_detached_at\":\"2025-11-27T16:01:40.754570Z\", \"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 41.072775ms
[...]
