---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    form:
      name:
      - packer-e2e-root-volume-local
      page:
      - "1"
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images?name=packer-e2e-root-volume-local&page=1
    method: GET
  response:
    body: "{\"images\": []}"
    headers:
      Content-Type:
      - application/json
      Link:
      - </images?page=0&per_page=50&name=packer-e2e-root-volume-local>; rel="last"
      X-Total-Count:
      - "0"
    status: 200 OK
    code: 200
    duration: 356.6105ms
- id: 1
  request:
    host: api.scaleway.com
    form:
      page:
      - "1"
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/snapshots?page=1
    method: GET
  response:
    body: "{\"snapshots\": [{\"id\": \"040de054-2855-426c-a8db-f224be7f2058\", \"name\": \"packer-e2e-root-volume-local_snap_0\", \"volume_type\": \"l_ssd\", \"creation_date\": \"2025-11-12T14:23:01.653225+00:00\", \"modification_date\": \"2025-11-12T14:32:10.634612+00:00\", \"organization\": \"fa1e3217-dc80-42ac-85c3-3f034b78b552\", \"project\": \"fa1e3217-dc80-42ac-85c3-3f034b78b552\", \"size\": 20000000000, \"state\": \"available\", \"base_volume\": null, \"tags\": [], \"zone\": \"fr-par-1\", \"error_details\": null}]}"
    headers:
      Content-Type:
      - application/json
      Link:
      - </snapshots?page=1&per_page=50&>; rel="last"
      X-Total-Count:
      - "1"
    status: 200 OK
    code: 200
    duration: 88.224877ms
- id: 2
  request:
    host: api.scaleway.com
    form:
      include_deleted:
      - "false"
      order_by:
      - created_at_asc
      page:
      - "1"
    headers:
    url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots?include_deleted=false&order_by=created_at_asc&page=1
    method: GET
  response:
    body: "{\"snapshots\":[{\"id\":\"394a7cc9-f236-4fdb-b04a-b7e40f44d4e0\", \"name\":\"snap-windows-configured\", \"parent_volume\":{\"id\":\"425394e3-34de-4afc-9fd2-461c3fc5b8a7\", \"name\":\"Windows Server 2022_sbs_volume_0\", \"type\":\"sbs_5k\", \"status\":\"in_use\"}, \"size\":25000000000, \"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\", \"created_at\":\"2025-10-21T16:49:55.784568Z\", \"updated_at\":\"2025-10-21T16:49:55.784568Z\", \"references\":[], \"status\":\"available\", \"tags\":[], \"class\":\"sbs\", \"zone\":\"fr-par-1\"}, {\"id\":\"27653438-1c9b-40b3-b734-985080000738\", \"name\":\"snap-windows-configured-larger\", \"parent_volume\":{\"id\":\"425394e3-34de-4afc-9fd2-461c3fc5b8a7\", \"name\":\"Windows Server 2022_sbs_volume_0\", \"type\":\"sbs_5k\", \"status\":\"in_use\"}, \"size\":40000000000, \"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\", \"created_at\":\"2025-11-10T15:53:12.265541Z\", \"updated_at\":\"2025-11-10T15:53:12.265541Z\", \"references\":[], \"status\":\"avail[...]
- id: 3
  request:
    host: api.scaleway.com
    body: "{\"name\":\"packer-69287611-5d43-359f-66fc-e04758f05992\",\"commercial_type\":\"GP1-XS\",\"image\":\"ubuntu_jammy\",\"volumes\":{\"0\":{\"size\":20000000000,\"volume_type\":\"l_ssd\"}},\"boot_type\":\"local\",\"project\":\"19a4819b-24bf-4d44-969f-935ef0061b71\",\"tags\":[\"AUTHORIZED_KEY=ssh-rsa_AAAAB3NzaC1yc2EAAAADAQABAAACAQCwozRgpX+Zo0WMYxkppKMjClV+JLPY9UHqG1PwOaffzWuA6uKY5tRLMFRnHGwdtIy4dx06tfHX/AuZafBzBmrYNaw6QUOFkuw7fRDRSJbYpwSLVe76lExK3jebOk3lKLT3kwxEC3l7twCJF6jSne4VOfOBa7NIzLQ83OWtASlZJyZoRtzdY1D8zWxb19ErVfIdVWRehi/zoIswnsXJrOAd+JdbeO60hlb7JUFP/zSOmyvUiDdCAoa7fz5NaWbwddcXToXq8OIDQtN/Lh5Y+wkh7+CxsFYxLFNeasy94R6KUoB3c1Wm7KC5Pa8q5A/ED3CAK7Je0s2ggvOnnxaZ9I+c8Xo7+avtWFuqQgTHocCIYl0N6qxy4wHqsMmIUpCjcTj8sFNgBMKIvQw/DIxvLPxm6mCHORwL7MoOw+DZzAnz47TzORMSrMojX8vblPGkW8ULFNUhJk2zuJPWSOor/S5bft7wHFkyE7NmwpjR7r6wVbTEygbc/8c0bCznxVXmKLxsOtwxO60JiViyCHr74wghEMEd96/m/+ycR2LLhykdwb4O5DlykbTYdLm/659Q4FxG2wbPEuC2HVxbdlnT5Sdu+ruVrUBlOwz3Nq4TEvmTgbJfbA1tCLGY3xPtBDsAEy9fA7l8QmYFm/2HYOF43zXb0hC/yxTTzGA+a4rdm/8Gbw==\"]}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers
    method: POST
  response:
    body: "{\"server\": {\"id\": \"08d875b2-ff03-4c47-aaeb-61f47344db7b\", \"name\": \"packer-69287611-5d43-359f-66fc-e04758f05992\", \"arch\": \"x86_64\", \"commercial_type\": \"GP1-XS\", \"boot_type\": \"local\", \"organization\": \"fa1e3217-dc80-42ac-85c3-3f034b78b552\", \"project\": \"19a4819b-24bf-4d44-969f-935ef0061b71\", \"hostname\": \"packer-69287611-5d43-359f-66fc-e04758f05992\", \"image\": {\"id\": \"ec31d73d-ca36-4536-adf4-0feb76d30379\", \"name\": \"Ubuntu 22.04 Jammy Jellyfish\", \"organization\": \"51b656e3-4865-41e8-adbc-0c45bdd780db\", \"project\": \"51b656e3-4865-41e8-adbc-0c45bdd780db\", \"root_volume\": {\"id\": \"1973043b-32c4-4d52-baf4-5c99b42b4e39\", \"name\": \"Ubuntu 22.04 Jammy Jellyfish\", \"volume_type\": \"l_ssd\", \"size\": 10000000000}, \"extra_volumes\": {}, \"public\": true, \"arch\": \"x86_64\", \"creation_date\": \"2025-09-12T09:11:46.109401+00:00\", \"modification_date\": \"2025-09-12T09:11:46.109401+00:00\", \"default_bootscript\": null, \"from_server\": \"\", \"state\": \"available\", \"tags\": [], \"zone\": \"fr-par-1\"}, \"volumes\": {\"0\": {\"boot\": false, \"id\": \"7bb909eb-a180-4020-b782-8d05bf350a50\", \"name\": \"Ubuntu 22.04 Jammy Jellyfish\", \"volume_type\": \"l_ssd\", \"organization\": \"fa1e3217-dc80-42ac-85c3-3f034b78b552\", \"project\": \"19a4819b-24bf-4d44-969f-935ef0061b71\", \"server\": {\"id\": \"08d875b2-ff03-4c47-aaeb-61f47344db7b\", \"name\": \"packer-69287611-5d43-359f-66fc-e04758f05992\"}, \"size\": 20000000000, \"state\": \"available\", \"creation_date\": \"2025-11-27T16:02:26.029329+00:00\", \"modification_date\": \"2025-11-27T16:02:26.029329+00:00\", \"tags\": [], \"zone\": \"fr-par-1\"}}, \"tags\": [\"AUTHORIZED_KEY=ssh-rsa_AAAAB3NzaC1yc2EAAAADAQABAAACAQCwozRgpX+Zo0WMYxkppKMjClV+JLPY9UHqG1PwOaffzWuA6uKY5tRLMFRnHGwdtIy4dx06tfHX/AuZafBzBmrYNaw6QUOFkuw7fRDRSJbYpwSLVe76lExK3jebOk3lKLT3kwxEC3l7twCJF6jSne4VOfOBa7NIzLQ83OWtASlZJyZoRtzdY1D8zWxb19ErVfIdVWRehi/zoIswnsXJrOAd+JdbeO60hlb7JUFP/zSOmyvUiDdCAoa7fz5NaWbwddcXToXq8OIDQtN/Lh5Y+wkh7+CxsFYxLFNeasy94R6KUoB3c1Wm7KC5Pa8q5A/ED3CAK7Je0s2ggvOnnxaZ9I+c8Xo7+avtWFuqQgTHocCIYl0N6qxy4wHqsMmIUpCjcTj8sFNgBMKIvQw/DIxvLPxm6mCHORwL7MoOw+DZzAnz47TzORMSrMojX8vblPGkW8ULFNUhJk2zuJPWSOor/S5bft7wHFkyE7NmwpjR7r6wVbTEygbc/8c0bCznxVXmKLxsOtwxO60JiViyCHr74wghEMEd96/m/+ycR2LLhykdwb4O5DlykbTYdLm/659Q4FxG2wbPEuC2HVxbdlnT5Sdu+ruVrUBlOwz3Nq4TEvmTgbJfbA1tCLGY3xPtBDsAEy9fA7l8QmYFm/2HYOF43zXb0hC/yxTTzGA+a4rdm/8Gbw==\"], \"state\": \"stopped\", \"protected\": false, \"state_detail\": \"\", \"public_ip\": null, \"public_ips\": [], \"mac_address\": \"de:00:00:d6:d6:9b\", \"routed_ip_enabled\": true, \"ipv6\": null, \"extra_networks\": [], \"dynamic_ip_required\": true, \"enable_ipv6\": false, \"private_ip\": null, \"creation_date\": \"2025-11-27T16:02:26.029329+00:00\", \"modification_date\": \"2025-11-27T16:02:26.029329+00:00\", \"bootscript\": null, \"security_group\": {\"id\": \"96320557-68cb-45f1-9f9b-587a3c3f458c\", \"name\": \"Default security group\"}, \"location\": null, \"maintenances\": [], \"allowed_actions\": [\"poweron\", \"backup\"], \"placement_group\": null, \"private_nics\": [], \"zone\": \"fr-par-1\", \"filesystems\": [], \"end_of_service\": false}}"
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/fr-par-1/servers/08d875b2-ff03-4c47-aaeb-61f47344db7b
    status: 201 Created
    code: 201
    duration: 317.772171ms
- id: 4
  request:
    host: api.scaleway.com
    body: "{\"action\":\"poweron\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers/08d875b2-ff03-4c47-aaeb-61f47344db7b/action
    method: POST
  response:
    body: "{\"task\": {\"id\": \"8940aabc-0c3a-47c7-b208-8f42f752daf4\", \"description\": \"server_batch_poweron\", \"status\": \"pending\", \"href_from\": \"/servers/08d875b2-ff03-4c47-aaeb-61f47344db7b/action\", \"href_result\": \"/servers/08d875b2-ff03-4c47-aaeb-61f47344db7b\", \"started_at\": \"2025-11-27T16:02:26.574881+00:00\", \"terminated_at\": null, \"progress\": 0, \"zone\": \"fr-par-1\"}}"
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/fr-par-1/tasks/8940aabc-0c3a-47c7-b208-8f42f752daf4
    status: 202 Accepted
    code: 202
    duration: 346.710548ms
- id: 5
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers/08d875b2-ff03-4c47-aaeb-61f47344db7b
    method: GET
  response:
    body: "{\"server\": {\"id\": \"08d875b2-ff03-4c47-aaeb-61f47344db7b\", \"name\": \"packer-69287611-5d43-359f-66fc-e04758f05992\", \"arch\": \"x86_64\", \"commercial_type\": \"GP1-XS\", \"boot_type\": \"local\", \"organization\": \"fa1e3217-dc80-42ac-85c3-3f034b78b552\", \"project\": \"19a4819b-24bf-4d4[...]
[...]
- id: 22
  request:
    host: api.scaleway.com
    body: "{\"name\":\"packer-1764259345\",\"volume_id\":\"7bb909eb-a180-4020-b782-8d05bf350a50\",\"project\":\"19a4819b-24bf-4d44-969f-935ef0061b71\",\"volume_type\":\"l_ssd\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/snapshots
    method: POST
  response:
    body: "{\"snapshot\": {\"id\": \"446cc2c0-bca3-46ee-b2eb-705c4c32ae16\", \"name\": \"packer-1764259345\", \"volume_type\": \"l_ssd\", \"creation_date\": \"2025-11-27T16:03:33.444049+00:00\", \"modification_date\": \"2025-11-27T16:03:33.444049+00:00\", \"organization\": \"fa1e3217-dc80-42ac-85c3-3f034b78b552\", \"project\": \"19a4819b-24bf-4d44-969f-935ef0061b71\", \"size\": 20000000000, \"state\": \"available\", \"base_volume\": {\"id\": \"7bb909eb-a180-4020-b782-8d05bf350a50\", \"name\": \"Ubuntu 22.04 Jammy Jellyfish\"}, \"tags\": [], \"zone\": \"fr-par-1\", \"error_details\": null}, \"task\": {\"id\": \"d924e7a3-6050-4499-a9f1-f0cb45cbf8c4\", \"description\": \"volume_snapshot\", \"status\": \"pending\", \"href_from\": \"/snapshots\", \"href_result\": \"snapshots/446cc2c0-bca3-46ee-b2eb-705c4c32ae16\", \"started_at\": \"2025-11-27T16:03:33.660490+00:00\", \"terminated_at\": null, \"progress\": 0, \"zone\": \"fr-par-1\"}}"
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: 304.280585ms
- id: 23
  request:
    host: api.scaleway.com
    body: "{\"name\":\"packer-e2e-root-volume-local\",\"root_volume\":\"446cc2c0-bca3-46ee-b2eb-705c4c32ae16\",\"arch\":\"x86_64\",\"project\":\"19a4819b-24bf-4d44-969f-935ef0061b71\",\"public\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images
    method: POST
  response:
    body: "{\"image\": {\"id\": \"4ea53ed9-009a-4c4f-8a71-0201076b1a50\", \"name\": \"packer-e2e-root-volume-local\", \"organization\": \"fa1e3217-dc80-42ac-85c3-3f034b78b552\", \"project\": \"19a4819b-24bf-4d44-969f-935ef0061b71\", \"root_volume\": {\"id\": \"446cc2c0-bca3-46ee-b2eb-705c4c32ae16\", \"name\": \"packer-1764259345\", \"volume_type\": \"l_ssd\", \"size\": 20000000000}, \"extra_volumes\": {}, \"public\": false, \"arch\": \"x86_64\", \"creation_date\": \"2025-11-27T16:03:33.770534+00:00\", \"modification_date\": \"2025-11-27T16:03:33.770534+00:00\", \"default_bootscript\": null, \"from_server\": \"\", \"state\": \"available\", \"tags\": [], \"zone\": \"fr-par-1\"}}"
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/fr-par-1/images/4ea53ed9-009a-4c4f-8a71-0201076b1a50
    status: 201 Created
    code: 201
    duration: 182.52066ms
- id: 24
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images/4ea53ed9-009a-4c4f-8a71-0201076b1a50
    method: GET
  response:
    body: "{\"image\": {\"id\": \"4ea53ed9-009a-4c4f-8a71-0201076b1a50\", \"name\": \"packer-e2e-root-volume-local\", \"organization\": \"fa1e3217-dc80-42ac-85c3-3f034b78b552\", \"project\": \"19a4819b-24bf-4d44-969f-935ef0061b71\", \"root_volume\": {\"id\": \"446cc2c0-bca3-46ee-b2eb-705c4c32ae16\", \"name\": \"packer-1764259345\", \"volume_type\": \"l_ssd\", \"size\": 20000000000}, \"extra_volumes\": {}, \"public\": false, \"arch\": \"x86_64\", \"creation_date\": \"2025-11-27T16:03:33.770534+00:00\", \"modification_date\": \"2025-11-27T16:03:33.770534+00:00\", \"default_bootscript\": null, \"from_server\": \"\", \"state\": \"available\", \"tags\": [], \"zone\": \"fr-par-1\"}}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 54.135239ms
[...]
- id: 26
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/7bb909eb-a180-4020-b782-8d05bf350a50
    method: GET
  response:
    body: "{\"volume\": {\"id\": \"7bb909eb-a180-4020-b782-8d05bf350a50\", \"name\": \"Ubuntu 22.04 Jammy Jellyfish\", \"volume_type\": \"l_ssd\", \"organization\": \"fa1e3217-dc80-42ac-85c3-3f034b78b552\", \"project\": \"19a4819b-24bf-4d44-969f-935ef0061b71\", \"server\": null, \"size\": 20000000000, \"state\": \"available\", \"creation_date\": \"2025-11-27T16:02:26.029329+00:00\", \"modification_date\": \"2025-11-27T16:03:33.969503+00:00\", \"tags\": [], \"zone\": \"fr-par-1\"}}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 48.888949ms
[...]
