---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    form:
      name:
      - packer-e2e-block
      page:
      - "1"
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images?name=packer-e2e-block&page=1
    method: GET
  response:
    body: "{\"images\": []}"
    headers:
      Content-Type:
      - application/json
      Link:
      - </images?page=0&per_page=50&name=packer-e2e-block>; rel="last"
      X-Total-Count:
      - "0"
    status: 200 OK
    code: 200
    duration: 363.809801ms
- id: 1
  request:
    host: api.scaleway.com
    form:
      page:
      - "1"
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/snapshots?page=1
    method: GET
  response:
    body: "{\"snapshots\": [{\"id\": \"040de054-2855-426c-a8db-f224be7f2058\", \"name\": \"packer-e2e-root-volume-local_snap_0\", \"volume_type\": \"l_ssd\", \"creation_date\": \"2025-11-12T14:23:01.653225+00:00\", \"modification_date\": \"2025-11-12T14:32:10.634612+00:00\", \"organization\": \"fa1e3217-dc80-42ac-85c3-3f034b78b552\", \"project\": \"fa1e3217-dc80-42ac-85c3-3f034b78b552\", \"size\": 20000000000, \"state\": \"available\", \"base_volume\": null, \"tags\": [], \"zone\": \"fr-par-1\", \"error_details\": null}]}"
    headers:
      Content-Type:
      - application/json
      Link:
      - </snapshots?page=1&per_page=50&>; rel="last"
      X-Total-Count:
      - "1"
    status: 200 OK
    code: 200
    duration: 131.786294ms
- id: 2
  request:
    host: api.scaleway.com
    form:
      include_deleted:
      - "false"
      order_by:
      - created_at_asc
      page:
      - "1"
    headers:
    url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots?include_deleted=false&order_by=created_at_asc&page=1
    method: GET
  response:
    body: "{\"snapshots\":[{\"id\":\"394a7cc9-f236-4fdb-b04a-b7e40f44d4e0\", \"name\":\"snap-windows-configured\", \"parent_volume\":{\"id\":\"425394e3-34de-4afc-9fd2-461c3fc5b8a7\", \"name\":\"Windows Server 2022_sbs_volume_0\", \"type\":\"sbs_5k\", \"status\":\"in_use\"}, \"size\":25000000000, \"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\", \"created_at\":\"2025-10-21T16:49:55.784568Z\", \"updated_at\":\"2025-10-21T16:49:55.784568Z\", \"references\":[], \"status\":\"available\", \"tags\":[], \"class\":\"sbs\", \"zone\":\"fr-par-1\"}, {\"id\":\"27653438-1c9b-40b3-b734-985080000738\", \"name\":\"snap-windows-configured-larger\", \"parent_volume\":{\"id\":\"425394e3-34de-4afc-9fd2-461c3fc5b8a7\", \"name\":\"Windows Server 2022_sbs_volume_0\", \"type\":\"sbs_5k\", \"status\":\"in_use\"}, \"size\":40000000000, \"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\", \"created_at\":\"2025-11-10T15:53:12.265541Z\", \"updated_at\":\"2025-11-10T15:53:12.265541Z\", \"references\":[], \"status\":\"avail[...]
- id: 3
  request:
    host: api.scaleway.com
    body: "{\"name\":\"volume-with-name\",\"perf_iops\":5000,\"project_id\":\"19a4819b-24bf-4d44-969f-935ef0061b71\",\"from_empty\":{\"size\":20000000000},\"tags\":null}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/volumes
    method: POST
  response:
    body: "{\"id\":\"c210b53e-fde7-4969-a4ef-6a8f8cf43107\", \"name\":\"volume-with-name\", \"type\":\"sbs_5k\", \"size\":20000000000, \"project_id\":\"19a4819b-24bf-4d44-969f-935ef0061b71\", \"created_at\":\"2025-11-27T16:13:54.117519Z\", \"updated_at\":\"2025-11-27T16:13:54.117519Z\", \"references\":[], \"parent_snapshot_id\":null, \"status\":\"creating\", \"tags\":[], \"specs\":{\"perf_iops\":5000, \"class\":\"sbs\"}, \"last_detached_at\":null, \"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 117.812054ms
- id: 4
  request:
    host: api.scaleway.com
    body: "{\"name\":\"packer-692878c1-2434-81c2-e611-d03b3b51eab1\",\"commercial_type\":\"PRO2-XXS\",\"image\":\"ubuntu_jammy\",\"volumes\":{\"1\":{\"id\":\"c210b53e-fde7-4969-a4ef-6a8f8cf43107\",\"volume_type\":\"sbs_volume\"}},\"boot_type\":\"local\",\"project\":\"19a4819b-24bf-4d44-969f-935ef0061b71\",\"tags\":[\"AUTHORIZED_KEY=ssh-rsa_AAAAB3NzaC1yc2EAAAADAQABAAACAQC8hqNoCjwHEJVvhzfsUyrvhA61U1sRfhcXKhJ+lLgRhITAjGzMygSbOHQp2ARXVL907u1xjzVGi44U+RexeiegJoT2rtkSwYTrGnoXrNSgm+C4PSG0+3QZfrC3PsZMQyR+w2MfV0NEhs+PY/WOIoQRAYlNwMVi94AkzAUEtUoEr4yrd4FItYlV24OWTKQDc25OI7sdJZARSgijigoVvHeQmfx5hyvbLOv9AB07MwrLkWxQc8Xsgvs4og5Og24qkA3YMczSsCyCOn7gfYUau4ey11+R4iQswPzRERSYX5zBiqF8Tq0/qhuYI1srb9/AAetRiiftSMdfzxLe3eUMcowXWdic5QxeSQsDNERsrvX1dpyyuihUs/l1Fm4n7LHwnZ0Cs8xCFjA+Zm3LvpI1avStuRJU6IOCWiPjZNKWBJdcE655MYjX0DMNtxUV7fGwoYH21G1Q/2n+HbNpMIcuoQaE8aiKpbVNhAvwooLRdFPicUPxv6/nXEByBye6HHLB0H2Xfn2OySRNwvZN1sLYNn9wveSVubUwL7566NDHb0p6dhcSGTSwGXyHCflDvbcR/QXXo/Kvo3/ijmjaYLfO4bkGO0824+fhVr8VGytM7pz1dwBJE50bO9KMmNn596DlWZBLmM6KVlDW6qxODtVN4RZiZMMrVGxU98B8lO3DlwvAUw==\"]}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers
    method: POST
  response:
    body: "{\"server\": {\"id\": \"fe9ae5a7-e30a-45bd-b2b5-505091d8b262\", \"name\": \"packer-692878c1-2434-81c2-e611-d03b3b51eab1\", \"arch\": \"x86_64\", \"commercial_type\": \"PRO2-XXS\", \"boot_type\": \"local\", \"organization\": \"fa1e3217-dc80-42ac-85c3-3f034b78b552\", \"project\": \"19a4819b-24bf-4d44-969f-935ef0061b71\", \"hostname\": \"packer-692878c1-2434-81c2-e611-d03b3b51eab1\", \"image\": {\"id\": \"6d3c053e-c728-4294-b23a-560b62a4d592\", \"name\": \"Ubuntu 22.04 Jammy Jellyfish\", \"organization\": \"51b656e3-4865-41e8-adbc-0c45bdd780db\", \"project\": \"51b656e3-4865-41e8-adbc-0c45bdd780db\", \"root_volume\": {\"volume_type\": \"sbs_snapshot\", \"id\": \"36b4ce54-c67a-4f68-ab74-839515834352\", \"size\": 0, \"name\": \"\"}, \"extra_volumes\": {}, \"public\": true, \"arch\": \"x86_64\", \"creation_date\": \"2025-09-12T09:11:41.420846+00:00\", \"modification_date\": \"2025-09-12T09:11:41.420846+00:00\", \"default_bootscript\": null, \"from_server\": \"\", \"state\": \"available\", \"tags\": [], \"zone\": \"fr-par-1\"}, \"volumes\": {\"0\": {\"boot\": false, \"volume_type\": \"sbs_volume\", \"id\": \"226c3fe7-664e-432d-a1f6-bbc8182e0259\", \"state\": \"available\", \"zone\": \"fr-par-1\"}, \"1\": {\"boot\": false, \"volume_type\": \"sbs_volume\", \"id\": \"c210b53e-fde7-4969-a4ef-6a8f8cf43107\", \"state\": \"available\", \"zone\": \"fr-par-1\"}}, \"tags\": [\"AUTHORIZED_KEY=ssh-rsa_AAAAB3NzaC1yc2EAAAADAQABAAACAQC8hqNoCjwHEJVvhzfsUyrvhA61U1sRfhcXKhJ+lLgRhITAjGzMygSbOHQp2ARXVL907u1xjzVGi44U+RexeiegJoT2rtkSwYTrGnoXrNSgm+C4PSG0+3QZfrC3PsZMQyR+w2MfV0NEhs+PY/WOIoQRAYlNwMVi94AkzAUEtUoEr4yrd4FItYlV24OWTKQDc25OI7sdJZARSgijigoVvHeQmfx5hyvbLOv9AB07MwrLkWxQc8Xsgvs4og5Og24qkA3YMczSsCyCOn7gfYUau4ey11+R4iQswPzRERSYX5zBiqF8Tq0/qhuYI1srb9/AAetRiiftSMdfzxLe3eUMcowXWdic5QxeSQsDNERsrvX1dpyyuihUs/l1Fm4n7LHwnZ0Cs8xCFjA+Zm3LvpI1avStuRJU6IOCWiPjZNKWBJdcE655MYjX0DMNtxUV7fGwoYH21G1Q/2n+HbNpMIcuoQaE8aiKpbVNhAvwooLRdFPicUPxv6/nXEByBye6HHLB0H2Xfn2OySRNwvZN1sLYNn9wveSVubUwL7566NDHb0p6dhcSGTSwGXyHCflDvbcR/QXXo/Kvo3/ijmjaYLfO4bkGO0824+fhVr8VGytM7pz1dwBJE50bO9KMmNn596DlWZBLmM6KVlDW6qxODtVN4RZiZMMrVGxU98B8lO3DlwvAUw==\"], \"state\": \"stopped\", \"protected\": false, \"state_detail\": \"\", \"public_ip\": null, \"public_ips\": [], \"mac_address\": \"de:00:00:d6:d7:73\", \"routed_ip_enabled\": true, \"ipv6\": null, \"extra_networks\": [], \"dynamic_ip_required\": true, \"enable_ipv6\": false, \"private_ip\": null, \"creation_date\": \"2025-11-27T16:13:54.261465+00:00\", \"modification_date\": \"2025-11-27T16:13:54.261465+00:00\", \"bootscript\": null, \"security_group\": {\"id\": \"96320557-68cb-45f1-9f9b-587a3c3f458c\", \"name\": \"Default security group\"}, \"location\": null, \"maintenances\": [], \"allowed_actions\": [\"poweron\", \"backup\"], \"placement_group\": null, \"private_nics\": [], \"zone\": \"fr-par-1\", \"filesystems\": [], \"end_of_service\": false}}"
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/fr-par-1/servers/fe9ae5a7-e30a-45bd-b2b5-505091d8b262
    status: 201 Created
    code: 201
    duration: 739.833961ms
- id: 5
  request:
    host: api.scaleway.com
    body: "{\"action\":\"poweron\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers/fe9ae5a7-e30a-45bd-b2b5-505091d8b262/action
    method: POST
  response:
    body: "{\"task\": {\"id\": \"fd6c4350-89b6-48fd-b44a-30c009d7de07\", \"description\": \"server_batch_poweron\", \"status\": \"pending\", \"href_from\": \"/servers/fe9ae5a7-e30a-45bd-b2b5-505091d8b262/action\", \"href_result\": \"/servers/fe9ae5a7-e30a-45bd-b2b5-505091d8b262\", \"started_at\": \"2025-11-27T16:13:55.240960+00:00\", \"terminated_at\": null, \"progress\": 0, \"zone\": \"fr-par-1\"}}"
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/fr-par-1/tasks/fd6c4350-89b6-48fd-b44a-30c009d7de07
    status: 202 Accepted
    code: 202
    duration: 366.711773ms
- id: 6
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers/fe9ae5a7-e30a-45bd-b2b5-505091d8b262
    method: GET
  response:
    body: "{\"server\": {\"id\": \"fe9ae5a7-e30a-45bd-b2b5-505091d8b262\", \"name\": \"packer-692878c1-2434-81c2-e611-d03b3b51eab1\", \"arch\": \"x86_64\", \"commercial_type\": \"PRO2-XXS\", \"boot_type\": \"local\", \"organization\": \"fa1e3217-dc80-42ac-85c3-3f034b78b552\", \"project\": \"19a4819b-24bf-4[...]
[...]
- id: 24
  request:
    host: api.scaleway.com
    body: "{\"volume_id\":\"226c3fe7-664e-432d-a1f6-bbc8182e0259\",\"name\":\"snp-happy-easley\",\"project_id\":\"19a4819b-24bf-4d44-969f-935ef0061b71\",\"tags\":null}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots
    method: POST
  response:
    body: "{\"id\":\"e48109b8-1c0d-4757-aafb-eebb1a56c788\", \"name\":\"snp-happy-easley\", \"parent_volume\":{\"id\":\"226c3fe7-664e-432d-a1f6-bbc8182e0259\", \"name\":\"Ubuntu 22.04 Jammy Jellyfish_sbs_volume_0\", \"type\":\"sbs_5k\", \"status\":\"in_use\"}, \"size\":10000000000, \"project_id\":\"19a4819b-24bf-4d44-969f-935ef0061b71\", \"created_at\":\"2025-11-27T16:15:07.748975Z\", \"updated_at\":\"2025-11-27T16:15:07.748975Z\", \"references\":[], \"status\":\"creating\", \"tags\":[], \"class\":\"sbs\", \"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 702.413711ms
- id: 25
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots/e48109b8-1c0d-4757-aafb-eebb1a56c788
    method: GET
  response:
    body: "{\"id\":\"e48109b8-1c0d-4757-aafb-eebb1a56c788\", \"name\":\"snp-happy-easley\", \"parent_volume\":{\"id\":\"226c3fe7-664e-432d-a1f6-bbc8182e0259\", \"name\":\"Ubuntu 22.04 Jammy Jellyfish_sbs_volume_0\", \"type\":\"sbs_5k\", \"status\":\"in_use\"}, \"size\":10000000000, \"project_id\":\"19a4819b-24bf-4d44-969f-935ef0061b71\", \"created_at\":\"2025-11-27T16:15:07.748975Z\", \"updated_at\":\"2025-11-27T16:15:07.748975Z\", \"references\":[], \"status\":\"creating\", \"tags\":[], \"class\":\"sbs\", \"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 515.022495ms
[...]
- id: 30
  request:
    host: api.scaleway.com
    body: "{\"name\":\"packer-e2e-block\",\"root_volume\":\"e48109b8-1c0d-4757-aafb-eebb1a56c788\",\"arch\":\"x86_64\",\"extra_volumes\":{\"1\":{\"id\":\"2d82ae3e-5cea-4e81-9563-4b7dad10a73d\"}},\"project\":\"19a4819b-24bf-4d44-969f-935ef0061b71\",\"public\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images
    method: POST
  response:
    body: "{\"image\": {\"id\": \"92eb9383-8f33-40f0-a7f0-11aaf79235e8\", \"name\": \"packer-e2e-block\", \"organization\": \"fa1e3217-dc80-42ac-85c3-3f034b78b552\", \"project\": \"19a4819b-24bf-4d44-969f-935ef0061b71\", \"root_volume\": {\"volume_type\": \"sbs_snapshot\", \"id\": \"e48109b8-1c0d-4757-aafb-eebb1a56c788\", \"size\": 0, \"name\": \"\"}, \"extra_volumes\": {\"1\": {\"volume_type\": \"sbs_snapshot\", \"id\": \"2d82ae3e-5cea-4e81-9563-4b7dad10a73d\", \"size\": 0, \"name\": \"\"}}, \"public\": false, \"arch\": \"x86_64\", \"creation_date\": \"2025-11-27T16:15:21.203705+00:00\", \"modification_date\": \"2025-11-27T16:15:21.203705+00:00\", \"default_bootscript\": null, \"from_server\": \"\", \"state\": \"available\", \"tags\": [], \"zone\": \"fr-par-1\"}}"
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/fr-par-1/images/92eb9383-8f33-40f0-a7f0-11aaf79235e8
    status: 201 Created
    code: 201
    duration: 972.239092ms
- id: 31
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images/92eb9383-8f33-40f0-a7f0-11aaf79235e8
    method: GET
  response:
    body: "{\"image\": {\"id\": \"92eb9383-8f33-40f0-a7f0-11aaf79235e8\", \"name\": \"packer-e2e-block\", \"organization\": \"fa1e3217-dc80-42ac-85c3-3f034b78b552\", \"project\": \"19a4819b-24bf-4d44-969f-935ef0061b71\", \"root_volume\": {\"volume_type\": \"sbs_snapshot\", \"id\": \"e48109b8-1c0d-4757-aafb-eebb1a56c788\", \"size\": 0, \"name\": \"\"}, \"extra_volumes\": {\"1\": {\"volume_type\": \"sbs_snapshot\", \"id\": \"2d82ae3e-5cea-4e81-9563-4b7dad10a73d\", \"size\": 0, \"name\": \"\"}}, \"public\": false, \"arch\": \"x86_64\", \"creation_date\": \"2025-11-27T16:15:21.203705+00:00\", \"modification_date\": \"2025-11-27T16:15:21.203705+00:00\", \"default_bootscript\": null, \"from_server\": \"\", \"state\": \"available\", \"tags\": [], \"zone\": \"fr-par-1\"}}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 92.781945ms
[...]
