---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    form:
      name:
      - packer-e2e-root-volume-local
      page:
      - "1"
      project:
      - 19a4819b-24bf-4d44-969f-935ef0061b71
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images?name=packer-e2e-root-volume-local&page=1&project=19a4819b-24bf-4d44-969f-935ef0061b71
    method: GET
  response:
    body: "{\"images\": [{\"id\": \"4ea53ed9-009a-4c4f-8a71-0201076b1a50\", \"name\": \"packer-e2e-root-volume-local\", \"organization\": \"fa1e3217-dc80-42ac-85c3-3f034b78b552\", \"project\": \"19a4819b-24bf-4d44-969f-935ef0061b71\", \"root_volume\": {\"id\": \"446cc2c0-bca3-46ee-b2eb-705c4c32ae16\", \"name\": \"packer-1764259345\", \"volume_type\": \"l_ssd\", \"size\": 20000000000}, \"extra_volumes\": {}, \"public\": false, \"arch\": \"x86_64\", \"creation_date\": \"2025-11-27T16:03:33.770534+00:00\", \"modification_date\": \"2025-11-27T16:03:33.770534+00:00\", \"default_bootscript\": null, \"from_server\": \"\", \"state\": \"available\", \"tags\": [], \"zone\": \"fr-par-1\"}]}"
    headers:
      Content-Type:
      - application/json
      Link:
      - </images?page=1&per_page=50&name=packer-e2e-root-volume-local&project=19a4819b-24bf-4d44-969f-935ef0061b71>; rel="last"
      X-Total-Count:
      - "1"
    status: 200 OK
    code: 200
    duration: 259.261968ms
- id: 1
  request:
    host: api.scaleway.com
    form:
      name:
      - packer-
      project:
      - 19a4819b-24bf-4d44-969f-935ef0061b71
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/snapshots?name=packer-&project=19a4819b-24bf-4d44-969f-935ef0061b71
    method: GET
  response:
    body: "{\"snapshots\": [{\"id\": \"446cc2c0-bca3-46ee-b2eb-705c4c32ae16\", \"name\": \"packer-1764259345\", \"volume_type\": \"l_ssd\", \"creation_date\": \"2025-11-27T16:03:33.444049+00:00\", \"modification_date\": \"2025-11-27T16:03:34.135324+00:00\", \"organization\": \"fa1e3217-dc80-42ac-85c3-3f034b78b552\", \"project\": \"19a4819b-24bf-4d44-969f-935ef0061b71\", \"size\": 20000000000, \"state\": \"available\", \"base_volume\": null, \"tags\": [], \"zone\": \"fr-par-1\", \"error_details\": null}]}"
    headers:
      Content-Type:
      - application/json
      Link:
      - </snapshots?page=1&per_page=50&name=packer-&project=19a4819b-24bf-4d44-969f-935ef0061b71>; rel="last"
      X-Total-Count:
      - "1"
    status: 200 OK
    code: 200
    duration: 127.458416ms
- id: 2
  request:
    host: api.scaleway.com
    form:
      project:
      - 19a4819b-24bf-4d44-969f-935ef0061b71
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes?project=19a4819b-24bf-4d44-969f-935ef0061b71
    method: GET
  response:
    body: "{\"volumes\": []}"
    headers:
      Content-Type:
      - application/json
      Link:
      - </volumes?page=0&per_page=100&project=19a4819b-24bf-4d44-969f-935ef0061b71>; rel="last"
      X-Total-Count:
      - "0"
    status: 200 OK
    code: 200
    duration: 64.183307ms
- id: 3
  request:
    host: api.scaleway.com
    form:
      include_deleted:
      - "false"
      order_by:
      - created_at_asc
      project_id:
      - 19a4819b-24bf-4d44-969f-935ef0061b71
    headers:
    url: https://api.scaleway.com/block/v1/zones/fr-par-1/volumes?include_deleted=false&order_by=created_at_asc&project_id=19a4819b-24bf-4d44-969f-935ef0061b71
    method: GET
  response:
    body: "{\"volumes\":[], \"total_count\":0}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 69.789566ms
[...]
- id: 5
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images/4ea53ed9-009a-4c4f-8a71-0201076b1a50
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: 290.207923ms
- id: 6
  request:
    host: api.scaleway.com
    form:
      name:
      - packer-
      page:
      - "1"
      project:
      - 19a4819b-24bf-4d44-969f-935ef0061b71
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/snapshots?name=packer-&page=1&project=19a4819b-24bf-4d44-969f-935ef0061b71
    method: GET
  response:
    body: "{\"snapshots\": [{\"id\": \"446cc2c0-bca3-46ee-b2eb-705c4c32ae16\", \"name\": \"packer-1764259345\", \"volume_type\": \"l_ssd\", \"creation_date\": \"2025-11-27T16:03:33.444049+00:00\", \"modification_date\": \"2025-11-27T16:03:34.135324+00:00\", \"organization\": \"fa1e3217-dc80-42ac-85c3-3f034b78b552\", \"project\": \"19a4819b-24bf-4d44-969f-935ef0061b71\", \"size\": 20000000000, \"state\": \"available\", \"base_volume\": null, \"tags\": [], \"zone\": \"fr-par-1\", \"error_details\": null}]}"
    headers:
      Content-Type:
      - application/json
      Link:
      - </snapshots?page=1&per_page=50&name=packer-&project=19a4819b-24bf-4d44-969f-935ef0061b71>; rel="last"
      X-Total-Count:
      - "1"
    status: 200 OK
    code: 200
    duration: 135.139366ms
- id: 7
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/snapshots/446cc2c0-bca3-46ee-b2eb-705c4c32ae16
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: 104.638958ms
