---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    form:
      name:
      - packer-e2e-root-volume-sbs
      page:
      - "1"
      project:
      - 19a4819b-24bf-4d44-969f-935ef0061b71
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images?name=packer-e2e-root-volume-sbs&page=1&project=19a4819b-24bf-4d44-969f-935ef0061b71
    method: GET
  response:
    body: "{\"images\": [{\"id\": \"c175a49a-65bc-468e-8cec-f09dcd6d963f\", \"name\": \"packer-e2e-root-volume-sbs\", \"organization\": \"fa1e3217-dc80-42ac-85c3-3f034b78b552\", \"project\": \"19a4819b-24bf-4d44-969f-935ef0061b71\", \"root_volume\": {\"volume_type\": \"sbs_snapshot\", \"id\": \"fb1bd29f-3c7a-4768-aca4-e53f52ae7463\", \"size\": 0, \"name\": \"\"}, \"extra_volumes\": {}, \"public\": false, \"arch\": \"x86_64\", \"creation_date\": \"2025-11-27T16:06:29.953285+00:00\", \"modification_date\": \"2025-11-27T16:06:29.953285+00:00\", \"default_bootscript\": null, \"from_server\": \"\", \"state\": \"available\", \"tags\": [], \"zone\": \"fr-par-1\"}]}"
    headers:
      Content-Type:
      - application/json
      Link:
      - </images?page=1&per_page=50&name=packer-e2e-root-volume-sbs&project=19a4819b-24bf-4d44-969f-935ef0061b71>; rel="last"
      X-Total-Count:
      - "1"
    status: 200 OK
    code: 200
    duration: 203.261493ms
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots/fb1bd29f-3c7a-4768-aca4-e53f52ae7463
    method: GET
  response:
    body: "{\"id\":\"fb1bd29f-3c7a-4768-aca4-e53f52ae7463\", \"name\":\"packer-1764259508\", \"parent_volume\":null, \"size\":50000000000, \"project_id\":\"19a4819b-24bf-4d44-969f-935ef0061b71\", \"created_at\":\"2025-11-27T16:06:22.456619Z\", \"updated_at\":\"2025-11-27T16:06:30.030480Z\", \"references\":[{\"id\":\"9f5f2522-b2eb-4e09-a06c-0c73e392bed3\", \"product_resource_type\":\"instance_image\", \"product_resource_id\":\"c175a49a-65bc-468e-8cec-f09dcd6d963f\", \"created_at\":\"2025-11-27T16:06:30.030480Z\", \"type\":\"link\", \"status\":\"attached\"}], \"status\":\"in_use\", \"tags\":[], \"class\":\"sbs\", \"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 516.694766ms
- id: 2
  request:
    host: api.scaleway.com
    form:
      include_deleted:
      - "false"
      name:
      - packer-
      order_by:
      - created_at_asc
      project_id:
      - 19a4819b-24bf-4d44-969f-935ef0061b71
    headers:
    url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots?include_deleted=false&name=packer-&order_by=created_at_asc&project_id=19a4819b-24bf-4d44-969f-935ef0061b71
    method: GET
  response:
    body: "{\"snapshots\":[{\"id\":\"fb1bd29f-3c7a-4768-aca4-e53f52ae7463\", \"name\":\"packer-1764259508\", \"parent_volume\":null, \"size\":50000000000, \"project_id\":\"19a4819b-24bf-4d44-969f-935ef0061b71\", \"created_at\":\"2025-11-27T16:06:22.456619Z\", \"updated_at\":\"2025-11-27T16:06:30.030480Z\", \"references\":[], \"status\":\"in_use\", \"tags\":[], \"class\":\"sbs\", \"zone\":\"fr-par-1\"}], \"total_count\":1}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 44.835858ms
- id: 3
  request:
    host: api.scaleway.com
    form:
      project:
      - 19a4819b-24bf-4d44-969f-935ef0061b71
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes?project=19a4819b-24bf-4d44-969f-935ef0061b71
    method: GET
  response:
    body: "{\"volumes\": []}"
    headers:
      Content-Type:
      - application/json
      Link:
      - </volumes?page=0&per_page=100&project=19a4819b-24bf-4d44-969f-935ef0061b71>; rel="last"
      X-Total-Count:
      - "0"
    status: 200 OK
    code: 200
    duration: 68.48471ms
- id: 4
  request:
    host: api.scaleway.com
    form:
      include_deleted:
      - "false"
      order_by:
      - created_at_asc
      project_id:
      - 19a4819b-24bf-4d44-969f-935ef0061b71
    headers:
    url: https://api.scaleway.com/block/v1/zones/fr-par-1/volumes?include_deleted=false&order_by=created_at_asc&project_id=19a4819b-24bf-4d44-969f-935ef0061b71
    method: GET
  response:
    body: "{\"volumes\":[], \"total_count\":0}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 57.464817ms
[...]
- id: 6
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images/c175a49a-65bc-468e-8cec-f09dcd6d963f
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: 611.529543ms
- id: 7
  request:
    host: api.scaleway.com
    form:
      include_deleted:
      - "false"
      name:
      - packer-
      order_by:
      - created_at_asc
      page:
      - "1"
      project_id:
      - 19a4819b-24bf-4d44-969f-935ef0061b71
    headers:
    url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots?include_deleted=false&name=packer-&order_by=created_at_asc&page=1&project_id=19a4819b-24bf-4d44-969f-935ef0061b71
    method: GET
  response:
    body: "{\"snapshots\":[{\"id\":\"fb1bd29f-3c7a-4768-aca4-e53f52ae7463\", \"name\":\"packer-1764259508\", \"parent_volume\":null, \"size\":50000000000, \"project_id\":\"19a4819b-24bf-4d44-969f-935ef0061b71\", \"created_at\":\"2025-11-27T16:06:22.456619Z\", \"updated_at\":\"2025-11-27T16:06:30.030480Z\", \"references\":[], \"status\":\"in_use\", \"tags\":[], \"class\":\"sbs\", \"zone\":\"fr-par-1\"}], \"total_count\":1}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 40.522784ms
[...]
