---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    form:
      name:
      - packer-e2e-snap-name-local
      page:
      - "1"
      project:
      - 19a4819b-24bf-4d44-969f-935ef0061b71
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-2/images?name=packer-e2e-snap-name-local&page=1&project=19a4819b-24bf-4d44-969f-935ef0061b71
    method: GET
  response:
    body: "{\"images\": [{\"id\": \"501cbc75-63ea-4e43-832c-6993f24c4729\", \"name\": \"packer-e2e-snap-name-local\", \"organization\": \"fa1e3217-dc80-42ac-85c3-3f034b78b552\", \"project\": \"19a4819b-24bf-4d44-969f-935ef0061b71\", \"root_volume\": {\"id\": \"4847426e-54df-49f3-b958-32e4906dc7f6\", \"name\": \"named-local-snapshot\", \"volume_type\": \"l_ssd\", \"size\": 10000000000}, \"extra_volumes\": {}, \"public\": false, \"arch\": \"x86_64\", \"creation_date\": \"2025-11-27T16:10:52.386806+00:00\", \"modification_date\": \"2025-11-27T16:10:52.386806+00:00\", \"default_bootscript\": null, \"from_server\": \"\", \"state\": \"available\", \"tags\": [\"test\", \"snapshot-name\", \"local\"], \"zone\": \"fr-par-2\"}]}"
    headers:
      Content-Type:
      - application/json
      Link:
      - </images?page=1&per_page=50&name=packer-e2e-snap-name-local&project=19a4819b-24bf-4d44-969f-935ef0061b71>; rel="last"
      X-Total-Count:
      - "1"
    status: 200 OK
    code: 200
    duration: 182.438565ms
- id: 1
  request:
    host: api.scaleway.com
    form:
      name:
      - named-local-snapshot
      project:
      - 19a4819b-24bf-4d44-969f-935ef0061b71
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-2/snapshots?name=named-local-snapshot&project=19a4819b-24bf-4d44-969f-935ef0061b71
    method: GET
  response:
    body: "{\"snapshots\": [{\"id\": \"4847426e-54df-49f3-b958-32e4906dc7f6\", \"name\": \"named-local-snapshot\", \"volume_type\": \"l_ssd\", \"creation_date\": \"2025-11-27T16:10:52.063331+00:00\", \"modification_date\": \"2025-11-27T16:10:52.063331+00:00\", \"organization\": \"fa1e3217-dc80-42ac-85c3-3f034b78b552\", \"project\": \"19a4819b-24bf-4d44-969f-935ef0061b71\", \"size\": 10000000000, \"state\": \"available\", \"base_volume\": {\"id\": \"60811a7c-1671-4f0e-bc03-2dc7b794a2f3\", \"name\": \"Ubuntu 22.04 Jammy Jellyfish\"}, \"tags\": [\"test\", \"snapshot-name\", \"local\"], \"zone\": \"fr-par-2\", \"error_details\": null}]}"
    headers:
      Content-Type:
      - application/json
      Link:
      - </snapshots?page=1&per_page=50&name=named-local-snapshot&project=19a4819b-24bf-4d44-969f-935ef0061b71>; rel="last"
      X-Total-Count:
      - "1"
    status: 200 OK
    code: 200
    duration: 156.001587ms
- id: 2
  request:
    host: api.scaleway.com
    form:
      name:
      - Ubuntu
      project:
      - 19a4819b-24bf-4d44-969f-935ef0061b71
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-2/volumes?name=Ubuntu&project=19a4819b-24bf-4d44-969f-935ef0061b71
    method: GET
  response:
    body: "{\"volumes\": [{\"id\": \"60811a7c-1671-4f0e-bc03-2dc7b794a2f3\", \"name\": \"Ubuntu 22.04 Jammy Jellyfish\", \"volume_type\": \"l_ssd\", \"organization\": \"fa1e3217-dc80-42ac-85c3-3f034b78b552\", \"project\": \"19a4819b-24bf-4d44-969f-935ef0061b71\", \"server\": null, \"size\": 10000000000, \"state\": \"available\", \"creation_date\": \"2025-11-27T16:09:39.304652+00:00\", \"modification_date\": \"2025-11-27T16:10:52.802659+00:00\", \"tags\": [\"test\", \"snapshot-name\", \"local\"], \"zone\": \"fr-par-2\"}]}"
    headers:
      Content-Type:
      - application/json
      Link:
      - </volumes?page=1&per_page=100&name=Ubuntu&project=19a4819b-24bf-4d44-969f-935ef0061b71>; rel="last"
      X-Total-Count:
      - "1"
    status: 200 OK
    code: 200
    duration: 66.279532ms
[...]
- id: 4
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-2/images/501cbc75-63ea-4e43-832c-6993f24c4729
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: 167.372929ms
- id: 5
  request:
    host: api.scaleway.com
    form:
      name:
      - named-local-snapshot
      page:
      - "1"
      project:
      - 19a4819b-24bf-4d44-969f-935ef0061b71
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-2/snapshots?name=named-local-snapshot&page=1&project=19a4819b-24bf-4d44-969f-935ef0061b71
    method: GET
  response:
    body: "{\"snapshots\": [{\"id\": \"4847426e-54df-49f3-b958-32e4906dc7f6\", \"name\": \"named-local-snapshot\", \"volume_type\": \"l_ssd\", \"creation_date\": \"2025-11-27T16:10:52.063331+00:00\", \"modification_date\": \"2025-11-27T16:10:52.063331+00:00\", \"organization\": \"fa1e3217-dc80-42ac-85c3-3f034b78b552\", \"project\": \"19a4819b-24bf-4d44-969f-935ef0061b71\", \"size\": 10000000000, \"state\": \"available\", \"base_volume\": {\"id\": \"60811a7c-1671-4f0e-bc03-2dc7b794a2f3\", \"name\": \"Ubuntu 22.04 Jammy Jellyfish\"}, \"tags\": [\"test\", \"snapshot-name\", \"local\"], \"zone\": \"fr-par-2\", \"error_details\": null}]}"
    headers:
      Content-Type:
      - application/json
      Link:
      - </snapshots?page=1&per_page=50&name=named-local-snapshot&project=19a4819b-24bf-4d44-969f-935ef0061b71>; rel="last"
      X-Total-Count:
      - "1"
    status: 200 OK
    code: 200
    duration: 124.778298ms
- id: 6
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-2/snapshots/4847426e-54df-49f3-b958-32e4906dc7f6
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: 120.560518ms
- id: 7
  request:
    host: api.scaleway.com
    form:
      name:
      - Ubuntu
      page:
      - "1"
      project:
      - 19a4819b-24bf-4d44-969f-935ef0061b71
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-2/volumes?name=Ubuntu&page=1&project=19a4819b-24bf-4d44-969f-935ef0061b71
    method: GET
  response:
    body: "{\"volumes\": [{\"id\": \"60811a7c-1671-4f0e-bc03-2dc7b794a2f3\", \"name\": \"Ubuntu 22.04 Jammy Jellyfish\", \"volume_type\": \"l_ssd\", \"organization\": \"fa1e3217-dc80-42ac-85c3-3f034b78b552\", \"project\": \"19a4819b-24bf-4d44-969f-935ef0061b71\", \"server\": null, \"size\": 10000000000, \"state\": \"available\", \"creation_date\": \"2025-11-27T16:09:39.304652+00:00\", \"modification_date\": \"2025-11-27T16:10:52.802659+00:00\", \"tags\": [\"test\", \"snapshot-name\", \"local\"], \"zone\": \"fr-par-2\"}]}"
    headers:
      Content-Type:
      - application/json
      Link:
      - </volumes?page=1&per_page=100&name=Ubuntu&project=19a4819b-24bf-4d44-969f-935ef0061b71>; rel="last"
      X-Total-Count:
      - "1"
    status: 200 OK
    code: 200
    duration: 79.299692ms
- id: 8
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-2/volumes/60811a7c-1671-4f0e-bc03-2dc7b794a2f3
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: 104.057844ms
