---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    form:
      name:
      - packer-e2e-snap-name-block
      page:
      - "1"
      project:
      - 19a4819b-24bf-4d44-969f-935ef0061b71
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-2/images?name=packer-e2e-snap-name-block&page=1&project=19a4819b-24bf-4d44-969f-935ef0061b71
    method: GET
  response:
    body: "{\"images\": [{\"id\": \"f1dadfa4-b36a-4533-a40a-9cd9ddfd30d9\", \"name\": \"packer-e2e-snap-name-block\", \"organization\": \"fa1e3217-dc80-42ac-85c3-3f034b78b552\", \"project\": \"19a4819b-24bf-4d44-969f-935ef0061b71\", \"root_volume\": {\"volume_type\": \"sbs_snapshot\", \"id\": \"cd9a6095-d203-44a5-a324-e345f5290f20\", \"size\": 0, \"name\": \"\"}, \"extra_volumes\": {}, \"public\": false, \"arch\": \"x86_64\", \"creation_date\": \"2025-11-27T16:09:07.210890+00:00\", \"modification_date\": \"2025-11-27T16:09:07.210890+00:00\", \"default_bootscript\": null, \"from_server\": \"\", \"state\": \"available\", \"tags\": [\"test\", \"snapshot-name\", \"block\"], \"zone\": \"fr-par-2\"}]}"
    headers:
      Content-Type:
      - application/json
      Link:
      - </images?page=1&per_page=50&name=packer-e2e-snap-name-block&project=19a4819b-24bf-4d44-969f-935ef0061b71>; rel="last"
      X-Total-Count:
      - "1"
    status: 200 OK
    code: 200
    duration: 185.297029ms
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/block/v1/zones/fr-par-2/snapshots/cd9a6095-d203-44a5-a324-e345f5290f20
    method: GET
  response:
    body: "{\"id\":\"cd9a6095-d203-44a5-a324-e345f5290f20\", \"name\":\"named-block-snapshot\", \"parent_volume\":{\"id\":\"5fbf9e6b-0e65-40af-9d00-61fe22f4d7be\", \"name\":\"Ubuntu 22.04 Jammy Jellyfish_sbs_volume_0\", \"type\":\"sbs_5k\", \"status\":\"available\"}, \"size\":10000000000, \"project_id\":\"19a4819b-24bf-4d44-969f-935ef0061b71\", \"created_at\":\"2025-11-27T16:09:01.827143Z\", \"updated_at\":\"2025-11-27T16:09:07.281288Z\", \"references\":[{\"id\":\"e79f7955-60cc-4f4d-ac73-5d1ed57456fa\", \"product_resource_type\":\"instance_image\", \"product_resource_id\":\"f1dadfa4-b36a-4533-a40a-9cd9ddfd30d9\", \"created_at\":\"2025-11-27T16:09:07.281288Z\", \"type\":\"link\", \"status\":\"attached\"}], \"status\":\"in_use\", \"tags\":[\"test\", \"snapshot-name\", \"block\"], \"class\":\"sbs\", \"zone\":\"fr-par-2\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 92.811953ms
- id: 2
  request:
    host: api.scaleway.com
    form:
      include_deleted:
      - "false"
      name:
      - named-block-snapshot
      order_by:
      - created_at_asc
      project_id:
      - 19a4819b-24bf-4d44-969f-935ef0061b71
    headers:
    url: https://api.scaleway.com/block/v1/zones/fr-par-2/snapshots?include_deleted=false&name=named-block-snapshot&order_by=created_at_asc&project_id=19a4819b-24bf-4d44-969f-935ef0061b71
    method: GET
  response:
    body: "{\"snapshots\":[{\"id\":\"cd9a6095-d203-44a5-a324-e345f5290f20\", \"name\":\"named-block-snapshot\", \"parent_volume\":{\"id\":\"5fbf9e6b-0e65-40af-9d00-61fe22f4d7be\", \"name\":\"Ubuntu 22.04 Jammy Jellyfish_sbs_volume_0\", \"type\":\"sbs_5k\", \"status\":\"available\"}, \"size\":10000000000, \"project_id\":\"19a4819b-24bf-4d44-969f-935ef0061b71\", \"created_at\":\"2025-11-27T16:09:01.827143Z\", \"updated_at\":\"2025-11-27T16:09:07.281288Z\", \"references\":[], \"status\":\"in_use\", \"tags\":[\"test\", \"snapshot-name\", \"block\"], \"class\":\"sbs\", \"zone\":\"fr-par-2\"}], \"total_count\":1}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 44.491652ms
- id: 3
  request:
    host: api.scaleway.com
    form:
      include_deleted:
      - "false"
      name:
      - Ubuntu
      order_by:
      - created_at_asc
      project_id:
      - 19a4819b-24bf-4d44-969f-935ef0061b71
    headers:
    url: https://api.scaleway.com/block/v1/zones/fr-par-2/volumes?include_deleted=false&name=Ubuntu&order_by=created_at_asc&project_id=19a4819b-24bf-4d44-969f-935ef0061b71
    method: GET
  response:
    body: "{\"volumes\":[{\"id\":\"5fbf9e6b-0e65-40af-9d00-61fe22f4d7be\", \"name\":\"Ubuntu 22.04 Jammy Jellyfish_sbs_volume_0\", \"type\":\"sbs_5k\", \"size\":10000000000, \"project_id\":\"19a4819b-24bf-4d44-969f-935ef0061b71\", \"created_at\":\"2025-11-27T16:08:04.497284Z\", \"updated_at\":\"2025-11-27T16:09:07.993747Z\", \"references\":[], \"parent_snapshot_id\":\"baff3d88-f99e-4343-8753-cbd9d30b1c86\", \"status\":\"available\", \"tags\":[\"test\", \"snapshot-name\", \"block\"], \"specs\":{\"perf_iops\":5000, \"class\":\"sbs\"}, \"last_detached_at\":\"2025-11-27T16:09:07.993747Z\", \"zone\":\"fr-par-2\"}], \"total_count\":1}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 46.505709ms
[...]
- id: 5
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-2/images/f1dadfa4-b36a-4533-a40a-9cd9ddfd30d9
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: 446.836063ms
- id: 6
  request:
    host: api.scaleway.com
    form:
      include_deleted:
      - "false"
      name:
      - named-block-snapshot
      order_by:
      - created_at_asc
      page:
      - "1"
      project_id:
      - 19a4819b-24bf-4d44-969f-935ef0061b71
    headers:
    url: https://api.scaleway.com/block/v1/zones/fr-par-2/snapshots?include_deleted=false&name=named-block-snapshot&order_by=created_at_asc&page=1&project_id=19a4819b-24bf-4d44-969f-935ef0061b71
    method: GET
  response:
    body: "{\"snapshots\":[{\"id\":\"cd9a6095-d203-44a5-a324-e345f5290f20\", \"name\":\"named-block-snapshot\", \"parent_volume\":{\"id\":\"5fbf9e6b-0e65-40af-9d00-61fe22f4d7be\", \"name\":\"Ubuntu 22.04 Jammy Jellyfish_sbs_volume_0\", \"type\":\"sbs_5k\", \"status\":\"available\"}, \"size\":10000000000, \"project_id\":\"19a4819b-24bf-4d44-969f-935ef0061b71\", \"created_at\":\"2025-11-27T16:09:01.827143Z\", \"updated_at\":\"2025-11-27T16:09:07.281288Z\", \"references\":[], \"status\":\"in_use\", \"tags\":[\"test\", \"snapshot-name\", \"block\"], \"class\":\"sbs\", \"zone\":\"fr-par-2\"}], \"total_count\":1}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 41.011007ms
[...]
- id: 8
  request:
    host: api.scaleway.com
    form:
      include_deleted:
      - "false"
      name:
      - Ubuntu
      order_by:
      - created_at_asc
      page:
      - "1"
      project_id:
      - 19a4819b-24bf-4d44-969f-935ef0061b71
    headers:
    url: https://api.scaleway.com/block/v1/zones/fr-par-2/volumes?include_deleted=false&name=Ubuntu&order_by=created_at_asc&page=1&project_id=19a4819b-24bf-4d44-969f-935ef0061b71
    method: GET
  response:
    body: "{\"volumes\":[{\"id\":\"5fbf9e6b-0e65-40af-9d00-61fe22f4d7be\", \"name\":\"Ubuntu 22.04 Jammy Jellyfish_sbs_volume_0\", \"type\":\"sbs_5k\", \"size\":10000000000, \"project_id\":\"19a4819b-24bf-4d44-969f-935ef0061b71\", \"created_at\":\"2025-11-27T16:08:04.497284Z\", \"updated_at\":\"2025-11-27T16:09:07.993747Z\", \"references\":[], \"parent_snapshot_id\":\"baff3d88-f99e-4343-8753-cbd9d30b1c86\", \"status\":\"available\", \"tags\":[\"test\", \"snapshot-name\", \"block\"], \"specs\":{\"perf_iops\":5000, \"class\":\"sbs\"}, \"last_detached_at\":\"2025-11-27T16:09:07.993747Z\", \"zone\":\"fr-par-2\"}], \"total_count\":1}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 52.076955ms
- id: 9
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/block/v1/zones/fr-par-2/volumes/5fbf9e6b-0e65-40af-9d00-61fe22f4d7be
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: 66.639566ms
